<a href="https://colab.research.google.com/github/SupidchayaTangkidwanich/prj/blob/main/check_total_of_real_car_images.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive #เชื่อมเข้ากับ Drive 
drive.mount('/content/drive')  # คลิกที่ลิงก์ -> เลือก E-mail -> ลงชื่อเข้าใช้ -> ก็อปโค้ด -> นำกลับมาวางในช่องว่าง -> กด enter

Mounted at /content/drive

In [3]:
ls #คำสั่ง ls ดูว่าเชื่อมในไดร์ฟหรือยัง

drive/  sample_data/

In [4]:
import os # os เอาไว้จัดการไฟล์และ path

## ดึงตาราง

In [5]:
path = '/content/drive/My Drive/Newdata' #path คือที่อยู่ของไฟล์ โดยไฟล์อยู่ในไดร์ฟ ชื่อโฟลเดอร์ว่า File
data  = pd.read_csv(os.path.join(path,'real.csv')) 
data

,Unnamed: 0,Path_Name,id,Part
0,0,/content/drive/My Drive/car/car001/p08/left-00...,car001,p08
1,1,/content/drive/My Drive/car/car001/p08/left-01...,car001,p08
2,2,/content/drive/My Drive/car/car001/p08/left-00...,car001,p08
3,3,/content/drive/My Drive/car/car001/p08/left-00...,car001,p08
4,4,/content/drive/My Drive/car/car001/p08/left-00...,car001,p08
...,...,...,...,...
5831,126,/content/drive/My Drive/car/car052/p14/left-11...,car052,p14
5832,127,/content/drive/My Drive/car/car052/p14/left-11...,car052,p14
5833,128,/content/drive/My Drive/car/car052/p14/left-11...,car052,p14
5834,129,/content/drive/My Drive/car/car052/p14/left-11...,car052,p14
5835,130,/content/drive/My Drive/car/car052/p14/left-11...,car052,p14

In [6]:
data_clean1 = data[data['Part']=='p01']
data_clean13 = data[data['Part']=='p02'] 
data_clean2 = data[data['Part']=='p03']
data_clean3 = data[data['Part']=='p04']
data_clean4 = data[data['Part']=='p05']
data_clean5 = data[data['Part']=='p06']
data_clean6 = data[data['Part']=='p07']
data_clean7 = data[data['Part']=='p08']
data_clean8 = data[data['Part']=='p09']
data_clean9 = data[data['Part']=='p10']
data_clean10 = data[data['Part']=='p11']
data_clean11 = data[data['Part']=='p12']
data_clean12 = data[data['Part']=='p13']
data_clean14 = data[data['Part']=='p14']
data_clean15 = data[data['Part']=='p15']

In [7]:
print(len(data_clean1))
print(len(data_clean13))
print(len(data_clean2))
print(len(data_clean3))
print(len(data_clean4))
print(len(data_clean5))
print(len(data_clean6))
print(len(data_clean7))
print(len(data_clean8))
print(len(data_clean9))
print(len(data_clean10))
print(len(data_clean11))
print(len(data_clean12))
print(len(data_clean14))
print(len(data_clean15))

303
679
421
370
592
637
216
374
500
513
309
296
236
390
0