<a href="https://colab.research.google.com/github/SupidchayaTangkidwanich/-prj/blob/main/test3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
from google.colab import drive #เชื่อมเข้ากับ Drive 
drive.mount('/content/drive')  # คลิกที่ลิงก์ -> เลือก E-mail -> ลงชื่อเข้าใช้ -> ก็อปโค้ด -> นำกลับมาวางในช่องว่าง -> กด enter

Mounted at /content/drive

In [4]:
ls #คำสั่ง ls ดูว่าเชื่อมในไดร์ฟหรือยัง

drive/  sample_data/

In [5]:
import os # os เอาไว้จัดการไฟล์และ path

#การนำเข้าไฟล์

## ตารางองศาแบบมีประตู

In [6]:
path = '/content/drive/My Drive/File' #path คือที่อยู่ของไฟล์ โดยไฟล์อยู่ในไดร์ฟ ชื่อโฟลเดอร์ว่า File
DY  = pd.read_csv(os.path.join(path,'DY.csv')) 
DY = DY.iloc[:,1:]
DY

   Part    Angle
0   p01   63-115
1   p02   63-115
2   p03  116-135
3   p04    46-62
4   p05  143-180
5   p06   358-30
6   p07  136-142
7   p08    31-45
8   p09  181-225
9   p10  311-357
10  p11  226-250
11  p12  291-310
12  p13  251-290
13  p14  251-290

## car003

In [7]:
car003  = pd.read_csv(os.path.join(path,'car003.csv')) 
car003 = car003.iloc[:,1:]
car003

         ID           Name  Angle
0    car003  left-0001.ppm    270
1    car003  left-0029.ppm    273
2    car003  left-0057.ppm    278
3    car003  left-0085.ppm    285
4    car003  left-0113.ppm    292
..      ...            ...    ...
119  car003  left-3333.ppm    308
120  car003  left-3361.ppm    309
121  car003  left-3389.ppm    309
122  car003  left-3417.ppm    311
123  car003  left-3445.ppm    313

[124 rows x 3 columns]

## test

In [8]:
for i in range(len(car003)):
    ang = car003['Angle'][i]
    if 30 < ang < 46 :
        car003.loc[car003.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car003.loc[car003.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car003.loc[car003.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car003.loc[car003.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car003.loc[car003.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car003.loc[car003.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car003.loc[car003.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car003.loc[car003.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car003.loc[car003.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')  
    if 290 < ang < 311 :
        car003.loc[car003.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car003.loc[car003.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car003.loc[car003.index[i], 'P'] = 'p06'

In [9]:
car003

         ID           Name  Angle         P
0    car003  left-0001.ppm    270  p13, p14
1    car003  left-0029.ppm    273  p13, p14
2    car003  left-0057.ppm    278  p13, p14
3    car003  left-0085.ppm    285  p13, p14
4    car003  left-0113.ppm    292       p12
..      ...            ...    ...       ...
119  car003  left-3333.ppm    308       p12
120  car003  left-3361.ppm    309       p12
121  car003  left-3389.ppm    309       p12
122  car003  left-3417.ppm    311       p10
123  car003  left-3445.ppm    313       p10

[124 rows x 4 columns]

## car004

In [10]:
car004  = pd.read_csv(os.path.join(path,'car004.csv')) 
car004 = car004.iloc[:,1:]
car004

         ID           Name  Angle
0    car004  left-0001.ppm    319
1    car004  left-0031.ppm    317
2    car004  left-0061.ppm    312
3    car004  left-0091.ppm    305
4    car004  left-0121.ppm    299
..      ...            ...    ...
116  car004  left-3481.ppm    331
117  car004  left-3511.ppm    327
118  car004  left-3541.ppm    324
119  car004  left-3571.ppm    320
120  car004  left-3601.ppm    317

[121 rows x 3 columns]

In [11]:
for i in range(len(car004)):
    ang = car004['Angle'][i]
    if 30 < ang < 46 :
        car004.loc[car004.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car004.loc[car004.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car004.loc[car004.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car004.loc[car004.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car004.loc[car004.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car004.loc[car004.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car004.loc[car004.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car004.loc[car004.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car004.loc[car004.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')  
    if 290 < ang < 311 :
        car004.loc[car004.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car004.loc[car004.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car004.loc[car004.index[i], 'P'] = 'p06'

In [12]:
car004

         ID           Name  Angle    P
0    car004  left-0001.ppm    319  p10
1    car004  left-0031.ppm    317  p10
2    car004  left-0061.ppm    312  p10
3    car004  left-0091.ppm    305  p12
4    car004  left-0121.ppm    299  p12
..      ...            ...    ...  ...
116  car004  left-3481.ppm    331  p10
117  car004  left-3511.ppm    327  p10
118  car004  left-3541.ppm    324  p10
119  car004  left-3571.ppm    320  p10
120  car004  left-3601.ppm    317  p10

[121 rows x 4 columns]

## car005

In [13]:
car005  = pd.read_csv(os.path.join(path,'car005.csv')) 
car005 = car005.iloc[:,1:]
car005

         ID           Name  Angle
0    car005  left-0001.ppm     11
1    car005  left-0026.ppm     11
2    car005  left-0051.ppm     10
3    car005  left-0076.ppm     10
4    car005  left-0101.ppm     10
..      ...            ...    ...
116  car005  left-2901.ppm     12
117  car005  left-2926.ppm     12
118  car005  left-2951.ppm     12
119  car005  left-2976.ppm     12
120  car005  left-3001.ppm     12

[121 rows x 3 columns]

In [14]:
for i in range(len(car005)):
    ang = car005['Angle'][i]
    if 30 < ang < 46 :
        car005.loc[car005.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car005.loc[car005.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car005.loc[car005.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car005.loc[car005.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car005.loc[car005.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car005.loc[car005.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car005.loc[car005.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car005.loc[car005.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car005.loc[car005.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car005.loc[car005.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car005.loc[car005.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car005.loc[car005.index[i], 'P'] = 'p06'

In [15]:
car005

         ID           Name  Angle    P
0    car005  left-0001.ppm     11  p06
1    car005  left-0026.ppm     11  p06
2    car005  left-0051.ppm     10  p06
3    car005  left-0076.ppm     10  p06
4    car005  left-0101.ppm     10  p06
..      ...            ...    ...  ...
116  car005  left-2901.ppm     12  p06
117  car005  left-2926.ppm     12  p06
118  car005  left-2951.ppm     12  p06
119  car005  left-2976.ppm     12  p06
120  car005  left-3001.ppm     12  p06

[121 rows x 4 columns]

## car009

In [16]:
car009  = pd.read_csv(os.path.join(path,'car009.csv')) 
car009 = car009.iloc[:,1:]
car009

         ID           Name  Angle
0    car009  left-0001.ppm     81
1    car009  left-0015.ppm     81
2    car009  left-0029.ppm     78
3    car009  left-0043.ppm     75
4    car009  left-0057.ppm     72
..      ...            ...    ...
120  car009  left-1681.ppm     58
121  car009  left-1695.ppm     54
122  car009  left-1709.ppm     52
123  car009  left-1723.ppm     52
124  car009  left-1737.ppm     52

[125 rows x 3 columns]

In [17]:
for i in range(len(car009)):
    ang = car009['Angle'][i]
    if 30 < ang < 46 :
        car009.loc[car009.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car009.loc[car009.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car009.loc[car009.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car009.loc[car009.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car009.loc[car009.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car009.loc[car009.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car009.loc[car009.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car009.loc[car009.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car009.loc[car009.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car009.loc[car009.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car009.loc[car009.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car009.loc[car009.index[i], 'P'] = 'p06'

In [18]:
car009

         ID           Name  Angle        P
0    car009  left-0001.ppm     81  p01,p02
1    car009  left-0015.ppm     81  p01,p02
2    car009  left-0029.ppm     78  p01,p02
3    car009  left-0043.ppm     75  p01,p02
4    car009  left-0057.ppm     72  p01,p02
..      ...            ...    ...      ...
120  car009  left-1681.ppm     58      p04
121  car009  left-1695.ppm     54      p04
122  car009  left-1709.ppm     52      p04
123  car009  left-1723.ppm     52      p04
124  car009  left-1737.ppm     52      p04

[125 rows x 4 columns]

## car010

In [19]:
car010  = pd.read_csv(os.path.join(path,'car010.csv')) 
car010 = car010.iloc[:,1:]
car010

         ID           Name  Angle
0    car010  left-0001.ppm    205
1    car010  left-0016.ppm    206
2    car010  left-0031.ppm    209
3    car010  left-0046.ppm    213
4    car010  left-0061.ppm    218
..      ...            ...    ...
118  car010  left-1771.ppm    326
119  car010  left-1786.ppm    329
120  car010  left-1801.ppm    332
121  car010  left-1816.ppm    336
122  car010  left-1831.ppm    340

[123 rows x 3 columns]

In [20]:
for i in range(len(car010)):
    ang = car010['Angle'][i]
    if 30 < ang < 46 :
        car010.loc[car010.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car010.loc[car010.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car010.loc[car010.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car010.loc[car010.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car010.loc[car010.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car010.loc[car010.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car010.loc[car010.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car010.loc[car010.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car010.loc[car010.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car010.loc[car010.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car010.loc[car010.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car010.loc[car010.index[i], 'P'] = 'p06'

In [21]:
car010

         ID           Name  Angle    P
0    car010  left-0001.ppm    205  p09
1    car010  left-0016.ppm    206  p09
2    car010  left-0031.ppm    209  p09
3    car010  left-0046.ppm    213  p09
4    car010  left-0061.ppm    218  p09
..      ...            ...    ...  ...
118  car010  left-1771.ppm    326  p10
119  car010  left-1786.ppm    329  p10
120  car010  left-1801.ppm    332  p10
121  car010  left-1816.ppm    336  p10
122  car010  left-1831.ppm    340  p10

[123 rows x 4 columns]

##car011

In [22]:
car011  = pd.read_csv(os.path.join(path,'car011.csv')) 
car011 = car011.iloc[:,1:]
car011

         ID           Name  Angle
0    car011  left-0001.ppm     68
1    car011  left-0019.ppm     68
2    car011  left-0037.ppm     70
3    car011  left-0055.ppm     73
4    car011  left-0073.ppm     77
..      ...            ...    ...
118  car011  left-2125.ppm     81
119  car011  left-2143.ppm     85
120  car011  left-2161.ppm     89
121  car011  left-2179.ppm     94
122  car011  left-2197.ppm     98

[123 rows x 3 columns]

In [23]:
for i in range(len(car011)):
    ang = car011['Angle'][i]
    if 30 < ang < 46 :
        car011.loc[car011.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car011.loc[car011.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car011.loc[car011.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car011.loc[car011.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car011.loc[car011.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car011.loc[car011.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car011.loc[car011.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car011.loc[car011.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car011.loc[car011.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car011.loc[car011.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car011.loc[car011.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car011.loc[car011.index[i], 'P'] = 'p06'

In [24]:
car011

         ID           Name  Angle        P
0    car011  left-0001.ppm     68  p01,p02
1    car011  left-0019.ppm     68  p01,p02
2    car011  left-0037.ppm     70  p01,p02
3    car011  left-0055.ppm     73  p01,p02
4    car011  left-0073.ppm     77  p01,p02
..      ...            ...    ...      ...
118  car011  left-2125.ppm     81  p01,p02
119  car011  left-2143.ppm     85  p01,p02
120  car011  left-2161.ppm     89  p01,p02
121  car011  left-2179.ppm     94  p01,p02
122  car011  left-2197.ppm     98  p01,p02

[123 rows x 4 columns]

## car012

In [25]:
car012  = pd.read_csv(os.path.join(path,'car012.csv')) 
car012 = car012.iloc[:,1:]
car012

         ID           Name  Angle
0    car012  left-0001.ppm    117
1    car012  left-0024.ppm    116
2    car012  left-0047.ppm    115
3    car012  left-0070.ppm    111
4    car012  left-0093.ppm    107
..      ...            ...    ...
119  car012  left-2738.ppm     86
120  car012  left-2761.ppm     81
121  car012  left-2784.ppm     77
122  car012  left-2807.ppm     72
123  car012  left-2830.ppm     68

[124 rows x 3 columns]

In [26]:
for i in range(len(car012)):
    ang = car012['Angle'][i]
    if 30 < ang < 46 :
        car012.loc[car012.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car012.loc[car012.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car012.loc[car012.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car012.loc[car012.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car012.loc[car012.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car012.loc[car012.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car012.loc[car012.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car012.loc[car012.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car012.loc[car012.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car012.loc[car012.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car012.loc[car012.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car012.loc[car012.index[i], 'P'] = 'p06'

In [27]:
car012

         ID           Name  Angle        P
0    car012  left-0001.ppm    117      p03
1    car012  left-0024.ppm    116      p03
2    car012  left-0047.ppm    115  p01,p02
3    car012  left-0070.ppm    111  p01,p02
4    car012  left-0093.ppm    107  p01,p02
..      ...            ...    ...      ...
119  car012  left-2738.ppm     86  p01,p02
120  car012  left-2761.ppm     81  p01,p02
121  car012  left-2784.ppm     77  p01,p02
122  car012  left-2807.ppm     72  p01,p02
123  car012  left-2830.ppm     68  p01,p02

[124 rows x 4 columns]

## car013

In [28]:
car013  = pd.read_csv(os.path.join(path,'car013.csv')) 
car013 = car013.iloc[:,1:]
car013

         ID           Name  Angle
0    car013  left-0001.ppm     71
1    car013  left-0016.ppm     71
2    car013  left-0031.ppm     73
3    car013  left-0046.ppm     74
4    car013  left-0061.ppm     76
..      ...            ...    ...
118  car013  left-1771.ppm     72
119  car013  left-1786.ppm     74
120  car013  left-1801.ppm     76
121  car013  left-1816.ppm     78
122  car013  left-1831.ppm     80

[123 rows x 3 columns]

In [29]:
for i in range(len(car013)):
    ang = car013['Angle'][i]
    if 30 < ang < 46 :
        car013.loc[car013.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car013.loc[car013.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car013.loc[car013.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car013.loc[car013.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car013.loc[car013.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car013.loc[car013.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car013.loc[car013.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car013.loc[car013.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car013.loc[car013.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car013.loc[car013.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car013.loc[car013.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car013.loc[car013.index[i], 'P'] = 'p06'

In [30]:
car013

         ID           Name  Angle        P
0    car013  left-0001.ppm     71  p01,p02
1    car013  left-0016.ppm     71  p01,p02
2    car013  left-0031.ppm     73  p01,p02
3    car013  left-0046.ppm     74  p01,p02
4    car013  left-0061.ppm     76  p01,p02
..      ...            ...    ...      ...
118  car013  left-1771.ppm     72  p01,p02
119  car013  left-1786.ppm     74  p01,p02
120  car013  left-1801.ppm     76  p01,p02
121  car013  left-1816.ppm     78  p01,p02
122  car013  left-1831.ppm     80  p01,p02

[123 rows x 4 columns]

## car015

In [31]:
car015  = pd.read_csv(os.path.join(path,'car015.csv')) 
car015 = car015.iloc[:,1:]
car015

         ID           Name  Angle
0    car015  left-0001.ppm    111
1    car015  left-0024.ppm    111
2    car015  left-0047.ppm    111
3    car015  left-0070.ppm    110
4    car015  left-0093.ppm    111
..      ...            ...    ...
118  car015  left-2715.ppm    126
119  car015  left-2738.ppm    130
120  car015  left-2761.ppm    136
121  car015  left-2784.ppm    139
122  car015  left-2807.ppm    142

[123 rows x 3 columns]

In [32]:
for i in range(len(car015)):
    ang = car015['Angle'][i]
    if 30 < ang < 46 :
        car015.loc[car015.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car015.loc[car015.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car015.loc[car015.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car015.loc[car015.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car015.loc[car015.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car015.loc[car015.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car015.loc[car015.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car015.loc[car015.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car015.loc[car015.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car015.loc[car015.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car015.loc[car015.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car015.loc[car015.index[i], 'P'] = 'p06'

In [33]:
car015

         ID           Name  Angle        P
0    car015  left-0001.ppm    111  p01,p02
1    car015  left-0024.ppm    111  p01,p02
2    car015  left-0047.ppm    111  p01,p02
3    car015  left-0070.ppm    110  p01,p02
4    car015  left-0093.ppm    111  p01,p02
..      ...            ...    ...      ...
118  car015  left-2715.ppm    126      p03
119  car015  left-2738.ppm    130      p03
120  car015  left-2761.ppm    136      p07
121  car015  left-2784.ppm    139      p07
122  car015  left-2807.ppm    142      p07

[123 rows x 4 columns]

## car016

In [35]:
car016  = pd.read_csv(os.path.join(path,'car016.csv')) 
car016 = car016.iloc[:,1:]
car016

         ID           Name  Angle
0    car016  left-0001.ppm    113
1    car016  left-0023.ppm    113
2    car016  left-0045.ppm    115
3    car016  left-0067.ppm    118
4    car016  left-0089.ppm    121
..      ...            ...    ...
116  car016  left-2553.ppm     63
117  car016  left-2575.ppm     68
118  car016  left-2597.ppm     74
119  car016  left-2619.ppm     79
120  car016  left-2641.ppm     84

[121 rows x 3 columns]

In [36]:
for i in range(len(car016)):
    ang = car016['Angle'][i]
    if 30 < ang < 46 :
        car016.loc[car016.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car016.loc[car016.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car016.loc[car016.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car016.loc[car016.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car016.loc[car016.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car016.loc[car016.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car016.loc[car016.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car016.loc[car016.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car016.loc[car016.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car016.loc[car016.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car016.loc[car016.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car016.loc[car016.index[i], 'P'] = 'p06'

In [37]:
car016

         ID           Name  Angle        P
0    car016  left-0001.ppm    113  p01,p02
1    car016  left-0023.ppm    113  p01,p02
2    car016  left-0045.ppm    115  p01,p02
3    car016  left-0067.ppm    118      p03
4    car016  left-0089.ppm    121      p03
..      ...            ...    ...      ...
116  car016  left-2553.ppm     63  p01,p02
117  car016  left-2575.ppm     68  p01,p02
118  car016  left-2597.ppm     74  p01,p02
119  car016  left-2619.ppm     79  p01,p02
120  car016  left-2641.ppm     84  p01,p02

[121 rows x 4 columns]

## car018

In [38]:
car018  = pd.read_csv(os.path.join(path,'car018.csv')) 
car018 = car018.iloc[:,1:]
car018

         ID           Name  Angle
0    car018  left-0001.ppm    170
1    car018  left-0025.ppm    169
2    car018  left-0049.ppm    166
3    car018  left-0073.ppm    165
4    car018  left-0097.ppm    161
..      ...            ...    ...
117  car018  left-2809.ppm    139
118  car018  left-2833.ppm    136
119  car018  left-2857.ppm    133
120  car018  left-2881.ppm    132
121  car018  left-2905.ppm    132

[122 rows x 3 columns]

In [39]:
for i in range(len(car018)):
    ang = car018['Angle'][i]
    if 30 < ang < 46 :
        car018.loc[car018.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car018.loc[car018.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car018.loc[car018.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car018.loc[car018.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car018.loc[car018.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car018.loc[car018.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car018.loc[car018.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car018.loc[car018.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car018.loc[car018.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car018.loc[car018.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car018.loc[car018.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car018.loc[car018.index[i], 'P'] = 'p06'

In [40]:
car018

         ID           Name  Angle    P
0    car018  left-0001.ppm    170  p05
1    car018  left-0025.ppm    169  p05
2    car018  left-0049.ppm    166  p05
3    car018  left-0073.ppm    165  p05
4    car018  left-0097.ppm    161  p05
..      ...            ...    ...  ...
117  car018  left-2809.ppm    139  p07
118  car018  left-2833.ppm    136  p07
119  car018  left-2857.ppm    133  p03
120  car018  left-2881.ppm    132  p03
121  car018  left-2905.ppm    132  p03

[122 rows x 4 columns]

## car021

In [41]:
car021  = pd.read_csv(os.path.join(path,'car021.csv')) 
car021 = car021.iloc[:,1:]
car021

         ID           Name  Angle
0    car021  left-0001.ppm     90
1    car021  left-0023.ppm     90
2    car021  left-0045.ppm     91
3    car021  left-0067.ppm     91
4    car021  left-0089.ppm     93
..      ...            ...    ...
120  car021  left-2641.ppm     67
121  car021  left-2663.ppm     73
122  car021  left-2685.ppm     78
123  car021  left-2707.ppm     84
124  car021  left-2729.ppm     90

[125 rows x 3 columns]

In [42]:
for i in range(len(car021)):
    ang = car021['Angle'][i]
    if 30 < ang < 46 :
        car021.loc[car021.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car021.loc[car021.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car021.loc[car021.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car021.loc[car021.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car021.loc[car021.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car021.loc[car021.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car021.loc[car021.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car021.loc[car021.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car021.loc[car021.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car021.loc[car021.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car021.loc[car021.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car021.loc[car021.index[i], 'P'] = 'p06'

In [43]:
car021

         ID           Name  Angle        P
0    car021  left-0001.ppm     90  p01,p02
1    car021  left-0023.ppm     90  p01,p02
2    car021  left-0045.ppm     91  p01,p02
3    car021  left-0067.ppm     91  p01,p02
4    car021  left-0089.ppm     93  p01,p02
..      ...            ...    ...      ...
120  car021  left-2641.ppm     67  p01,p02
121  car021  left-2663.ppm     73  p01,p02
122  car021  left-2685.ppm     78  p01,p02
123  car021  left-2707.ppm     84  p01,p02
124  car021  left-2729.ppm     90  p01,p02

[125 rows x 4 columns]

## car022

In [44]:
car022  = pd.read_csv(os.path.join(path,'car022.csv')) 
car022 = car022.iloc[:,1:]
car022

         ID           Name  Angle
0    car022  left-0001.ppm    113
1    car022  left-0019.ppm    113
2    car022  left-0037.ppm    114
3    car022  left-0055.ppm    115
4    car022  left-0073.ppm    119
..      ...            ...    ...
118  car022  left-2125.ppm      2
119  car022  left-2143.ppm      6
120  car022  left-2161.ppm     10
121  car022  left-2179.ppm     14
122  car022  left-2197.ppm     15

[123 rows x 3 columns]

In [46]:
for i in range(len(car022)):
    ang = car022['Angle'][i]
    if 30 < ang < 46 :
        car022.loc[car022.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car022.loc[car022.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car022.loc[car022.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car022.loc[car022.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car022.loc[car022.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car022.loc[car022.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car022.loc[car022.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car022.loc[car022.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car022.loc[car022.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car022.loc[car022.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car022.loc[car022.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car022.loc[car022.index[i], 'P'] = 'p06'

In [47]:
car022

         ID           Name  Angle        P
0    car022  left-0001.ppm    113  p01,p02
1    car022  left-0019.ppm    113  p01,p02
2    car022  left-0037.ppm    114  p01,p02
3    car022  left-0055.ppm    115  p01,p02
4    car022  left-0073.ppm    119      p03
..      ...            ...    ...      ...
118  car022  left-2125.ppm      2      p06
119  car022  left-2143.ppm      6      p06
120  car022  left-2161.ppm     10      p06
121  car022  left-2179.ppm     14      p06
122  car022  left-2197.ppm     15      p06

[123 rows x 4 columns]

## car024

In [48]:
car024  = pd.read_csv(os.path.join(path,'car024.csv')) 
car024 = car024.iloc[:,1:]
car024

         ID           Name  Angle
0    car024  left-0001.ppm     69
1    car024  left-0021.ppm     70
2    car024  left-0041.ppm     72
3    car024  left-0061.ppm     77
4    car024  left-0081.ppm     83
..      ...            ...    ...
118  car024  left-2361.ppm     81
119  car024  left-2381.ppm     85
120  car024  left-2401.ppm     89
121  car024  left-2421.ppm     93
122  car024  left-2441.ppm     97

[123 rows x 3 columns]

In [49]:
for i in range(len(car024)):
    ang = car024['Angle'][i]
    if 30 < ang < 46 :
        car024.loc[car024.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car024.loc[car024.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car024.loc[car024.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car024.loc[car024.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car024.loc[car024.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car024.loc[car024.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car024.loc[car024.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car024.loc[car024.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car024.loc[car024.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car024.loc[car024.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car024.loc[car024.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car024.loc[car024.index[i], 'P'] = 'p06'

In [50]:
car024

         ID           Name  Angle        P
0    car024  left-0001.ppm     69  p01,p02
1    car024  left-0021.ppm     70  p01,p02
2    car024  left-0041.ppm     72  p01,p02
3    car024  left-0061.ppm     77  p01,p02
4    car024  left-0081.ppm     83  p01,p02
..      ...            ...    ...      ...
118  car024  left-2361.ppm     81  p01,p02
119  car024  left-2381.ppm     85  p01,p02
120  car024  left-2401.ppm     89  p01,p02
121  car024  left-2421.ppm     93  p01,p02
122  car024  left-2441.ppm     97  p01,p02

[123 rows x 4 columns]

## car025

In [51]:
car025  = pd.read_csv(os.path.join(path,'car025.csv')) 
car025 = car025.iloc[:,1:]
car025

         ID           Name  Angle
0    car025  left-0001.ppm     32
1    car025  left-0021.ppm     32
2    car025  left-0041.ppm     31
3    car025  left-0061.ppm     28
4    car025  left-0081.ppm     26
..      ...            ...    ...
120  car025  left-2401.ppm     36
121  car025  left-2421.ppm     35
122  car025  left-2441.ppm     35
123  car025  left-2461.ppm     34
124  car025  left-2481.ppm     34

[125 rows x 3 columns]

In [52]:
for i in range(len(car025)):
    ang = car025['Angle'][i]
    if 30 < ang < 46 :
        car025.loc[car025.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car025.loc[car025.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car025.loc[car025.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car025.loc[car025.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car025.loc[car025.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car025.loc[car025.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car025.loc[car025.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car025.loc[car025.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car025.loc[car025.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car025.loc[car025.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car025.loc[car025.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car025.loc[car025.index[i], 'P'] = 'p06'

In [53]:
car025

         ID           Name  Angle    P
0    car025  left-0001.ppm     32  p08
1    car025  left-0021.ppm     32  p08
2    car025  left-0041.ppm     31  p08
3    car025  left-0061.ppm     28  p06
4    car025  left-0081.ppm     26  p06
..      ...            ...    ...  ...
120  car025  left-2401.ppm     36  p08
121  car025  left-2421.ppm     35  p08
122  car025  left-2441.ppm     35  p08
123  car025  left-2461.ppm     34  p08
124  car025  left-2481.ppm     34  p08

[125 rows x 4 columns]

## car027

In [54]:
car027  = pd.read_csv(os.path.join(path,'car027.csv')) 
car027 = car027.iloc[:,1:]
car027

         ID           Name  Angle
0    car027  left-0001.ppm    357
1    car027  left-0014.ppm    360
2    car027  left-0027.ppm      2
3    car027  left-0040.ppm      5
4    car027  left-0053.ppm      7
..      ...            ...    ...
120  car027  left-1561.ppm     21
121  car027  left-1574.ppm     23
122  car027  left-1587.ppm     26
123  car027  left-1600.ppm     27
124  car027  left-1613.ppm     29

[125 rows x 3 columns]

In [55]:
for i in range(len(car027)):
    ang = car027['Angle'][i]
    if 30 < ang < 46 :
        car027.loc[car027.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car027.loc[car027.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car027.loc[car027.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car027.loc[car027.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car027.loc[car027.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car027.loc[car027.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car027.loc[car027.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car027.loc[car027.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car027.loc[car027.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car027.loc[car027.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car027.loc[car027.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car027.loc[car027.index[i], 'P'] = 'p06'

In [56]:
car027

         ID           Name  Angle    P
0    car027  left-0001.ppm    357  p10
1    car027  left-0014.ppm    360  p06
2    car027  left-0027.ppm      2  p06
3    car027  left-0040.ppm      5  p06
4    car027  left-0053.ppm      7  p06
..      ...            ...    ...  ...
120  car027  left-1561.ppm     21  p06
121  car027  left-1574.ppm     23  p06
122  car027  left-1587.ppm     26  p06
123  car027  left-1600.ppm     27  p06
124  car027  left-1613.ppm     29  p06

[125 rows x 4 columns]

## car029

In [57]:
car029  = pd.read_csv(os.path.join(path,'car029.csv')) 
car029 = car029.iloc[:,1:]
car029

         ID           Name  Angle
0    car029  left-0001.ppm    307
1    car029  left-0016.ppm    307
2    car029  left-0031.ppm    306
3    car029  left-0046.ppm    302
4    car029  left-0061.ppm    300
..      ...            ...    ...
122  car029  left-1831.ppm    211
123  car029  left-1846.ppm    205
124  car029  left-1861.ppm    199
125  car029  left-1876.ppm    193
126  car029  left-1891.ppm    188

[127 rows x 3 columns]

In [58]:
for i in range(len(car029)):
    ang = car029['Angle'][i]
    if 30 < ang < 46 :
        car029.loc[car029.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car029.loc[car029.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car029.loc[car029.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car029.loc[car029.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car029.loc[car029.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car029.loc[car029.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car029.loc[car029.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car029.loc[car029.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car029.loc[car029.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car029.loc[car029.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car029.loc[car029.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car029.loc[car029.index[i], 'P'] = 'p06'

In [59]:
car029

         ID           Name  Angle    P
0    car029  left-0001.ppm    307  p12
1    car029  left-0016.ppm    307  p12
2    car029  left-0031.ppm    306  p12
3    car029  left-0046.ppm    302  p12
4    car029  left-0061.ppm    300  p12
..      ...            ...    ...  ...
122  car029  left-1831.ppm    211  p09
123  car029  left-1846.ppm    205  p09
124  car029  left-1861.ppm    199  p09
125  car029  left-1876.ppm    193  p09
126  car029  left-1891.ppm    188  p09

[127 rows x 4 columns]

## car030

In [60]:
car030  = pd.read_csv(os.path.join(path,'car030.csv')) 
car030 = car030.iloc[:,1:]
car030

         ID           Name  Angle
0    car030  left-0001.ppm     29
1    car030  left-0018.ppm     29
2    car030  left-0035.ppm     32
3    car030  left-0052.ppm     36
4    car030  left-0069.ppm     40
..      ...            ...    ...
116  car030  left-1973.ppm    282
117  car030  left-1990.ppm    289
118  car030  left-2007.ppm    296
119  car030  left-2024.ppm    302
120  car030  left-2041.ppm    302

[121 rows x 3 columns]

In [61]:
for i in range(len(car030)):
    ang = car030['Angle'][i]
    if 30 < ang < 46 :
        car030.loc[car030.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car030.loc[car030.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car030.loc[car030.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car030.loc[car030.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car030.loc[car030.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car030.loc[car030.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car030.loc[car030.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car030.loc[car030.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car030.loc[car030.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car030.loc[car030.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car030.loc[car030.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car030.loc[car030.index[i], 'P'] = 'p06'

In [62]:
car030

         ID           Name  Angle         P
0    car030  left-0001.ppm     29       p06
1    car030  left-0018.ppm     29       p06
2    car030  left-0035.ppm     32       p08
3    car030  left-0052.ppm     36       p08
4    car030  left-0069.ppm     40       p08
..      ...            ...    ...       ...
116  car030  left-1973.ppm    282  p13, p14
117  car030  left-1990.ppm    289  p13, p14
118  car030  left-2007.ppm    296       p12
119  car030  left-2024.ppm    302       p12
120  car030  left-2041.ppm    302       p12

[121 rows x 4 columns]

## car032

In [63]:
car032  = pd.read_csv(os.path.join(path,'car032.csv')) 
car032 = car032.iloc[:,1:]
car032

         ID           Name  Angle
0    car032  left-0001.ppm    202
1    car032  left-0016.ppm    201
2    car032  left-0031.ppm    200
3    car032  left-0046.ppm    197
4    car032  left-0061.ppm    194
..      ...            ...    ...
116  car032  left-1741.ppm    114
117  car032  left-1756.ppm    108
118  car032  left-1771.ppm    102
119  car032  left-1786.ppm     97
120  car032  left-1801.ppm     93

[121 rows x 3 columns]

In [64]:
for i in range(len(car032)):
    ang = car032['Angle'][i]
    if 30 < ang < 46 :
        car032.loc[car032.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car032.loc[car032.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car032.loc[car032.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car032.loc[car032.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car032.loc[car032.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car032.loc[car032.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car032.loc[car032.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car032.loc[car032.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car032.loc[car032.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car032.loc[car032.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car032.loc[car032.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car032.loc[car032.index[i], 'P'] = 'p06'

In [65]:
car032

         ID           Name  Angle        P
0    car032  left-0001.ppm    202      p09
1    car032  left-0016.ppm    201      p09
2    car032  left-0031.ppm    200      p09
3    car032  left-0046.ppm    197      p09
4    car032  left-0061.ppm    194      p09
..      ...            ...    ...      ...
116  car032  left-1741.ppm    114  p01,p02
117  car032  left-1756.ppm    108  p01,p02
118  car032  left-1771.ppm    102  p01,p02
119  car032  left-1786.ppm     97  p01,p02
120  car032  left-1801.ppm     93  p01,p02

[121 rows x 4 columns]

## car034

In [66]:
car034  = pd.read_csv(os.path.join(path,'car034.csv')) 
car034 = car034.iloc[:,1:]
car034

         ID           Name  Angle
0    car034  left-0001.ppm    126
1    car034  left-0015.ppm    126
2    car034  left-0029.ppm    128
3    car034  left-0043.ppm    131
4    car034  left-0057.ppm    135
..      ...            ...    ...
120  car034  left-1681.ppm    234
121  car034  left-1695.ppm    238
122  car034  left-1709.ppm    242
123  car034  left-1723.ppm    247
124  car034  left-1737.ppm    250

[125 rows x 3 columns]

In [67]:
for i in range(len(car034)):
    ang = car034['Angle'][i]
    if 30 < ang < 46 :
        car034.loc[car034.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car034.loc[car034.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car034.loc[car034.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car034.loc[car034.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car034.loc[car034.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car034.loc[car034.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car034.loc[car034.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car034.loc[car034.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car034.loc[car034.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car034.loc[car034.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car034.loc[car034.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car034.loc[car034.index[i], 'P'] = 'p06'

In [68]:
car034

         ID           Name  Angle    P
0    car034  left-0001.ppm    126  p03
1    car034  left-0015.ppm    126  p03
2    car034  left-0029.ppm    128  p03
3    car034  left-0043.ppm    131  p03
4    car034  left-0057.ppm    135  p03
..      ...            ...    ...  ...
120  car034  left-1681.ppm    234  p11
121  car034  left-1695.ppm    238  p11
122  car034  left-1709.ppm    242  p11
123  car034  left-1723.ppm    247  p11
124  car034  left-1737.ppm    250  p11

[125 rows x 4 columns]

## car035

In [69]:
car035  = pd.read_csv(os.path.join(path,'car035.csv')) 
car035 = car035.iloc[:,1:]
car035

         ID           Name  Angle
0    car035  left-0001.ppm    107
1    car035  left-0015.ppm    106
2    car035  left-0029.ppm    106
3    car035  left-0043.ppm    107
4    car035  left-0057.ppm    109
..      ...            ...    ...
117  car035  left-1639.ppm    231
118  car035  left-1653.ppm    234
119  car035  left-1667.ppm    238
120  car035  left-1681.ppm    241
121  car035  left-1695.ppm    245

[122 rows x 3 columns]

In [70]:
for i in range(len(car035)):
    ang = car035['Angle'][i]
    if 30 < ang < 46 :
        car035.loc[car035.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car035.loc[car035.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car035.loc[car035.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car035.loc[car035.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car035.loc[car035.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car035.loc[car035.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car035.loc[car035.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car035.loc[car035.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car035.loc[car035.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car035.loc[car035.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car035.loc[car035.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car035.loc[car035.index[i], 'P'] = 'p06'

In [71]:
car035

         ID           Name  Angle        P
0    car035  left-0001.ppm    107  p01,p02
1    car035  left-0015.ppm    106  p01,p02
2    car035  left-0029.ppm    106  p01,p02
3    car035  left-0043.ppm    107  p01,p02
4    car035  left-0057.ppm    109  p01,p02
..      ...            ...    ...      ...
117  car035  left-1639.ppm    231      p11
118  car035  left-1653.ppm    234      p11
119  car035  left-1667.ppm    238      p11
120  car035  left-1681.ppm    241      p11
121  car035  left-1695.ppm    245      p11

[122 rows x 4 columns]

## car037

In [72]:
car037  = pd.read_csv(os.path.join(path,'car037.csv')) 
car037 = car037.iloc[:,1:]
car037

         ID           Name  Angle
0    car037  left-0001.ppm     98
1    car037  left-0021.ppm     99
2    car037  left-0041.ppm     99
3    car037  left-0061.ppm    100
4    car037  left-0081.ppm    101
..      ...            ...    ...
116  car037  left-2321.ppm    180
117  car037  left-2341.ppm    186
118  car037  left-2361.ppm    190
119  car037  left-2381.ppm    192
120  car037  left-2401.ppm    192

[121 rows x 3 columns]

In [73]:
for i in range(len(car037)):
    ang = car037['Angle'][i]
    if 30 < ang < 46 :
        car037.loc[car037.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car037.loc[car037.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car037.loc[car037.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car037.loc[car037.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car037.loc[car037.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car037.loc[car037.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car037.loc[car037.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car037.loc[car037.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car037.loc[car037.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car037.loc[car037.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car037.loc[car037.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car037.loc[car037.index[i], 'P'] = 'p06'

In [74]:
car037

         ID           Name  Angle        P
0    car037  left-0001.ppm     98  p01,p02
1    car037  left-0021.ppm     99  p01,p02
2    car037  left-0041.ppm     99  p01,p02
3    car037  left-0061.ppm    100  p01,p02
4    car037  left-0081.ppm    101  p01,p02
..      ...            ...    ...      ...
116  car037  left-2321.ppm    180      p05
117  car037  left-2341.ppm    186      p09
118  car037  left-2361.ppm    190      p09
119  car037  left-2381.ppm    192      p09
120  car037  left-2401.ppm    192      p09

[121 rows x 4 columns]

## car038

In [75]:
car038  = pd.read_csv(os.path.join(path,'car038.csv')) 
car038 = car038.iloc[:,1:]
car038

         ID           Name  Angle
0    car038  left-0001.ppm     19
1    car038  left-0016.ppm     19
2    car038  left-0031.ppm     19
3    car038  left-0046.ppm     21
4    car038  left-0061.ppm     23
..      ...            ...    ...
118  car038  left-1771.ppm     43
119  car038  left-1786.ppm     48
120  car038  left-1801.ppm     53
121  car038  left-1816.ppm     57
122  car038  left-1831.ppm     60

[123 rows x 3 columns]

In [76]:
for i in range(len(car038)):
    ang = car038['Angle'][i]
    if 30 < ang < 46 :
        car038.loc[car038.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car038.loc[car038.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car038.loc[car038.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car038.loc[car038.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car038.loc[car038.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car038.loc[car038.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car038.loc[car038.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car038.loc[car038.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car038.loc[car038.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car038.loc[car038.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car038.loc[car038.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car038.loc[car038.index[i], 'P'] = 'p06'

In [77]:
car038

         ID           Name  Angle    P
0    car038  left-0001.ppm     19  p06
1    car038  left-0016.ppm     19  p06
2    car038  left-0031.ppm     19  p06
3    car038  left-0046.ppm     21  p06
4    car038  left-0061.ppm     23  p06
..      ...            ...    ...  ...
118  car038  left-1771.ppm     43  p08
119  car038  left-1786.ppm     48  p04
120  car038  left-1801.ppm     53  p04
121  car038  left-1816.ppm     57  p04
122  car038  left-1831.ppm     60  p04

[123 rows x 4 columns]

## car039

In [78]:
car039  = pd.read_csv(os.path.join(path,'car039.csv')) 
car039 = car039.iloc[:,1:]
car039

         ID           Name  Angle
0    car039  left-0001.ppm     33
1    car039  left-0012.ppm     33
2    car039  left-0023.ppm     33
3    car039  left-0034.ppm     31
4    car039  left-0045.ppm     29
..      ...            ...    ...
123  car039  left-1354.ppm     14
124  car039  left-1365.ppm     11
125  car039  left-1376.ppm      8
126  car039  left-1387.ppm      5
127  car039  left-1398.ppm      4

[128 rows x 3 columns]

In [79]:
for i in range(len(car039)):
    ang = car039['Angle'][i]
    if 30 < ang < 46 :
        car039.loc[car039.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car039.loc[car039.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car039.loc[car039.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car039.loc[car039.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car039.loc[car039.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car039.loc[car039.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car039.loc[car039.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car039.loc[car039.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car039.loc[car039.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car039.loc[car039.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car039.loc[car039.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car039.loc[car039.index[i], 'P'] = 'p06'

In [80]:
car039

         ID           Name  Angle    P
0    car039  left-0001.ppm     33  p08
1    car039  left-0012.ppm     33  p08
2    car039  left-0023.ppm     33  p08
3    car039  left-0034.ppm     31  p08
4    car039  left-0045.ppm     29  p06
..      ...            ...    ...  ...
123  car039  left-1354.ppm     14  p06
124  car039  left-1365.ppm     11  p06
125  car039  left-1376.ppm      8  p06
126  car039  left-1387.ppm      5  p06
127  car039  left-1398.ppm      4  p06

[128 rows x 4 columns]

## car041

In [81]:
car041  = pd.read_csv(os.path.join(path,'car041.csv')) 
car041 = car041.iloc[:,1:]
car041

         ID           Name  Angle
0    car041  left-0001.ppm      6
1    car041  left-0011.ppm      6
2    car041  left-0021.ppm      6
3    car041  left-0031.ppm      8
4    car041  left-0041.ppm     12
..      ...            ...    ...
125  car041  left-1251.ppm     40
126  car041  left-1261.ppm     43
127  car041  left-1271.ppm     45
128  car041  left-1281.ppm     48
129  car041  left-1291.ppm     51

[130 rows x 3 columns]

In [82]:
for i in range(len(car041)):
    ang = car041['Angle'][i]
    if 30 < ang < 46 :
        car041.loc[car041.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car041.loc[car041.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car041.loc[car041.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car041.loc[car041.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car041.loc[car041.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car041.loc[car041.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car041.loc[car041.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car041.loc[car041.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car041.loc[car041.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car041.loc[car041.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car041.loc[car041.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car041.loc[car041.index[i], 'P'] = 'p06'

In [83]:
car041

         ID           Name  Angle    P
0    car041  left-0001.ppm      6  p06
1    car041  left-0011.ppm      6  p06
2    car041  left-0021.ppm      6  p06
3    car041  left-0031.ppm      8  p06
4    car041  left-0041.ppm     12  p06
..      ...            ...    ...  ...
125  car041  left-1251.ppm     40  p08
126  car041  left-1261.ppm     43  p08
127  car041  left-1271.ppm     45  p08
128  car041  left-1281.ppm     48  p04
129  car041  left-1291.ppm     51  p04

[130 rows x 4 columns]

## car042

In [84]:
car042  = pd.read_csv(os.path.join(path,'car042.csv')) 
car042 = car042.iloc[:,1:]
car042

         ID           Name  Angle
0    car042  left-0001.ppm     24
1    car042  left-0014.ppm     24
2    car042  left-0027.ppm     27
3    car042  left-0040.ppm     29
4    car042  left-0053.ppm     32
..      ...            ...    ...
118  car042  left-1535.ppm     95
119  car042  left-1548.ppm     98
120  car042  left-1561.ppm    101
121  car042  left-1574.ppm    104
122  car042  left-1587.ppm    107

[123 rows x 3 columns]

In [85]:
for i in range(len(car042)):
    ang = car042['Angle'][i]
    if 30 < ang < 46 :
        car042.loc[car042.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car042.loc[car042.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car042.loc[car042.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car042.loc[car042.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car042.loc[car042.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car042.loc[car042.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car042.loc[car042.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car042.loc[car042.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car042.loc[car042.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car042.loc[car042.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car042.loc[car042.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car042.loc[car042.index[i], 'P'] = 'p06'

In [86]:
car042

         ID           Name  Angle        P
0    car042  left-0001.ppm     24      p06
1    car042  left-0014.ppm     24      p06
2    car042  left-0027.ppm     27      p06
3    car042  left-0040.ppm     29      p06
4    car042  left-0053.ppm     32      p08
..      ...            ...    ...      ...
118  car042  left-1535.ppm     95  p01,p02
119  car042  left-1548.ppm     98  p01,p02
120  car042  left-1561.ppm    101  p01,p02
121  car042  left-1574.ppm    104  p01,p02
122  car042  left-1587.ppm    107  p01,p02

[123 rows x 4 columns]

## car043

In [87]:
car043  = pd.read_csv(os.path.join(path,'car043.csv')) 
car043 = car043.iloc[:,1:]
car043

         ID           Name  Angle
0    car043  left-0001.ppm     61
1    car043  left-0017.ppm     61
2    car043  left-0033.ppm     62
3    car043  left-0049.ppm     65
4    car043  left-0065.ppm     68
..      ...            ...    ...
118  car043  left-1889.ppm    306
119  car043  left-1905.ppm    310
120  car043  left-1921.ppm    316
121  car043  left-1937.ppm    322
122  car043  left-1953.ppm    329

[123 rows x 3 columns]

In [88]:
for i in range(len(car043)):
    ang = car043['Angle'][i]
    if 30 < ang < 46 :
        car043.loc[car043.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car043.loc[car043.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car043.loc[car043.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car043.loc[car043.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car043.loc[car043.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car043.loc[car043.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car043.loc[car043.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car043.loc[car043.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car043.loc[car043.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car043.loc[car043.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car043.loc[car043.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car043.loc[car043.index[i], 'P'] = 'p06'

In [89]:
car043

         ID           Name  Angle        P
0    car043  left-0001.ppm     61      p04
1    car043  left-0017.ppm     61      p04
2    car043  left-0033.ppm     62      p04
3    car043  left-0049.ppm     65  p01,p02
4    car043  left-0065.ppm     68  p01,p02
..      ...            ...    ...      ...
118  car043  left-1889.ppm    306      p12
119  car043  left-1905.ppm    310      p12
120  car043  left-1921.ppm    316      p10
121  car043  left-1937.ppm    322      p10
122  car043  left-1953.ppm    329      p10

[123 rows x 4 columns]

## car044

In [90]:
car044  = pd.read_csv(os.path.join(path,'car044.csv')) 
car044 = car044.iloc[:,1:]
car044

         ID           Name  Angle
0    car044  left-0001.ppm     80
1    car044  left-0017.ppm     80
2    car044  left-0033.ppm     80
3    car044  left-0049.ppm     81
4    car044  left-0065.ppm     83
..      ...            ...    ...
122  car044  left-1953.ppm     71
123  car044  left-1969.ppm     77
124  car044  left-1985.ppm     82
125  car044  left-2001.ppm     87
126  car044  left-2017.ppm     91

[127 rows x 3 columns]

In [91]:
for i in range(len(car044)):
    ang = car044['Angle'][i]
    if 30 < ang < 46 :
        car044.loc[car044.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car044.loc[car044.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car044.loc[car044.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car044.loc[car044.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car044.loc[car044.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car044.loc[car044.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car044.loc[car044.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car044.loc[car044.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car044.loc[car044.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car044.loc[car044.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car044.loc[car044.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car044.loc[car044.index[i], 'P'] = 'p06'

In [92]:
car044

         ID           Name  Angle        P
0    car044  left-0001.ppm     80  p01,p02
1    car044  left-0017.ppm     80  p01,p02
2    car044  left-0033.ppm     80  p01,p02
3    car044  left-0049.ppm     81  p01,p02
4    car044  left-0065.ppm     83  p01,p02
..      ...            ...    ...      ...
122  car044  left-1953.ppm     71  p01,p02
123  car044  left-1969.ppm     77  p01,p02
124  car044  left-1985.ppm     82  p01,p02
125  car044  left-2001.ppm     87  p01,p02
126  car044  left-2017.ppm     91  p01,p02

[127 rows x 4 columns]

## car045

In [93]:
car045  = pd.read_csv(os.path.join(path,'car045.csv')) 
car045 = car045.iloc[:,1:]
car045

         ID           Name  Angle
0    car045  left-0001.ppm     30
1    car045  left-0016.ppm     31
2    car045  left-0031.ppm     33
3    car045  left-0046.ppm     37
4    car045  left-0061.ppm     41
..      ...            ...    ...
116  car045  left-1741.ppm     37
117  car045  left-1756.ppm     43
118  car045  left-1771.ppm     49
119  car045  left-1786.ppm     55
120  car045  left-1801.ppm     60

[121 rows x 3 columns]

In [94]:
for i in range(len(car045)):
    ang = car045['Angle'][i]
    if 30 < ang < 46 :
        car045.loc[car045.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car045.loc[car045.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car045.loc[car045.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car045.loc[car045.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car045.loc[car045.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car045.loc[car045.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car045.loc[car045.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car045.loc[car045.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car045.loc[car045.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car045.loc[car045.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car045.loc[car045.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car045.loc[car045.index[i], 'P'] = 'p06'

In [95]:
car045

         ID           Name  Angle    P
0    car045  left-0001.ppm     30  p06
1    car045  left-0016.ppm     31  p08
2    car045  left-0031.ppm     33  p08
3    car045  left-0046.ppm     37  p08
4    car045  left-0061.ppm     41  p08
..      ...            ...    ...  ...
116  car045  left-1741.ppm     37  p08
117  car045  left-1756.ppm     43  p08
118  car045  left-1771.ppm     49  p04
119  car045  left-1786.ppm     55  p04
120  car045  left-1801.ppm     60  p04

[121 rows x 4 columns]

## car046

In [97]:
car046  = pd.read_csv(os.path.join(path,'car046.csv')) 
car046 = car046.iloc[:,1:]
car046

         ID           Name  Angle
0    car046  left-0001.ppm    278
1    car046  left-0011.ppm    278
2    car046  left-0021.ppm    278
3    car046  left-0031.ppm    278
4    car046  left-0041.ppm    279
..      ...            ...    ...
120  car046  left-1201.ppm    311
121  car046  left-1211.ppm    314
122  car046  left-1221.ppm    317
123  car046  left-1231.ppm    320
124  car046  left-1241.ppm    323

[125 rows x 3 columns]

In [98]:
for i in range(len(car046)):
    ang = car046['Angle'][i]
    if 30 < ang < 46 :
        car046.loc[car046.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car046.loc[car046.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car046.loc[car046.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car046.loc[car046.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car046.loc[car046.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car046.loc[car046.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car046.loc[car046.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car046.loc[car046.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car046.loc[car046.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car046.loc[car046.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car046.loc[car046.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car046.loc[car046.index[i], 'P'] = 'p06'

In [99]:
car046

         ID           Name  Angle         P
0    car046  left-0001.ppm    278  p13, p14
1    car046  left-0011.ppm    278  p13, p14
2    car046  left-0021.ppm    278  p13, p14
3    car046  left-0031.ppm    278  p13, p14
4    car046  left-0041.ppm    279  p13, p14
..      ...            ...    ...       ...
120  car046  left-1201.ppm    311       p10
121  car046  left-1211.ppm    314       p10
122  car046  left-1221.ppm    317       p10
123  car046  left-1231.ppm    320       p10
124  car046  left-1241.ppm    323       p10

[125 rows x 4 columns]

## car047

In [100]:
car047  = pd.read_csv(os.path.join(path,'car047.csv')) 
car047 = car047.iloc[:,1:]
car047

         ID           Name  Angle
0    car047  left-0001.ppm    202
1    car047  left-0020.ppm    202
2    car047  left-0039.ppm    203
3    car047  left-0058.ppm    205
4    car047  left-0077.ppm    207
..      ...            ...    ...
121  car047  left-2300.ppm    327
122  car047  left-2319.ppm    333
123  car047  left-2338.ppm    338
124  car047  left-2357.ppm    341
125  car047  left-2376.ppm    344

[126 rows x 3 columns]

In [101]:
for i in range(len(car047)):
    ang = car047['Angle'][i]
    if 30 < ang < 46 :
        car047.loc[car047.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car047.loc[car047.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car047.loc[car047.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car047.loc[car047.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car047.loc[car047.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car047.loc[car047.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car047.loc[car047.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car047.loc[car047.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car047.loc[car047.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car047.loc[car047.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car047.loc[car047.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car047.loc[car047.index[i], 'P'] = 'p06'

In [102]:
car047

         ID           Name  Angle    P
0    car047  left-0001.ppm    202  p09
1    car047  left-0020.ppm    202  p09
2    car047  left-0039.ppm    203  p09
3    car047  left-0058.ppm    205  p09
4    car047  left-0077.ppm    207  p09
..      ...            ...    ...  ...
121  car047  left-2300.ppm    327  p10
122  car047  left-2319.ppm    333  p10
123  car047  left-2338.ppm    338  p10
124  car047  left-2357.ppm    341  p10
125  car047  left-2376.ppm    344  p10

[126 rows x 4 columns]

## car048

In [103]:
car048  = pd.read_csv(os.path.join(path,'car048.csv')) 
car048 = car048.iloc[:,1:]
car048

         ID           Name  Angle
0    car048  left-0001.ppm     22
1    car048  left-0011.ppm     21
2    car048  left-0021.ppm     19
3    car048  left-0031.ppm     17
4    car048  left-0041.ppm     15
..      ...            ...    ...
126  car048  left-1261.ppm    354
127  car048  left-1271.ppm    351
128  car048  left-1281.ppm    348
129  car048  left-1291.ppm    344
130  car048  left-1301.ppm    341

[131 rows x 3 columns]

In [104]:
for i in range(len(car048)):
    ang = car048['Angle'][i]
    if 30 < ang < 46 :
        car048.loc[car048.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car048.loc[car048.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car048.loc[car048.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car048.loc[car048.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car048.loc[car048.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car048.loc[car048.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car048.loc[car048.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car048.loc[car048.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car048.loc[car048.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car048.loc[car048.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car048.loc[car048.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car048.loc[car048.index[i], 'P'] = 'p06'

In [105]:
car048

         ID           Name  Angle    P
0    car048  left-0001.ppm     22  p06
1    car048  left-0011.ppm     21  p06
2    car048  left-0021.ppm     19  p06
3    car048  left-0031.ppm     17  p06
4    car048  left-0041.ppm     15  p06
..      ...            ...    ...  ...
126  car048  left-1261.ppm    354  p10
127  car048  left-1271.ppm    351  p10
128  car048  left-1281.ppm    348  p10
129  car048  left-1291.ppm    344  p10
130  car048  left-1301.ppm    341  p10

[131 rows x 4 columns]

## car050

In [106]:
car050  = pd.read_csv(os.path.join(path,'car050.csv')) 
car050 = car050.iloc[:,1:]
car050

         ID           Name  Angle
0    car050  left-0001.ppm    300
1    car050  left-0011.ppm    300
2    car050  left-0021.ppm    301
3    car050  left-0031.ppm    303
4    car050  left-0041.ppm    306
..      ...            ...    ...
125  car050  left-1251.ppm    322
126  car050  left-1261.ppm    325
127  car050  left-1271.ppm    327
128  car050  left-1281.ppm    329
129  car050  left-1291.ppm    329

[130 rows x 3 columns]

In [107]:
for i in range(len(car050)):
    ang = car050['Angle'][i]
    if 30 < ang < 46 :
        car050.loc[car050.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car050.loc[car050.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car050.loc[car050.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car050.loc[car050.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car050.loc[car050.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car050.loc[car050.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car050.loc[car050.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car050.loc[car050.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car050.loc[car050.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car050.loc[car050.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car050.loc[car050.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car050.loc[car050.index[i], 'P'] = 'p06'

In [108]:
car050

         ID           Name  Angle    P
0    car050  left-0001.ppm    300  p12
1    car050  left-0011.ppm    300  p12
2    car050  left-0021.ppm    301  p12
3    car050  left-0031.ppm    303  p12
4    car050  left-0041.ppm    306  p12
..      ...            ...    ...  ...
125  car050  left-1251.ppm    322  p10
126  car050  left-1261.ppm    325  p10
127  car050  left-1271.ppm    327  p10
128  car050  left-1281.ppm    329  p10
129  car050  left-1291.ppm    329  p10

[130 rows x 4 columns]

## car051

In [109]:
car051  = pd.read_csv(os.path.join(path,'car051.csv')) 
car051 = car051.iloc[:,1:]
car051

         ID           Name  Angle
0    car051  left-0001.ppm     34
1    car051  left-0012.ppm     35
2    car051  left-0023.ppm     36
3    car051  left-0034.ppm     37
4    car051  left-0045.ppm     39
..      ...            ...    ...
120  car051  left-1321.ppm    114
121  car051  left-1332.ppm    118
122  car051  left-1343.ppm    121
123  car051  left-1354.ppm    124
124  car051  left-1365.ppm    127

[125 rows x 3 columns]

In [110]:
for i in range(len(car051)):
    ang = car051['Angle'][i]
    if 30 < ang < 46 :
        car051.loc[car051.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car051.loc[car051.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car051.loc[car051.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car051.loc[car051.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car051.loc[car051.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car051.loc[car051.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car051.loc[car051.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car051.loc[car051.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car051.loc[car051.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car051.loc[car051.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car051.loc[car051.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car051.loc[car051.index[i], 'P'] = 'p06'

In [111]:
car051

         ID           Name  Angle        P
0    car051  left-0001.ppm     34      p08
1    car051  left-0012.ppm     35      p08
2    car051  left-0023.ppm     36      p08
3    car051  left-0034.ppm     37      p08
4    car051  left-0045.ppm     39      p08
..      ...            ...    ...      ...
120  car051  left-1321.ppm    114  p01,p02
121  car051  left-1332.ppm    118      p03
122  car051  left-1343.ppm    121      p03
123  car051  left-1354.ppm    124      p03
124  car051  left-1365.ppm    127      p03

[125 rows x 4 columns]

## car052

In [112]:
car052  = pd.read_csv(os.path.join(path,'car052.csv')) 
car052 = car052.iloc[:,1:]
car052

         ID           Name  Angle
0    car052  left-0001.ppm    291
1    car052  left-0011.ppm    292
2    car052  left-0021.ppm    294
3    car052  left-0031.ppm    297
4    car052  left-0041.ppm    300
..      ...            ...    ...
126  car052  left-1261.ppm    332
127  car052  left-1271.ppm    336
128  car052  left-1281.ppm    339
129  car052  left-1291.ppm    342
130  car052  left-1301.ppm    343

[131 rows x 3 columns]

In [113]:
for i in range(len(car052)):
    ang = car052['Angle'][i]
    if 30 < ang < 46 :
        car052.loc[car052.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car052.loc[car052.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car052.loc[car052.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car052.loc[car052.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car052.loc[car052.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car052.loc[car052.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car052.loc[car052.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car052.loc[car052.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car052.loc[car052.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car052.loc[car052.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car052.loc[car052.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car052.loc[car052.index[i], 'P'] = 'p06'

In [114]:
car052

         ID           Name  Angle    P
0    car052  left-0001.ppm    291  p12
1    car052  left-0011.ppm    292  p12
2    car052  left-0021.ppm    294  p12
3    car052  left-0031.ppm    297  p12
4    car052  left-0041.ppm    300  p12
..      ...            ...    ...  ...
126  car052  left-1261.ppm    332  p10
127  car052  left-1271.ppm    336  p10
128  car052  left-1281.ppm    339  p10
129  car052  left-1291.ppm    342  p10
130  car052  left-1301.ppm    343  p10

[131 rows x 4 columns]

## ตารางองศาแบบไม่มีประตู

In [115]:
path = '/content/drive/My Drive/File' #path คือที่อยู่ของไฟล์ โดยไฟล์อยู่ในไดร์ฟ ชื่อโฟลเดอร์ว่า File
DN  = pd.read_csv(os.path.join(path,'DN.csv')) 
DN = DN.iloc[:,1:]
DN

   Part    Angle
0   p01   61-119
1   p02   61-119
2   p03  120-150
3   p04    30-60
4   p05  181-225
5   p06    315-0
6   p07  151-180
7   p08     1-29
8   p11  226-240
9   p12  301-314
10  p13  241-300
11  p14  241-300

## car001

In [116]:
path = '/content/drive/My Drive/File' #path คือที่อยู่ของไฟล์ โดยไฟล์อยู่ในไดร์ฟ ชื่อโฟลเดอร์ว่า File
car001  = pd.read_csv(os.path.join(path,'car001.csv')) 
car001 = car001.iloc[:,1:]
car001

         ID           Name  Angle
0    car001  left-0001.ppm      3
1    car001  left-0017.ppm      3
2    car001  left-0033.ppm      4
3    car001  left-0049.ppm      7
4    car001  left-0065.ppm      9
..      ...            ...    ...
117  car001  left-1873.ppm     17
118  car001  left-1889.ppm     17
119  car001  left-1905.ppm     17
120  car001  left-1921.ppm     16
121  car001  left-1937.ppm     16

[122 rows x 3 columns]

## test 2

In [117]:
for i in range(len(car001)):
    ang = car001['Angle'][i]
    if 0 < ang < 30 :
        car001.loc[car001.index[i], 'P'] = 'p08'
    if 29 < ang < 61 :
        car001.loc[car001.index[i], 'P'] = 'p04'
    if 60 < ang < 120 :
        car001.loc[car001.index[i], 'P'] = 'p01,p02'
    if 119 < ang < 151 :
        car001.loc[car001.index[i], 'P'] = 'p03'
    if 150 < ang < 181 :
        car001.loc[car001.index[i], 'P'] = 'p07'
    if 180 < ang < 226 :
        car001.loc[car001.index[i], 'P'] = 'p05'
    if 225 < ang < 241 :
        car001.loc[car001.index[i], 'P'] = 'p11'
    if 240 < ang < 301 :
        car001.loc[car001.index[i], 'P'] = 'p13, p14'   ## if ',' in car001['p'] , split(',')
    if 300 < ang < 315 :
        car001.loc[car001.index[i], 'P'] = 'p12' 
    elif 314 < ang < 361 or ang <= 0 :
        car001.loc[car001.index[i], 'P'] = 'p06'

In [118]:
car001

         ID           Name  Angle    P
0    car001  left-0001.ppm      3  p08
1    car001  left-0017.ppm      3  p08
2    car001  left-0033.ppm      4  p08
3    car001  left-0049.ppm      7  p08
4    car001  left-0065.ppm      9  p08
..      ...            ...    ...  ...
117  car001  left-1873.ppm     17  p08
118  car001  left-1889.ppm     17  p08
119  car001  left-1905.ppm     17  p08
120  car001  left-1921.ppm     16  p08
121  car001  left-1937.ppm     16  p08

[122 rows x 4 columns]

## car002

In [121]:
car002  = pd.read_csv(os.path.join(path,'car002.csv')) 
car002 = car002.iloc[:,1:]
car002

         ID           Name  Angle
0    car002  left-0001.ppm    305
1    car002  left-0023.ppm    307
2    car002  left-0045.ppm    309
3    car002  left-0067.ppm    312
4    car002  left-0089.ppm    316
..      ...            ...    ...
117  car002  left-2575.ppm    329
118  car002  left-2597.ppm    333
119  car002  left-2619.ppm    336
120  car002  left-2641.ppm    336
121  car002  left-2663.ppm    337

[122 rows x 3 columns]

In [122]:
for i in range(len(car002)):
    ang = car002['Angle'][i]
    if 0 < ang < 30 :
        car002.loc[car002.index[i], 'P'] = 'p08'
    if 29 < ang < 61 :
        car002.loc[car002.index[i], 'P'] = 'p04'
    if 60 < ang < 120 :
        car002.loc[car002.index[i], 'P'] = 'p01,p02'
    if 119 < ang < 151 :
        car002.loc[car002.index[i], 'P'] = 'p03'
    if 150 < ang < 181 :
        car002.loc[car002.index[i], 'P'] = 'p07'
    if 180 < ang < 226 :
        car002.loc[car002.index[i], 'P'] = 'p05'
    if 225 < ang < 241 :
        car002.loc[car002.index[i], 'P'] = 'p11'
    if 240 < ang < 301 :
        car002.loc[car002.index[i], 'P'] = 'p13, p14'   ## if ',' in car002['p'] , split(',')
    if 300 < ang < 315 :
        car002.loc[car002.index[i], 'P'] = 'p12' 
    elif 314 < ang < 361 or ang <= 0 :
        car002.loc[car002.index[i], 'P'] = 'p06'

In [123]:
car002

         ID           Name  Angle    P
0    car002  left-0001.ppm    305  p12
1    car002  left-0023.ppm    307  p12
2    car002  left-0045.ppm    309  p12
3    car002  left-0067.ppm    312  p12
4    car002  left-0089.ppm    316  p06
..      ...            ...    ...  ...
117  car002  left-2575.ppm    329  p06
118  car002  left-2597.ppm    333  p06
119  car002  left-2619.ppm    336  p06
120  car002  left-2641.ppm    336  p06
121  car002  left-2663.ppm    337  p06

[122 rows x 4 columns]

## car007

In [124]:
car007  = pd.read_csv(os.path.join(path,'car007.csv')) 
car007 = car007.iloc[:,1:]
car007

         ID           Name  Angle
0    car007  left-0001.ppm    273
1    car007  left-0015.ppm    273
2    car007  left-0029.ppm    274
3    car007  left-0043.ppm    277
4    car007  left-0057.ppm    280
..      ...            ...    ...
118  car007  left-1653.ppm    298
119  car007  left-1667.ppm    298
120  car007  left-1681.ppm    298
121  car007  left-1695.ppm    297
122  car007  left-1709.ppm    297

[123 rows x 3 columns]

In [125]:
for i in range(len(car007)):
    ang = car007['Angle'][i]
    if 0 < ang < 30 :
        car007.loc[car007.index[i], 'P'] = 'p08'
    if 29 < ang < 61 :
        car007.loc[car007.index[i], 'P'] = 'p04'
    if 60 < ang < 120 :
        car007.loc[car007.index[i], 'P'] = 'p01,p02'
    if 119 < ang < 151 :
        car007.loc[car007.index[i], 'P'] = 'p03'
    if 150 < ang < 181 :
        car007.loc[car007.index[i], 'P'] = 'p07'
    if 180 < ang < 226 :
        car007.loc[car007.index[i], 'P'] = 'p05'
    if 225 < ang < 241 :
        car007.loc[car007.index[i], 'P'] = 'p11'
    if 240 < ang < 301 :
        car007.loc[car007.index[i], 'P'] = 'p13, p14'   ## if ',' in car007['p'] , split(',')
    if 300 < ang < 315 :
        car007.loc[car007.index[i], 'P'] = 'p12' 
    elif 314 < ang < 361 or ang <= 0 :
        car007.loc[car007.index[i], 'P'] = 'p06'

In [126]:
car007

         ID           Name  Angle         P
0    car007  left-0001.ppm    273  p13, p14
1    car007  left-0015.ppm    273  p13, p14
2    car007  left-0029.ppm    274  p13, p14
3    car007  left-0043.ppm    277  p13, p14
4    car007  left-0057.ppm    280  p13, p14
..      ...            ...    ...       ...
118  car007  left-1653.ppm    298  p13, p14
119  car007  left-1667.ppm    298  p13, p14
120  car007  left-1681.ppm    298  p13, p14
121  car007  left-1695.ppm    297  p13, p14
122  car007  left-1709.ppm    297  p13, p14

[123 rows x 4 columns]

## car008

In [127]:
car008  = pd.read_csv(os.path.join(path,'car008.csv')) 
car008 = car008.iloc[:,1:]
car008

         ID           Name  Angle
0    car008  left-0001.ppm     63
1    car008  left-0013.ppm     63
2    car008  left-0025.ppm     63
3    car008  left-0037.ppm     62
4    car008  left-0049.ppm     59
..      ...            ...    ...
119  car008  left-1429.ppm     50
120  car008  left-1441.ppm     51
121  car008  left-1453.ppm     51
122  car008  left-1465.ppm     51
123  car008  left-1477.ppm     51

[124 rows x 3 columns]

In [128]:
for i in range(len(car008)):
    ang = car008['Angle'][i]
    if 0 < ang < 30 :
        car008.loc[car008.index[i], 'P'] = 'p08'
    if 29 < ang < 61 :
        car008.loc[car008.index[i], 'P'] = 'p04'
    if 60 < ang < 120 :
        car008.loc[car008.index[i], 'P'] = 'p01,p02'
    if 119 < ang < 151 :
        car008.loc[car008.index[i], 'P'] = 'p03'
    if 150 < ang < 181 :
        car008.loc[car008.index[i], 'P'] = 'p07'
    if 180 < ang < 226 :
        car008.loc[car008.index[i], 'P'] = 'p05'
    if 225 < ang < 241 :
        car008.loc[car008.index[i], 'P'] = 'p11'
    if 240 < ang < 301 :
        car008.loc[car008.index[i], 'P'] = 'p13, p14'   ## if ',' in car008['p'] , split(',')
    if 300 < ang < 315 :
        car008.loc[car008.index[i], 'P'] = 'p12' 
    elif 314 < ang < 361 or ang <= 0 :
        car008.loc[car008.index[i], 'P'] = 'p06'

In [129]:
car008

         ID           Name  Angle        P
0    car008  left-0001.ppm     63  p01,p02
1    car008  left-0013.ppm     63  p01,p02
2    car008  left-0025.ppm     63  p01,p02
3    car008  left-0037.ppm     62  p01,p02
4    car008  left-0049.ppm     59      p04
..      ...            ...    ...      ...
119  car008  left-1429.ppm     50      p04
120  car008  left-1441.ppm     51      p04
121  car008  left-1453.ppm     51      p04
122  car008  left-1465.ppm     51      p04
123  car008  left-1477.ppm     51      p04

[124 rows x 4 columns]

## car014

In [130]:
car014  = pd.read_csv(os.path.join(path,'car014.csv')) 
car014 = car014.iloc[:,1:]
car014

         ID           Name  Angle
0    car014  left-0001.ppm    300
1    car014  left-0015.ppm    301
2    car014  left-0029.ppm    303
3    car014  left-0043.ppm    307
4    car014  left-0057.ppm    311
..      ...            ...    ...
120  car014  left-1681.ppm    147
121  car014  left-1695.ppm    149
122  car014  left-1709.ppm    151
123  car014  left-1723.ppm    154
124  car014  left-1737.ppm    156

[125 rows x 3 columns]

In [131]:
for i in range(len(car014)):
    ang = car014['Angle'][i]
    if 0 < ang < 30 :
        car014.loc[car014.index[i], 'P'] = 'p08'
    if 29 < ang < 61 :
        car014.loc[car014.index[i], 'P'] = 'p04'
    if 60 < ang < 120 :
        car014.loc[car014.index[i], 'P'] = 'p01,p02'
    if 119 < ang < 151 :
        car014.loc[car014.index[i], 'P'] = 'p03'
    if 150 < ang < 181 :
        car014.loc[car014.index[i], 'P'] = 'p07'
    if 180 < ang < 226 :
        car014.loc[car014.index[i], 'P'] = 'p05'
    if 225 < ang < 241 :
        car014.loc[car014.index[i], 'P'] = 'p11'
    if 240 < ang < 301 :
        car014.loc[car014.index[i], 'P'] = 'p13, p14'   ## if ',' in car014['p'] , split(',')
    if 300 < ang < 315 :
        car014.loc[car014.index[i], 'P'] = 'p12' 
    elif 314 < ang < 361 or ang <= 0 :
        car014.loc[car014.index[i], 'P'] = 'p06'

In [132]:
car014

         ID           Name  Angle         P
0    car014  left-0001.ppm    300  p13, p14
1    car014  left-0015.ppm    301       p12
2    car014  left-0029.ppm    303       p12
3    car014  left-0043.ppm    307       p12
4    car014  left-0057.ppm    311       p12
..      ...            ...    ...       ...
120  car014  left-1681.ppm    147       p03
121  car014  left-1695.ppm    149       p03
122  car014  left-1709.ppm    151       p07
123  car014  left-1723.ppm    154       p07
124  car014  left-1737.ppm    156       p07

[125 rows x 4 columns]

## car017

In [133]:
car017  = pd.read_csv(os.path.join(path,'car017.csv')) 
car017 = car017.iloc[:,1:]
car017

         ID           Name  Angle
0    car017  left-0001.ppm     86
1    car017  left-0018.ppm     87
2    car017  left-0035.ppm     89
3    car017  left-0052.ppm     91
4    car017  left-0069.ppm     94
..      ...            ...    ...
117  car017  left-1990.ppm    113
118  car017  left-2007.ppm    115
119  car017  left-2024.ppm    119
120  car017  left-2041.ppm    121
121  car017  left-2058.ppm    124

[122 rows x 3 columns]

In [134]:
for i in range(len(car017)):
    ang = car017['Angle'][i]
    if 0 < ang < 30 :
        car017.loc[car017.index[i], 'P'] = 'p08'
    if 29 < ang < 61 :
        car017.loc[car017.index[i], 'P'] = 'p04'
    if 60 < ang < 120 :
        car017.loc[car017.index[i], 'P'] = 'p01,p02'
    if 119 < ang < 151 :
        car017.loc[car017.index[i], 'P'] = 'p03'
    if 150 < ang < 181 :
        car017.loc[car017.index[i], 'P'] = 'p07'
    if 180 < ang < 226 :
        car017.loc[car017.index[i], 'P'] = 'p05'
    if 225 < ang < 241 :
        car017.loc[car017.index[i], 'P'] = 'p11'
    if 240 < ang < 301 :
        car017.loc[car017.index[i], 'P'] = 'p13, p14'   ## if ',' in car017['p'] , split(',')
    if 300 < ang < 315 :
        car017.loc[car017.index[i], 'P'] = 'p12' 
    elif 314 < ang < 361 or ang <= 0 :
        car017.loc[car017.index[i], 'P'] = 'p06'

In [135]:
car017

         ID           Name  Angle        P
0    car017  left-0001.ppm     86  p01,p02
1    car017  left-0018.ppm     87  p01,p02
2    car017  left-0035.ppm     89  p01,p02
3    car017  left-0052.ppm     91  p01,p02
4    car017  left-0069.ppm     94  p01,p02
..      ...            ...    ...      ...
117  car017  left-1990.ppm    113  p01,p02
118  car017  left-2007.ppm    115  p01,p02
119  car017  left-2024.ppm    119  p01,p02
120  car017  left-2041.ppm    121      p03
121  car017  left-2058.ppm    124      p03

[122 rows x 4 columns]

## car019

In [136]:
car019  = pd.read_csv(os.path.join(path,'car019.csv')) 
car019 = car019.iloc[:,1:]
car019

         ID           Name  Angle
0    car019  left-0001.ppm     25
1    car019  left-0017.ppm     25
2    car019  left-0033.ppm     27
3    car019  left-0049.ppm     30
4    car019  left-0065.ppm     32
..      ...            ...    ...
120  car019  left-1921.ppm    160
121  car019  left-1937.ppm    165
122  car019  left-1953.ppm    169
123  car019  left-1969.ppm    174
124  car019  left-1985.ppm    177

[125 rows x 3 columns]

In [137]:
for i in range(len(car019)):
    ang = car019['Angle'][i]
    if 0 < ang < 30 :
        car019.loc[car019.index[i], 'P'] = 'p08'
    if 29 < ang < 61 :
        car019.loc[car019.index[i], 'P'] = 'p04'
    if 60 < ang < 120 :
        car019.loc[car019.index[i], 'P'] = 'p01,p02'
    if 119 < ang < 151 :
        car019.loc[car019.index[i], 'P'] = 'p03'
    if 150 < ang < 181 :
        car019.loc[car019.index[i], 'P'] = 'p07'
    if 180 < ang < 226 :
        car019.loc[car019.index[i], 'P'] = 'p05'
    if 225 < ang < 241 :
        car019.loc[car019.index[i], 'P'] = 'p11'
    if 240 < ang < 301 :
        car019.loc[car019.index[i], 'P'] = 'p13, p14'   ## if ',' in car019['p'] , split(',')
    if 300 < ang < 315 :
        car019.loc[car019.index[i], 'P'] = 'p12' 
    elif 314 < ang < 361 or ang <= 0 :
        car019.loc[car019.index[i], 'P'] = 'p06'

In [138]:
car019

         ID           Name  Angle    P
0    car019  left-0001.ppm     25  p08
1    car019  left-0017.ppm     25  p08
2    car019  left-0033.ppm     27  p08
3    car019  left-0049.ppm     30  p04
4    car019  left-0065.ppm     32  p04
..      ...            ...    ...  ...
120  car019  left-1921.ppm    160  p07
121  car019  left-1937.ppm    165  p07
122  car019  left-1953.ppm    169  p07
123  car019  left-1969.ppm    174  p07
124  car019  left-1985.ppm    177  p07

[125 rows x 4 columns]

## car026

In [139]:
car026  = pd.read_csv(os.path.join(path,'car026.csv')) 
car026 = car026.iloc[:,1:]
car026

         ID           Name  Angle
0    car026  left-0001.ppm     56
1    car026  left-0014.ppm     56
2    car026  left-0027.ppm     56
3    car026  left-0040.ppm     57
4    car026  left-0053.ppm     57
..      ...            ...    ...
116  car026  left-1509.ppm    134
117  car026  left-1522.ppm    140
118  car026  left-1535.ppm    147
119  car026  left-1548.ppm    153
120  car026  left-1561.ppm    159

[121 rows x 3 columns]

In [140]:
for i in range(len(car026)):
    ang = car026['Angle'][i]
    if 0 < ang < 30 :
        car026.loc[car026.index[i], 'P'] = 'p08'
    if 29 < ang < 61 :
        car026.loc[car026.index[i], 'P'] = 'p04'
    if 60 < ang < 120 :
        car026.loc[car026.index[i], 'P'] = 'p01,p02'
    if 119 < ang < 151 :
        car026.loc[car026.index[i], 'P'] = 'p03'
    if 150 < ang < 181 :
        car026.loc[car026.index[i], 'P'] = 'p07'
    if 180 < ang < 226 :
        car026.loc[car026.index[i], 'P'] = 'p05'
    if 225 < ang < 241 :
        car026.loc[car026.index[i], 'P'] = 'p11'
    if 240 < ang < 301 :
        car026.loc[car026.index[i], 'P'] = 'p13, p14'   ## if ',' in car026['p'] , split(',')
    if 300 < ang < 315 :
        car026.loc[car026.index[i], 'P'] = 'p12' 
    elif 314 < ang < 361 or ang <= 0 :
        car026.loc[car026.index[i], 'P'] = 'p06'

In [141]:
car026

         ID           Name  Angle    P
0    car026  left-0001.ppm     56  p04
1    car026  left-0014.ppm     56  p04
2    car026  left-0027.ppm     56  p04
3    car026  left-0040.ppm     57  p04
4    car026  left-0053.ppm     57  p04
..      ...            ...    ...  ...
116  car026  left-1509.ppm    134  p03
117  car026  left-1522.ppm    140  p03
118  car026  left-1535.ppm    147  p03
119  car026  left-1548.ppm    153  p07
120  car026  left-1561.ppm    159  p07

[121 rows x 4 columns]

## car028

In [142]:
car028  = pd.read_csv(os.path.join(path,'car028.csv')) 
car028 = car028.iloc[:,1:]
car028

         ID           Name  Angle
0    car028  left-0001.ppm     16
1    car028  left-0017.ppm     16
2    car028  left-0033.ppm     16
3    car028  left-0049.ppm     14
4    car028  left-0065.ppm     12
..      ...            ...    ...
121  car028  left-1937.ppm     17
122  car028  left-1953.ppm     16
123  car028  left-1969.ppm     15
124  car028  left-1985.ppm     14
125  car028  left-2001.ppm     12

[126 rows x 3 columns]

In [143]:
for i in range(len(car028)):
    ang = car028['Angle'][i]
    if 0 < ang < 30 :
        car028.loc[car028.index[i], 'P'] = 'p08'
    if 29 < ang < 61 :
        car028.loc[car028.index[i], 'P'] = 'p04'
    if 60 < ang < 120 :
        car028.loc[car028.index[i], 'P'] = 'p01,p02'
    if 119 < ang < 151 :
        car028.loc[car028.index[i], 'P'] = 'p03'
    if 150 < ang < 181 :
        car028.loc[car028.index[i], 'P'] = 'p07'
    if 180 < ang < 226 :
        car028.loc[car028.index[i], 'P'] = 'p05'
    if 225 < ang < 241 :
        car028.loc[car028.index[i], 'P'] = 'p11'
    if 240 < ang < 301 :
        car028.loc[car028.index[i], 'P'] = 'p13, p14'   ## if ',' in car028['p'] , split(',')
    if 300 < ang < 315 :
        car028.loc[car028.index[i], 'P'] = 'p12' 
    elif 314 < ang < 361 or ang <= 0 :
        car028.loc[car028.index[i], 'P'] = 'p06'

In [144]:
car028

         ID           Name  Angle    P
0    car028  left-0001.ppm     16  p08
1    car028  left-0017.ppm     16  p08
2    car028  left-0033.ppm     16  p08
3    car028  left-0049.ppm     14  p08
4    car028  left-0065.ppm     12  p08
..      ...            ...    ...  ...
121  car028  left-1937.ppm     17  p08
122  car028  left-1953.ppm     16  p08
123  car028  left-1969.ppm     15  p08
124  car028  left-1985.ppm     14  p08
125  car028  left-2001.ppm     12  p08

[126 rows x 4 columns]

## car033

In [145]:
car033  = pd.read_csv(os.path.join(path,'car033.csv')) 
car033 = car033.iloc[:,1:]
car033

         ID           Name  Angle
0    car033  left-0001.ppm    304
1    car033  left-0022.ppm    304
2    car033  left-0043.ppm    302
3    car033  left-0064.ppm    298
4    car033  left-0085.ppm    296
..      ...            ...    ...
120  car033  left-2521.ppm      5
121  car033  left-2542.ppm    360
122  car033  left-2563.ppm    356
123  car033  left-2584.ppm    357
124  car033  left-2605.ppm    358

[125 rows x 3 columns]

In [146]:
for i in range(len(car033)):
    ang = car033['Angle'][i]
    if 0 < ang < 30 :
        car033.loc[car033.index[i], 'P'] = 'p08'
    if 29 < ang < 61 :
        car033.loc[car033.index[i], 'P'] = 'p04'
    if 60 < ang < 120 :
        car033.loc[car033.index[i], 'P'] = 'p01,p02'
    if 119 < ang < 151 :
        car033.loc[car033.index[i], 'P'] = 'p03'
    if 150 < ang < 181 :
        car033.loc[car033.index[i], 'P'] = 'p07'
    if 180 < ang < 226 :
        car033.loc[car033.index[i], 'P'] = 'p05'
    if 225 < ang < 241 :
        car033.loc[car033.index[i], 'P'] = 'p11'
    if 240 < ang < 301 :
        car033.loc[car033.index[i], 'P'] = 'p13, p14'   ## if ',' in car033['p'] , split(',')
    if 300 < ang < 315 :
        car033.loc[car033.index[i], 'P'] = 'p12' 
    elif 314 < ang < 361 or ang <= 0 :
        car033.loc[car033.index[i], 'P'] = 'p06'

In [147]:
car033

         ID           Name  Angle         P
0    car033  left-0001.ppm    304       p12
1    car033  left-0022.ppm    304       p12
2    car033  left-0043.ppm    302       p12
3    car033  left-0064.ppm    298  p13, p14
4    car033  left-0085.ppm    296  p13, p14
..      ...            ...    ...       ...
120  car033  left-2521.ppm      5       p08
121  car033  left-2542.ppm    360       p06
122  car033  left-2563.ppm    356       p06
123  car033  left-2584.ppm    357       p06
124  car033  left-2605.ppm    358       p06

[125 rows x 4 columns]

## car040

In [148]:
car040  = pd.read_csv(os.path.join(path,'car040.csv')) 
car040 = car040.iloc[:,1:]
car040

         ID           Name  Angle
0    car040  left-0001.ppm    128
1    car040  left-0013.ppm    128
2    car040  left-0025.ppm    128
3    car040  left-0037.ppm    129
4    car040  left-0049.ppm    131
..      ...            ...    ...
124  car040  left-1489.ppm    176
125  car040  left-1501.ppm    179
126  car040  left-1513.ppm    182
127  car040  left-1525.ppm    184
128  car040  left-1537.ppm    186

[129 rows x 3 columns]

In [149]:
for i in range(len(car040)):
    ang = car040['Angle'][i]
    if 0 < ang < 30 :
        car040.loc[car040.index[i], 'P'] = 'p08'
    if 29 < ang < 61 :
        car040.loc[car040.index[i], 'P'] = 'p04'
    if 60 < ang < 120 :
        car040.loc[car040.index[i], 'P'] = 'p01,p02'
    if 119 < ang < 151 :
        car040.loc[car040.index[i], 'P'] = 'p03'
    if 150 < ang < 181 :
        car040.loc[car040.index[i], 'P'] = 'p07'
    if 180 < ang < 226 :
        car040.loc[car040.index[i], 'P'] = 'p05'
    if 225 < ang < 241 :
        car040.loc[car040.index[i], 'P'] = 'p11'
    if 240 < ang < 301 :
        car040.loc[car040.index[i], 'P'] = 'p13, p14'   ## if ',' in car040['p'] , split(',')
    if 300 < ang < 315 :
        car040.loc[car040.index[i], 'P'] = 'p12' 
    elif 314 < ang < 361 or ang <= 0 :
        car040.loc[car040.index[i], 'P'] = 'p06'

In [150]:
car040

         ID           Name  Angle    P
0    car040  left-0001.ppm    128  p03
1    car040  left-0013.ppm    128  p03
2    car040  left-0025.ppm    128  p03
3    car040  left-0037.ppm    129  p03
4    car040  left-0049.ppm    131  p03
..      ...            ...    ...  ...
124  car040  left-1489.ppm    176  p07
125  car040  left-1501.ppm    179  p07
126  car040  left-1513.ppm    182  p05
127  car040  left-1525.ppm    184  p05
128  car040  left-1537.ppm    186  p05

[129 rows x 4 columns]

## car049

In [151]:
car049  = pd.read_csv(os.path.join(path,'car049.csv')) 
car049 = car049.iloc[:,1:]
car049

         ID           Name  Angle
0    car049  left-0001.ppm     13
1    car049  left-0011.ppm     13
2    car049  left-0021.ppm     14
3    car049  left-0031.ppm     16
4    car049  left-0041.ppm     19
..      ...            ...    ...
116  car049  left-1161.ppm     38
117  car049  left-1171.ppm     41
118  car049  left-1181.ppm     44
119  car049  left-1191.ppm     46
120  car049  left-1201.ppm     48

[121 rows x 3 columns]

In [152]:
for i in range(len(car049)):
    ang = car049['Angle'][i]
    if 0 < ang < 30 :
        car049.loc[car049.index[i], 'P'] = 'p08'
    if 29 < ang < 61 :
        car049.loc[car049.index[i], 'P'] = 'p04'
    if 60 < ang < 120 :
        car049.loc[car049.index[i], 'P'] = 'p01,p02'
    if 119 < ang < 151 :
        car049.loc[car049.index[i], 'P'] = 'p03'
    if 150 < ang < 181 :
        car049.loc[car049.index[i], 'P'] = 'p07'
    if 180 < ang < 226 :
        car049.loc[car049.index[i], 'P'] = 'p05'
    if 225 < ang < 241 :
        car049.loc[car049.index[i], 'P'] = 'p11'
    if 240 < ang < 301 :
        car049.loc[car049.index[i], 'P'] = 'p13, p14'   ## if ',' in car049['p'] , split(',')
    if 300 < ang < 315 :
        car049.loc[car049.index[i], 'P'] = 'p12' 
    elif 314 < ang < 361 or ang <= 0 :
        car049.loc[car049.index[i], 'P'] = 'p06'

In [153]:
car049

         ID           Name  Angle    P
0    car049  left-0001.ppm     13  p08
1    car049  left-0011.ppm     13  p08
2    car049  left-0021.ppm     14  p08
3    car049  left-0031.ppm     16  p08
4    car049  left-0041.ppm     19  p08
..      ...            ...    ...  ...
116  car049  left-1161.ppm     38  p04
117  car049  left-1171.ppm     41  p04
118  car049  left-1181.ppm     44  p04
119  car049  left-1191.ppm     46  p04
120  car049  left-1201.ppm     48  p04

[121 rows x 4 columns]