<a href="https://colab.research.google.com/github/SupidchayaTangkidwanich/-prj/blob/main/test3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive #เชื่อมเข้ากับ Drive 
drive.mount('/content/drive')  # คลิกที่ลิงก์ -> เลือก E-mail -> ลงชื่อเข้าใช้ -> ก็อปโค้ด -> นำกลับมาวางในช่องว่าง -> กด enter

Mounted at /content/drive

In [3]:
ls #คำสั่ง ls ดูว่าเชื่อมในไดร์ฟหรือยัง

drive/  sample_data/

In [4]:
import os # os เอาไว้จัดการไฟล์และ path

#การนำเข้าไฟล์

## ตารางองศาแบบมีประตู

In [5]:
path = '/content/drive/My Drive/File' #path คือที่อยู่ของไฟล์ โดยไฟล์อยู่ในไดร์ฟ ชื่อโฟลเดอร์ว่า File
DY  = pd.read_csv(os.path.join(path,'DY.csv')) 
DY = DY.iloc[:,1:]
DY

   Part    Angle
0   p01   63-115
1   p02   63-115
2   p03  116-135
3   p04    46-62
4   p05  143-180
5   p06   358-30
6   p07  136-142
7   p08    31-45
8   p09  181-225
9   p10  311-357
10  p11  226-250
11  p12  291-310
12  p13  251-290
13  p14  251-290

## car003

In [69]:
car003  = pd.read_csv(os.path.join(path,'car003.csv')) 
car003 = car003.iloc[:,1:]
car003

         ID           Name  Angle
0    car003  left-0001.ppm    270
1    car003  left-0029.ppm    273
2    car003  left-0057.ppm    278
3    car003  left-0085.ppm    285
4    car003  left-0113.ppm    292
..      ...            ...    ...
119  car003  left-3333.ppm    308
120  car003  left-3361.ppm    309
121  car003  left-3389.ppm    309
122  car003  left-3417.ppm    311
123  car003  left-3445.ppm    313

[124 rows x 3 columns]

## test

In [70]:
for i in range(len(car003)):
    ang = car003['Angle'][i]
    if 30 < ang < 46 :
        car003.loc[car003.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car003.loc[car003.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car003.loc[car003.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car003.loc[car003.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car003.loc[car003.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car003.loc[car003.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car003.loc[car003.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car003.loc[car003.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car003.loc[car003.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')  
    if 290 < ang < 311 :
        car003.loc[car003.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car003.loc[car003.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car003.loc[car003.index[i], 'P'] = 'p06'

In [71]:
car003

         ID           Name  Angle         P
0    car003  left-0001.ppm    270  p13, p14
1    car003  left-0029.ppm    273  p13, p14
2    car003  left-0057.ppm    278  p13, p14
3    car003  left-0085.ppm    285  p13, p14
4    car003  left-0113.ppm    292       p12
..      ...            ...    ...       ...
119  car003  left-3333.ppm    308       p12
120  car003  left-3361.ppm    309       p12
121  car003  left-3389.ppm    309       p12
122  car003  left-3417.ppm    311       p10
123  car003  left-3445.ppm    313       p10

[124 rows x 4 columns]

## car004

In [7]:
car004  = pd.read_csv(os.path.join(path,'car004.csv')) 
car004 = car004.iloc[:,1:]
car004

         ID           Name  Angle
0    car004  left-0001.ppm    319
1    car004  left-0031.ppm    317
2    car004  left-0061.ppm    312
3    car004  left-0091.ppm    305
4    car004  left-0121.ppm    299
..      ...            ...    ...
116  car004  left-3481.ppm    331
117  car004  left-3511.ppm    327
118  car004  left-3541.ppm    324
119  car004  left-3571.ppm    320
120  car004  left-3601.ppm    317

[121 rows x 3 columns]

In [72]:
for i in range(len(car004)):
    ang = car004['Angle'][i]
    if 30 < ang < 46 :
        car004.loc[car004.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car004.loc[car004.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car004.loc[car004.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car004.loc[car004.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car004.loc[car004.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car004.loc[car004.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car004.loc[car004.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car004.loc[car004.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car004.loc[car004.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')  
    if 290 < ang < 311 :
        car004.loc[car004.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car004.loc[car004.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car004.loc[car004.index[i], 'P'] = 'p06'

In [73]:
car004

         ID           Name  Angle    P
0    car004  left-0001.ppm    319  p10
1    car004  left-0031.ppm    317  p10
2    car004  left-0061.ppm    312  p10
3    car004  left-0091.ppm    305  p12
4    car004  left-0121.ppm    299  p12
..      ...            ...    ...  ...
116  car004  left-3481.ppm    331  p10
117  car004  left-3511.ppm    327  p10
118  car004  left-3541.ppm    324  p10
119  car004  left-3571.ppm    320  p10
120  car004  left-3601.ppm    317  p10

[121 rows x 4 columns]

## car005

In [8]:
car005  = pd.read_csv(os.path.join(path,'car005.csv')) 
car005 = car005.iloc[:,1:]
car005

         ID           Name  Angle
0    car005  left-0001.ppm     11
1    car005  left-0026.ppm     11
2    car005  left-0051.ppm     10
3    car005  left-0076.ppm     10
4    car005  left-0101.ppm     10
..      ...            ...    ...
116  car005  left-2901.ppm     12
117  car005  left-2926.ppm     12
118  car005  left-2951.ppm     12
119  car005  left-2976.ppm     12
120  car005  left-3001.ppm     12

[121 rows x 3 columns]

In [74]:
for i in range(len(car005)):
    ang = car005['Angle'][i]
    if 30 < ang < 46 :
        car005.loc[car005.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car005.loc[car005.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car005.loc[car005.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car005.loc[car005.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car005.loc[car005.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car005.loc[car005.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car005.loc[car005.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car005.loc[car005.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car005.loc[car005.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car005.loc[car005.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car005.loc[car005.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car005.loc[car005.index[i], 'P'] = 'p06'

In [75]:
car005

         ID           Name  Angle    P
0    car005  left-0001.ppm     11  p06
1    car005  left-0026.ppm     11  p06
2    car005  left-0051.ppm     10  p06
3    car005  left-0076.ppm     10  p06
4    car005  left-0101.ppm     10  p06
..      ...            ...    ...  ...
116  car005  left-2901.ppm     12  p06
117  car005  left-2926.ppm     12  p06
118  car005  left-2951.ppm     12  p06
119  car005  left-2976.ppm     12  p06
120  car005  left-3001.ppm     12  p06

[121 rows x 4 columns]

## car009

In [9]:
car009  = pd.read_csv(os.path.join(path,'car009.csv')) 
car009 = car009.iloc[:,1:]
car009

         ID           Name  Angle
0    car009  left-0001.ppm     81
1    car009  left-0015.ppm     81
2    car009  left-0029.ppm     78
3    car009  left-0043.ppm     75
4    car009  left-0057.ppm     72
..      ...            ...    ...
120  car009  left-1681.ppm     58
121  car009  left-1695.ppm     54
122  car009  left-1709.ppm     52
123  car009  left-1723.ppm     52
124  car009  left-1737.ppm     52

[125 rows x 3 columns]

In [76]:
for i in range(len(car009)):
    ang = car009['Angle'][i]
    if 30 < ang < 46 :
        car009.loc[car009.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car009.loc[car009.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car009.loc[car009.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car009.loc[car009.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car009.loc[car009.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car009.loc[car009.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car009.loc[car009.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car009.loc[car009.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car009.loc[car009.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car009.loc[car009.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car009.loc[car009.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car009.loc[car009.index[i], 'P'] = 'p06'

In [77]:
car009

         ID           Name  Angle        P
0    car009  left-0001.ppm     81  p01,p02
1    car009  left-0015.ppm     81  p01,p02
2    car009  left-0029.ppm     78  p01,p02
3    car009  left-0043.ppm     75  p01,p02
4    car009  left-0057.ppm     72  p01,p02
..      ...            ...    ...      ...
120  car009  left-1681.ppm     58      p04
121  car009  left-1695.ppm     54      p04
122  car009  left-1709.ppm     52      p04
123  car009  left-1723.ppm     52      p04
124  car009  left-1737.ppm     52      p04

[125 rows x 4 columns]

## car010

In [10]:
car010  = pd.read_csv(os.path.join(path,'car010.csv')) 
car010 = car010.iloc[:,1:]
car010

         ID           Name  Angle
0    car010  left-0001.ppm    205
1    car010  left-0016.ppm    206
2    car010  left-0031.ppm    209
3    car010  left-0046.ppm    213
4    car010  left-0061.ppm    218
..      ...            ...    ...
118  car010  left-1771.ppm    326
119  car010  left-1786.ppm    329
120  car010  left-1801.ppm    332
121  car010  left-1816.ppm    336
122  car010  left-1831.ppm    340

[123 rows x 3 columns]

In [78]:
for i in range(len(car010)):
    ang = car010['Angle'][i]
    if 30 < ang < 46 :
        car010.loc[car010.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car010.loc[car010.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car010.loc[car010.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car010.loc[car010.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car010.loc[car010.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car010.loc[car010.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car010.loc[car010.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car010.loc[car010.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car010.loc[car010.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car010.loc[car010.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car010.loc[car010.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car010.loc[car010.index[i], 'P'] = 'p06'

In [79]:
car010

         ID           Name  Angle    P
0    car010  left-0001.ppm    205  p09
1    car010  left-0016.ppm    206  p09
2    car010  left-0031.ppm    209  p09
3    car010  left-0046.ppm    213  p09
4    car010  left-0061.ppm    218  p09
..      ...            ...    ...  ...
118  car010  left-1771.ppm    326  p10
119  car010  left-1786.ppm    329  p10
120  car010  left-1801.ppm    332  p10
121  car010  left-1816.ppm    336  p10
122  car010  left-1831.ppm    340  p10

[123 rows x 4 columns]

##car011

In [11]:
car011  = pd.read_csv(os.path.join(path,'car011.csv')) 
car011 = car011.iloc[:,1:]
car011

         ID           Name  Angle
0    car011  left-0001.ppm     68
1    car011  left-0019.ppm     68
2    car011  left-0037.ppm     70
3    car011  left-0055.ppm     73
4    car011  left-0073.ppm     77
..      ...            ...    ...
118  car011  left-2125.ppm     81
119  car011  left-2143.ppm     85
120  car011  left-2161.ppm     89
121  car011  left-2179.ppm     94
122  car011  left-2197.ppm     98

[123 rows x 3 columns]

In [80]:
for i in range(len(car011)):
    ang = car011['Angle'][i]
    if 30 < ang < 46 :
        car011.loc[car011.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car011.loc[car011.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car011.loc[car011.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car011.loc[car011.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car011.loc[car011.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car011.loc[car011.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car011.loc[car011.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car011.loc[car011.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car011.loc[car011.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car011.loc[car011.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car011.loc[car011.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car011.loc[car011.index[i], 'P'] = 'p06'

In [81]:
car011

         ID           Name  Angle        P
0    car011  left-0001.ppm     68  p01,p02
1    car011  left-0019.ppm     68  p01,p02
2    car011  left-0037.ppm     70  p01,p02
3    car011  left-0055.ppm     73  p01,p02
4    car011  left-0073.ppm     77  p01,p02
..      ...            ...    ...      ...
118  car011  left-2125.ppm     81  p01,p02
119  car011  left-2143.ppm     85  p01,p02
120  car011  left-2161.ppm     89  p01,p02
121  car011  left-2179.ppm     94  p01,p02
122  car011  left-2197.ppm     98  p01,p02

[123 rows x 4 columns]

## car012

In [12]:
car012  = pd.read_csv(os.path.join(path,'car012.csv')) 
car012 = car012.iloc[:,1:]
car012

         ID           Name  Angle
0    car012  left-0001.ppm    117
1    car012  left-0024.ppm    116
2    car012  left-0047.ppm    115
3    car012  left-0070.ppm    111
4    car012  left-0093.ppm    107
..      ...            ...    ...
119  car012  left-2738.ppm     86
120  car012  left-2761.ppm     81
121  car012  left-2784.ppm     77
122  car012  left-2807.ppm     72
123  car012  left-2830.ppm     68

[124 rows x 3 columns]

In [82]:
for i in range(len(car012)):
    ang = car012['Angle'][i]
    if 30 < ang < 46 :
        car012.loc[car012.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car012.loc[car012.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car012.loc[car012.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car012.loc[car012.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car012.loc[car012.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car012.loc[car012.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car012.loc[car012.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car012.loc[car012.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car012.loc[car012.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car012.loc[car012.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car012.loc[car012.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car012.loc[car012.index[i], 'P'] = 'p06'

In [83]:
car012

         ID           Name  Angle        P
0    car012  left-0001.ppm    117      p03
1    car012  left-0024.ppm    116      p03
2    car012  left-0047.ppm    115  p01,p02
3    car012  left-0070.ppm    111  p01,p02
4    car012  left-0093.ppm    107  p01,p02
..      ...            ...    ...      ...
119  car012  left-2738.ppm     86  p01,p02
120  car012  left-2761.ppm     81  p01,p02
121  car012  left-2784.ppm     77  p01,p02
122  car012  left-2807.ppm     72  p01,p02
123  car012  left-2830.ppm     68  p01,p02

[124 rows x 4 columns]

## car013

In [13]:
car013  = pd.read_csv(os.path.join(path,'car013.csv')) 
car013 = car013.iloc[:,1:]
car013

         ID           Name  Angle
0    car013  left-0001.ppm     71
1    car013  left-0016.ppm     71
2    car013  left-0031.ppm     73
3    car013  left-0046.ppm     74
4    car013  left-0061.ppm     76
..      ...            ...    ...
118  car013  left-1771.ppm     72
119  car013  left-1786.ppm     74
120  car013  left-1801.ppm     76
121  car013  left-1816.ppm     78
122  car013  left-1831.ppm     80

[123 rows x 3 columns]

In [ ]:
for i in range(len(car003)):
    ang = car003['Angle'][i]
    if 30 < ang < 46 :
        car003.loc[car003.index[i], 'P'] = 'p08'
    if 45 < ang < 63 :
        car003.loc[car003.index[i], 'P'] = 'p04'
    if 62 < ang < 116 :
        car003.loc[car003.index[i], 'P'] = 'p01,p02'
    if 115 < ang < 136 :
        car003.loc[car003.index[i], 'P'] = 'p03'
    if 135 < ang < 143 :
        car003.loc[car003.index[i], 'P'] = 'p07'
    if 142 < ang < 181 :
        car003.loc[car003.index[i], 'P'] = 'p05'
    if 180 < ang < 226 :
        car003.loc[car003.index[i], 'P'] = 'p09'
    if 225 < ang < 251 :
        car003.loc[car003.index[i], 'P'] = 'p11'
    if 250 < ang < 291 :
        car003.loc[car003.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')
    if 290 < ang < 311 :
        car003.loc[car003.index[i], 'P'] = 'p12' 
    if 310 < ang < 358 :
        car003.loc[car003.index[i], 'P'] = 'p10'
    elif 357 < ang < 361 or ang <= 30 :
        car003.loc[car003.index[i], 'P'] = 'p06'

## car015

In [14]:
car015  = pd.read_csv(os.path.join(path,'car015.csv')) 
car015 = car015.iloc[:,1:]
car015

         ID           Name  Angle
0    car015  left-0001.ppm    111
1    car015  left-0024.ppm    111
2    car015  left-0047.ppm    111
3    car015  left-0070.ppm    110
4    car015  left-0093.ppm    111
..      ...            ...    ...
118  car015  left-2715.ppm    126
119  car015  left-2738.ppm    130
120  car015  left-2761.ppm    136
121  car015  left-2784.ppm    139
122  car015  left-2807.ppm    142

[123 rows x 3 columns]

## car016

In [15]:
car016  = pd.read_csv(os.path.join(path,'car016.csv')) 
car016 = car016.iloc[:,1:]
car016

         ID           Name  Angle
0    car016  left-0001.ppm    113
1    car016  left-0023.ppm    113
2    car016  left-0045.ppm    115
3    car016  left-0067.ppm    118
4    car016  left-0089.ppm    121
..      ...            ...    ...
116  car016  left-2553.ppm     63
117  car016  left-2575.ppm     68
118  car016  left-2597.ppm     74
119  car016  left-2619.ppm     79
120  car016  left-2641.ppm     84

[121 rows x 3 columns]

## car018

In [16]:
car018  = pd.read_csv(os.path.join(path,'car018.csv')) 
car018 = car018.iloc[:,1:]
car018

         ID           Name  Angle
0    car018  left-0001.ppm    170
1    car018  left-0025.ppm    169
2    car018  left-0049.ppm    166
3    car018  left-0073.ppm    165
4    car018  left-0097.ppm    161
..      ...            ...    ...
117  car018  left-2809.ppm    139
118  car018  left-2833.ppm    136
119  car018  left-2857.ppm    133
120  car018  left-2881.ppm    132
121  car018  left-2905.ppm    132

[122 rows x 3 columns]

## car021

In [17]:
car021  = pd.read_csv(os.path.join(path,'car021.csv')) 
car021 = car021.iloc[:,1:]
car021

         ID           Name  Angle
0    car021  left-0001.ppm     90
1    car021  left-0023.ppm     90
2    car021  left-0045.ppm     91
3    car021  left-0067.ppm     91
4    car021  left-0089.ppm     93
..      ...            ...    ...
120  car021  left-2641.ppm     67
121  car021  left-2663.ppm     73
122  car021  left-2685.ppm     78
123  car021  left-2707.ppm     84
124  car021  left-2729.ppm     90

[125 rows x 3 columns]

## car022

In [18]:
car022  = pd.read_csv(os.path.join(path,'car022.csv')) 
car022 = car022.iloc[:,1:]
car022

         ID           Name  Angle
0    car022  left-0001.ppm    113
1    car022  left-0019.ppm    113
2    car022  left-0037.ppm    114
3    car022  left-0055.ppm    115
4    car022  left-0073.ppm    119
..      ...            ...    ...
118  car022  left-2125.ppm      2
119  car022  left-2143.ppm      6
120  car022  left-2161.ppm     10
121  car022  left-2179.ppm     14
122  car022  left-2197.ppm     15

[123 rows x 3 columns]

## car024

In [19]:
car024  = pd.read_csv(os.path.join(path,'car024.csv')) 
car024 = car024.iloc[:,1:]
car024

         ID           Name  Angle
0    car024  left-0001.ppm     69
1    car024  left-0021.ppm     70
2    car024  left-0041.ppm     72
3    car024  left-0061.ppm     77
4    car024  left-0081.ppm     83
..      ...            ...    ...
118  car024  left-2361.ppm     81
119  car024  left-2381.ppm     85
120  car024  left-2401.ppm     89
121  car024  left-2421.ppm     93
122  car024  left-2441.ppm     97

[123 rows x 3 columns]

## car025

In [20]:
car025  = pd.read_csv(os.path.join(path,'car025.csv')) 
car025 = car025.iloc[:,1:]
car025

         ID           Name  Angle
0    car025  left-0001.ppm     32
1    car025  left-0021.ppm     32
2    car025  left-0041.ppm     31
3    car025  left-0061.ppm     28
4    car025  left-0081.ppm     26
..      ...            ...    ...
120  car025  left-2401.ppm     36
121  car025  left-2421.ppm     35
122  car025  left-2441.ppm     35
123  car025  left-2461.ppm     34
124  car025  left-2481.ppm     34

[125 rows x 3 columns]

## car027

In [21]:
car027  = pd.read_csv(os.path.join(path,'car027.csv')) 
car027 = car027.iloc[:,1:]
car027

         ID           Name  Angle
0    car027  left-0001.ppm    357
1    car027  left-0014.ppm    360
2    car027  left-0027.ppm      2
3    car027  left-0040.ppm      5
4    car027  left-0053.ppm      7
..      ...            ...    ...
120  car027  left-1561.ppm     21
121  car027  left-1574.ppm     23
122  car027  left-1587.ppm     26
123  car027  left-1600.ppm     27
124  car027  left-1613.ppm     29

[125 rows x 3 columns]

## car029

In [22]:
car029  = pd.read_csv(os.path.join(path,'car029.csv')) 
car029 = car029.iloc[:,1:]
car029

         ID           Name  Angle
0    car029  left-0001.ppm    307
1    car029  left-0016.ppm    307
2    car029  left-0031.ppm    306
3    car029  left-0046.ppm    302
4    car029  left-0061.ppm    300
..      ...            ...    ...
122  car029  left-1831.ppm    211
123  car029  left-1846.ppm    205
124  car029  left-1861.ppm    199
125  car029  left-1876.ppm    193
126  car029  left-1891.ppm    188

[127 rows x 3 columns]

## car030

In [23]:
car030  = pd.read_csv(os.path.join(path,'car030.csv')) 
car030 = car030.iloc[:,1:]
car030

         ID           Name  Angle
0    car030  left-0001.ppm     29
1    car030  left-0018.ppm     29
2    car030  left-0035.ppm     32
3    car030  left-0052.ppm     36
4    car030  left-0069.ppm     40
..      ...            ...    ...
116  car030  left-1973.ppm    282
117  car030  left-1990.ppm    289
118  car030  left-2007.ppm    296
119  car030  left-2024.ppm    302
120  car030  left-2041.ppm    302

[121 rows x 3 columns]

## car032

In [24]:
car032  = pd.read_csv(os.path.join(path,'car032.csv')) 
car032 = car032.iloc[:,1:]
car032

         ID           Name  Angle
0    car032  left-0001.ppm    202
1    car032  left-0016.ppm    201
2    car032  left-0031.ppm    200
3    car032  left-0046.ppm    197
4    car032  left-0061.ppm    194
..      ...            ...    ...
116  car032  left-1741.ppm    114
117  car032  left-1756.ppm    108
118  car032  left-1771.ppm    102
119  car032  left-1786.ppm     97
120  car032  left-1801.ppm     93

[121 rows x 3 columns]

## car034

In [25]:
car034  = pd.read_csv(os.path.join(path,'car034.csv')) 
car034 = car034.iloc[:,1:]
car034

         ID           Name  Angle
0    car034  left-0001.ppm    126
1    car034  left-0015.ppm    126
2    car034  left-0029.ppm    128
3    car034  left-0043.ppm    131
4    car034  left-0057.ppm    135
..      ...            ...    ...
120  car034  left-1681.ppm    234
121  car034  left-1695.ppm    238
122  car034  left-1709.ppm    242
123  car034  left-1723.ppm    247
124  car034  left-1737.ppm    250

[125 rows x 3 columns]

## car035

In [26]:
car035  = pd.read_csv(os.path.join(path,'car035.csv')) 
car035 = car035.iloc[:,1:]
car035

         ID           Name  Angle
0    car035  left-0001.ppm    107
1    car035  left-0015.ppm    106
2    car035  left-0029.ppm    106
3    car035  left-0043.ppm    107
4    car035  left-0057.ppm    109
..      ...            ...    ...
117  car035  left-1639.ppm    231
118  car035  left-1653.ppm    234
119  car035  left-1667.ppm    238
120  car035  left-1681.ppm    241
121  car035  left-1695.ppm    245

[122 rows x 3 columns]

## car037

In [27]:
car037  = pd.read_csv(os.path.join(path,'car037.csv')) 
car037 = car037.iloc[:,1:]
car037

         ID           Name  Angle
0    car037  left-0001.ppm     98
1    car037  left-0021.ppm     99
2    car037  left-0041.ppm     99
3    car037  left-0061.ppm    100
4    car037  left-0081.ppm    101
..      ...            ...    ...
116  car037  left-2321.ppm    180
117  car037  left-2341.ppm    186
118  car037  left-2361.ppm    190
119  car037  left-2381.ppm    192
120  car037  left-2401.ppm    192

[121 rows x 3 columns]

## car038

In [28]:
car038  = pd.read_csv(os.path.join(path,'car038.csv')) 
car038 = car038.iloc[:,1:]
car038

         ID           Name  Angle
0    car038  left-0001.ppm     19
1    car038  left-0016.ppm     19
2    car038  left-0031.ppm     19
3    car038  left-0046.ppm     21
4    car038  left-0061.ppm     23
..      ...            ...    ...
118  car038  left-1771.ppm     43
119  car038  left-1786.ppm     48
120  car038  left-1801.ppm     53
121  car038  left-1816.ppm     57
122  car038  left-1831.ppm     60

[123 rows x 3 columns]

## car039

In [29]:
car039  = pd.read_csv(os.path.join(path,'car039.csv')) 
car039 = car039.iloc[:,1:]
car039

         ID           Name  Angle
0    car039  left-0001.ppm     33
1    car039  left-0012.ppm     33
2    car039  left-0023.ppm     33
3    car039  left-0034.ppm     31
4    car039  left-0045.ppm     29
..      ...            ...    ...
123  car039  left-1354.ppm     14
124  car039  left-1365.ppm     11
125  car039  left-1376.ppm      8
126  car039  left-1387.ppm      5
127  car039  left-1398.ppm      4

[128 rows x 3 columns]

## car041

In [30]:
car041  = pd.read_csv(os.path.join(path,'car041.csv')) 
car041 = car041.iloc[:,1:]
car041

         ID           Name  Angle
0    car041  left-0001.ppm      6
1    car041  left-0011.ppm      6
2    car041  left-0021.ppm      6
3    car041  left-0031.ppm      8
4    car041  left-0041.ppm     12
..      ...            ...    ...
125  car041  left-1251.ppm     40
126  car041  left-1261.ppm     43
127  car041  left-1271.ppm     45
128  car041  left-1281.ppm     48
129  car041  left-1291.ppm     51

[130 rows x 3 columns]

## car042

In [31]:
car042  = pd.read_csv(os.path.join(path,'car042.csv')) 
car042 = car042.iloc[:,1:]
car042

         ID           Name  Angle
0    car042  left-0001.ppm     24
1    car042  left-0014.ppm     24
2    car042  left-0027.ppm     27
3    car042  left-0040.ppm     29
4    car042  left-0053.ppm     32
..      ...            ...    ...
118  car042  left-1535.ppm     95
119  car042  left-1548.ppm     98
120  car042  left-1561.ppm    101
121  car042  left-1574.ppm    104
122  car042  left-1587.ppm    107

[123 rows x 3 columns]

## car043

In [32]:
car043  = pd.read_csv(os.path.join(path,'car043.csv')) 
car043 = car043.iloc[:,1:]
car043

         ID           Name  Angle
0    car043  left-0001.ppm     61
1    car043  left-0017.ppm     61
2    car043  left-0033.ppm     62
3    car043  left-0049.ppm     65
4    car043  left-0065.ppm     68
..      ...            ...    ...
118  car043  left-1889.ppm    306
119  car043  left-1905.ppm    310
120  car043  left-1921.ppm    316
121  car043  left-1937.ppm    322
122  car043  left-1953.ppm    329

[123 rows x 3 columns]

## car044

In [33]:
car044  = pd.read_csv(os.path.join(path,'car044.csv')) 
car044 = car044.iloc[:,1:]
car044

         ID           Name  Angle
0    car044  left-0001.ppm     80
1    car044  left-0017.ppm     80
2    car044  left-0033.ppm     80
3    car044  left-0049.ppm     81
4    car044  left-0065.ppm     83
..      ...            ...    ...
122  car044  left-1953.ppm     71
123  car044  left-1969.ppm     77
124  car044  left-1985.ppm     82
125  car044  left-2001.ppm     87
126  car044  left-2017.ppm     91

[127 rows x 3 columns]

## car045

In [34]:
car045  = pd.read_csv(os.path.join(path,'car045.csv')) 
car045 = car045.iloc[:,1:]
car045

         ID           Name  Angle
0    car045  left-0001.ppm     30
1    car045  left-0016.ppm     31
2    car045  left-0031.ppm     33
3    car045  left-0046.ppm     37
4    car045  left-0061.ppm     41
..      ...            ...    ...
116  car045  left-1741.ppm     37
117  car045  left-1756.ppm     43
118  car045  left-1771.ppm     49
119  car045  left-1786.ppm     55
120  car045  left-1801.ppm     60

[121 rows x 3 columns]

## car046

In [35]:
car046  = pd.read_csv(os.path.join(path,'car046.csv')) 
car046 = car046.iloc[:,1:]
car046

         ID           Name  Angle
0    car046  left-0001.ppm    278
1    car046  left-0011.ppm    278
2    car046  left-0021.ppm    278
3    car046  left-0031.ppm    278
4    car046  left-0041.ppm    279
..      ...            ...    ...
120  car046  left-1201.ppm    311
121  car046  left-1211.ppm    314
122  car046  left-1221.ppm    317
123  car046  left-1231.ppm    320
124  car046  left-1241.ppm    323

[125 rows x 3 columns]

## car047

In [36]:
car047  = pd.read_csv(os.path.join(path,'car047.csv')) 
car047 = car047.iloc[:,1:]
car047

         ID           Name  Angle
0    car047  left-0001.ppm    202
1    car047  left-0020.ppm    202
2    car047  left-0039.ppm    203
3    car047  left-0058.ppm    205
4    car047  left-0077.ppm    207
..      ...            ...    ...
121  car047  left-2300.ppm    327
122  car047  left-2319.ppm    333
123  car047  left-2338.ppm    338
124  car047  left-2357.ppm    341
125  car047  left-2376.ppm    344

[126 rows x 3 columns]

## car048

In [37]:
car048  = pd.read_csv(os.path.join(path,'car048.csv')) 
car048 = car048.iloc[:,1:]
car048

         ID           Name  Angle
0    car048  left-0001.ppm     22
1    car048  left-0011.ppm     21
2    car048  left-0021.ppm     19
3    car048  left-0031.ppm     17
4    car048  left-0041.ppm     15
..      ...            ...    ...
126  car048  left-1261.ppm    354
127  car048  left-1271.ppm    351
128  car048  left-1281.ppm    348
129  car048  left-1291.ppm    344
130  car048  left-1301.ppm    341

[131 rows x 3 columns]

## car050

In [38]:
car050  = pd.read_csv(os.path.join(path,'car050.csv')) 
car050 = car050.iloc[:,1:]
car050

         ID           Name  Angle
0    car050  left-0001.ppm    300
1    car050  left-0011.ppm    300
2    car050  left-0021.ppm    301
3    car050  left-0031.ppm    303
4    car050  left-0041.ppm    306
..      ...            ...    ...
125  car050  left-1251.ppm    322
126  car050  left-1261.ppm    325
127  car050  left-1271.ppm    327
128  car050  left-1281.ppm    329
129  car050  left-1291.ppm    329

[130 rows x 3 columns]

## car051

In [39]:
car051  = pd.read_csv(os.path.join(path,'car051.csv')) 
car051 = car051.iloc[:,1:]
car051

         ID           Name  Angle
0    car051  left-0001.ppm     34
1    car051  left-0012.ppm     35
2    car051  left-0023.ppm     36
3    car051  left-0034.ppm     37
4    car051  left-0045.ppm     39
..      ...            ...    ...
120  car051  left-1321.ppm    114
121  car051  left-1332.ppm    118
122  car051  left-1343.ppm    121
123  car051  left-1354.ppm    124
124  car051  left-1365.ppm    127

[125 rows x 3 columns]

## car052

In [40]:
car052  = pd.read_csv(os.path.join(path,'car052.csv')) 
car052 = car052.iloc[:,1:]
car052

         ID           Name  Angle
0    car052  left-0001.ppm    291
1    car052  left-0011.ppm    292
2    car052  left-0021.ppm    294
3    car052  left-0031.ppm    297
4    car052  left-0041.ppm    300
..      ...            ...    ...
126  car052  left-1261.ppm    332
127  car052  left-1271.ppm    336
128  car052  left-1281.ppm    339
129  car052  left-1291.ppm    342
130  car052  left-1301.ppm    343

[131 rows x 3 columns]

## ตารางองศาแบบไม่มีประตู

In [41]:
path = '/content/drive/My Drive/File' #path คือที่อยู่ของไฟล์ โดยไฟล์อยู่ในไดร์ฟ ชื่อโฟลเดอร์ว่า File
DN  = pd.read_csv(os.path.join(path,'DN.csv')) 
DN = DN.iloc[:,1:]
DN

   Part    Angle
0   p01   61-119
1   p02   61-119
2   p03  120-150
3   p04    30-60
4   p05  181-225
5   p06    315-0
6   p07  151-180
7   p08     1-29
8   p11  226-240
9   p12  301-314
10  p13  241-300
11  p14  241-300

## car001

In [42]:
path = '/content/drive/My Drive/File' #path คือที่อยู่ของไฟล์ โดยไฟล์อยู่ในไดร์ฟ ชื่อโฟลเดอร์ว่า File
car001  = pd.read_csv(os.path.join(path,'car001.csv')) 
car001 = car001.iloc[:,1:]
car001

         ID           Name  Angle
0    car001  left-0001.ppm      3
1    car001  left-0017.ppm      3
2    car001  left-0033.ppm      4
3    car001  left-0049.ppm      7
4    car001  left-0065.ppm      9
..      ...            ...    ...
117  car001  left-1873.ppm     17
118  car001  left-1889.ppm     17
119  car001  left-1905.ppm     17
120  car001  left-1921.ppm     16
121  car001  left-1937.ppm     16

[122 rows x 3 columns]

## car002

In [43]:
car002  = pd.read_csv(os.path.join(path,'car002.csv')) 
car002 = car002.iloc[:,1:]
car002

         ID           Name  Angle
0    car002  left-0001.ppm    305
1    car002  left-0023.ppm    307
2    car002  left-0045.ppm    309
3    car002  left-0067.ppm    312
4    car002  left-0089.ppm    316
..      ...            ...    ...
117  car002  left-2575.ppm    329
118  car002  left-2597.ppm    333
119  car002  left-2619.ppm    336
120  car002  left-2641.ppm    336
121  car002  left-2663.ppm    337

[122 rows x 3 columns]

## car007

In [44]:
car007  = pd.read_csv(os.path.join(path,'car007.csv')) 
car007 = car007.iloc[:,1:]
car007

         ID           Name  Angle
0    car007  left-0001.ppm    273
1    car007  left-0015.ppm    273
2    car007  left-0029.ppm    274
3    car007  left-0043.ppm    277
4    car007  left-0057.ppm    280
..      ...            ...    ...
118  car007  left-1653.ppm    298
119  car007  left-1667.ppm    298
120  car007  left-1681.ppm    298
121  car007  left-1695.ppm    297
122  car007  left-1709.ppm    297

[123 rows x 3 columns]

## car008

In [45]:
car008  = pd.read_csv(os.path.join(path,'car008.csv')) 
car008 = car008.iloc[:,1:]
car008

         ID           Name  Angle
0    car008  left-0001.ppm     63
1    car008  left-0013.ppm     63
2    car008  left-0025.ppm     63
3    car008  left-0037.ppm     62
4    car008  left-0049.ppm     59
..      ...            ...    ...
119  car008  left-1429.ppm     50
120  car008  left-1441.ppm     51
121  car008  left-1453.ppm     51
122  car008  left-1465.ppm     51
123  car008  left-1477.ppm     51

[124 rows x 3 columns]

## car014

In [46]:
car014  = pd.read_csv(os.path.join(path,'car014.csv')) 
car014 = car014.iloc[:,1:]
car014

         ID           Name  Angle
0    car014  left-0001.ppm    300
1    car014  left-0015.ppm    301
2    car014  left-0029.ppm    303
3    car014  left-0043.ppm    307
4    car014  left-0057.ppm    311
..      ...            ...    ...
120  car014  left-1681.ppm    147
121  car014  left-1695.ppm    149
122  car014  left-1709.ppm    151
123  car014  left-1723.ppm    154
124  car014  left-1737.ppm    156

[125 rows x 3 columns]

## car017

In [47]:
car017  = pd.read_csv(os.path.join(path,'car017.csv')) 
car017 = car017.iloc[:,1:]
car017

         ID           Name  Angle
0    car017  left-0001.ppm     86
1    car017  left-0018.ppm     87
2    car017  left-0035.ppm     89
3    car017  left-0052.ppm     91
4    car017  left-0069.ppm     94
..      ...            ...    ...
117  car017  left-1990.ppm    113
118  car017  left-2007.ppm    115
119  car017  left-2024.ppm    119
120  car017  left-2041.ppm    121
121  car017  left-2058.ppm    124

[122 rows x 3 columns]

## car019

In [48]:
car019  = pd.read_csv(os.path.join(path,'car019.csv')) 
car019 = car019.iloc[:,1:]
car019

         ID           Name  Angle
0    car019  left-0001.ppm     25
1    car019  left-0017.ppm     25
2    car019  left-0033.ppm     27
3    car019  left-0049.ppm     30
4    car019  left-0065.ppm     32
..      ...            ...    ...
120  car019  left-1921.ppm    160
121  car019  left-1937.ppm    165
122  car019  left-1953.ppm    169
123  car019  left-1969.ppm    174
124  car019  left-1985.ppm    177

[125 rows x 3 columns]

## car026

In [49]:
car026  = pd.read_csv(os.path.join(path,'car026.csv')) 
car026 = car026.iloc[:,1:]
car026

         ID           Name  Angle
0    car026  left-0001.ppm     56
1    car026  left-0014.ppm     56
2    car026  left-0027.ppm     56
3    car026  left-0040.ppm     57
4    car026  left-0053.ppm     57
..      ...            ...    ...
116  car026  left-1509.ppm    134
117  car026  left-1522.ppm    140
118  car026  left-1535.ppm    147
119  car026  left-1548.ppm    153
120  car026  left-1561.ppm    159

[121 rows x 3 columns]

## car028

In [50]:
car028  = pd.read_csv(os.path.join(path,'car028.csv')) 
car028 = car028.iloc[:,1:]
car028

         ID           Name  Angle
0    car028  left-0001.ppm     16
1    car028  left-0017.ppm     16
2    car028  left-0033.ppm     16
3    car028  left-0049.ppm     14
4    car028  left-0065.ppm     12
..      ...            ...    ...
121  car028  left-1937.ppm     17
122  car028  left-1953.ppm     16
123  car028  left-1969.ppm     15
124  car028  left-1985.ppm     14
125  car028  left-2001.ppm     12

[126 rows x 3 columns]

## car033

In [51]:
car033  = pd.read_csv(os.path.join(path,'car033.csv')) 
car033 = car033.iloc[:,1:]
car033

         ID           Name  Angle
0    car033  left-0001.ppm    304
1    car033  left-0022.ppm    304
2    car033  left-0043.ppm    302
3    car033  left-0064.ppm    298
4    car033  left-0085.ppm    296
..      ...            ...    ...
120  car033  left-2521.ppm      5
121  car033  left-2542.ppm    360
122  car033  left-2563.ppm    356
123  car033  left-2584.ppm    357
124  car033  left-2605.ppm    358

[125 rows x 3 columns]

## car040

In [52]:
car040  = pd.read_csv(os.path.join(path,'car040.csv')) 
car040 = car040.iloc[:,1:]
car040

         ID           Name  Angle
0    car040  left-0001.ppm    128
1    car040  left-0013.ppm    128
2    car040  left-0025.ppm    128
3    car040  left-0037.ppm    129
4    car040  left-0049.ppm    131
..      ...            ...    ...
124  car040  left-1489.ppm    176
125  car040  left-1501.ppm    179
126  car040  left-1513.ppm    182
127  car040  left-1525.ppm    184
128  car040  left-1537.ppm    186

[129 rows x 3 columns]

## car049

In [53]:
car049  = pd.read_csv(os.path.join(path,'car049.csv')) 
car049 = car049.iloc[:,1:]
car049

         ID           Name  Angle
0    car049  left-0001.ppm     13
1    car049  left-0011.ppm     13
2    car049  left-0021.ppm     14
3    car049  left-0031.ppm     16
4    car049  left-0041.ppm     19
..      ...            ...    ...
116  car049  left-1161.ppm     38
117  car049  left-1171.ppm     41
118  car049  left-1181.ppm     44
119  car049  left-1191.ppm     46
120  car049  left-1201.ppm     48

[121 rows x 3 columns]