<a href="https://colab.research.google.com/github/SupidchayaTangkidwanich/-prj/blob/main/test3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive #เชื่อมเข้ากับ Drive 
drive.mount('/content/drive')  # คลิกที่ลิงก์ -> เลือก E-mail -> ลงชื่อเข้าใช้ -> ก็อปโค้ด -> นำกลับมาวางในช่องว่าง -> กด enter

Mounted at /content/drive

In [3]:
ls #คำสั่ง ls ดูว่าเชื่อมในไดร์ฟหรือยัง

drive/  sample_data/

In [4]:
import os # os เอาไว้จัดการไฟล์และ path

#การนำเข้าไฟล์

## ตารางองศาแบบมีประตู

In [9]:
path = '/content/drive/My Drive/File' #path คือที่อยู่ของไฟล์ โดยไฟล์อยู่ในไดร์ฟ ชื่อโฟลเดอร์ว่า File
DY  = pd.read_csv(os.path.join(path,'DY.csv')) 
DY = DY.iloc[:,1:]
DY

   Part    Angle
0   p01   63-115
1   p02   63-115
2   p03  116-135
3   p04    46-62
4   p05  143-180
5   p06   358-30
6   p07  136-142
7   p08    31-45
8   p09  181-225
9   p10  311-357
10  p11  226-250
11  p12  291-310
12  p13  251-290
13  p14  251-290

## car003

In [14]:
car003  = pd.read_csv(os.path.join(path,'car003.csv')) 
car003 = car003.iloc[:,1:]
car003

         ID           Name  Angle
0    car003  left-0001.ppm    270
1    car003  left-0029.ppm    273
2    car003  left-0057.ppm    278
3    car003  left-0085.ppm    285
4    car003  left-0113.ppm    292
..      ...            ...    ...
119  car003  left-3333.ppm    308
120  car003  left-3361.ppm    309
121  car003  left-3389.ppm    309
122  car003  left-3417.ppm    311
123  car003  left-3445.ppm    313

[124 rows x 3 columns]

## car004

In [15]:
car004  = pd.read_csv(os.path.join(path,'car004.csv')) 
car004 = car004.iloc[:,1:]
car004

         ID           Name  Angle
0    car004  left-0001.ppm    319
1    car004  left-0031.ppm    317
2    car004  left-0061.ppm    312
3    car004  left-0091.ppm    305
4    car004  left-0121.ppm    299
..      ...            ...    ...
116  car004  left-3481.ppm    331
117  car004  left-3511.ppm    327
118  car004  left-3541.ppm    324
119  car004  left-3571.ppm    320
120  car004  left-3601.ppm    317

[121 rows x 3 columns]

## car005

In [16]:
car005  = pd.read_csv(os.path.join(path,'car005.csv')) 
car005 = car005.iloc[:,1:]
car005

         ID           Name  Angle
0    car005  left-0001.ppm     11
1    car005  left-0026.ppm     11
2    car005  left-0051.ppm     10
3    car005  left-0076.ppm     10
4    car005  left-0101.ppm     10
..      ...            ...    ...
116  car005  left-2901.ppm     12
117  car005  left-2926.ppm     12
118  car005  left-2951.ppm     12
119  car005  left-2976.ppm     12
120  car005  left-3001.ppm     12

[121 rows x 3 columns]

## car009

In [19]:
car009  = pd.read_csv(os.path.join(path,'car009.csv')) 
car009 = car009.iloc[:,1:]
car009

         ID           Name  Angle
0    car009  left-0001.ppm     81
1    car009  left-0015.ppm     81
2    car009  left-0029.ppm     78
3    car009  left-0043.ppm     75
4    car009  left-0057.ppm     72
..      ...            ...    ...
120  car009  left-1681.ppm     58
121  car009  left-1695.ppm     54
122  car009  left-1709.ppm     52
123  car009  left-1723.ppm     52
124  car009  left-1737.ppm     52

[125 rows x 3 columns]

## car010

In [20]:
car010  = pd.read_csv(os.path.join(path,'car010.csv')) 
car010 = car010.iloc[:,1:]
car010

         ID           Name  Angle
0    car010  left-0001.ppm    205
1    car010  left-0016.ppm    206
2    car010  left-0031.ppm    209
3    car010  left-0046.ppm    213
4    car010  left-0061.ppm    218
..      ...            ...    ...
118  car010  left-1771.ppm    326
119  car010  left-1786.ppm    329
120  car010  left-1801.ppm    332
121  car010  left-1816.ppm    336
122  car010  left-1831.ppm    340

[123 rows x 3 columns]

##car011

In [21]:
car011  = pd.read_csv(os.path.join(path,'car011.csv')) 
car011 = car011.iloc[:,1:]
car011

         ID           Name  Angle
0    car011  left-0001.ppm     68
1    car011  left-0019.ppm     68
2    car011  left-0037.ppm     70
3    car011  left-0055.ppm     73
4    car011  left-0073.ppm     77
..      ...            ...    ...
118  car011  left-2125.ppm     81
119  car011  left-2143.ppm     85
120  car011  left-2161.ppm     89
121  car011  left-2179.ppm     94
122  car011  left-2197.ppm     98

[123 rows x 3 columns]

## ตารางองศาแบบไม่มีประตู

In [10]:
path = '/content/drive/My Drive/File' #path คือที่อยู่ของไฟล์ โดยไฟล์อยู่ในไดร์ฟ ชื่อโฟลเดอร์ว่า File
DN  = pd.read_csv(os.path.join(path,'DN.csv')) 
DN = DN.iloc[:,1:]
DN

   Part    Angle
0   p01   61-119
1   p02   61-119
2   p03  120-150
3   p04    30-60
4   p05  181-225
5   p06    315-0
6   p07  151-180
7   p08     1-29
8   p11  226-240
9   p12  301-314
10  p13  241-300
11  p14  241-300

## car001

In [12]:
path = '/content/drive/My Drive/File' #path คือที่อยู่ของไฟล์ โดยไฟล์อยู่ในไดร์ฟ ชื่อโฟลเดอร์ว่า File
car001  = pd.read_csv(os.path.join(path,'car001.csv')) 
car001 = car001.iloc[:,1:]
car001

         ID           Name  Angle
0    car001  left-0001.ppm      3
1    car001  left-0017.ppm      3
2    car001  left-0033.ppm      4
3    car001  left-0049.ppm      7
4    car001  left-0065.ppm      9
..      ...            ...    ...
117  car001  left-1873.ppm     17
118  car001  left-1889.ppm     17
119  car001  left-1905.ppm     17
120  car001  left-1921.ppm     16
121  car001  left-1937.ppm     16

[122 rows x 3 columns]

## car002

In [13]:
car002  = pd.read_csv(os.path.join(path,'car002.csv')) 
car002 = car002.iloc[:,1:]
car002

         ID           Name  Angle
0    car002  left-0001.ppm    305
1    car002  left-0023.ppm    307
2    car002  left-0045.ppm    309
3    car002  left-0067.ppm    312
4    car002  left-0089.ppm    316
..      ...            ...    ...
117  car002  left-2575.ppm    329
118  car002  left-2597.ppm    333
119  car002  left-2619.ppm    336
120  car002  left-2641.ppm    336
121  car002  left-2663.ppm    337

[122 rows x 3 columns]

## car007

In [17]:
car007  = pd.read_csv(os.path.join(path,'car007.csv')) 
car007 = car007.iloc[:,1:]
car007

         ID           Name  Angle
0    car007  left-0001.ppm    273
1    car007  left-0015.ppm    273
2    car007  left-0029.ppm    274
3    car007  left-0043.ppm    277
4    car007  left-0057.ppm    280
..      ...            ...    ...
118  car007  left-1653.ppm    298
119  car007  left-1667.ppm    298
120  car007  left-1681.ppm    298
121  car007  left-1695.ppm    297
122  car007  left-1709.ppm    297

[123 rows x 3 columns]

## car008

In [18]:
car008  = pd.read_csv(os.path.join(path,'car008.csv')) 
car008 = car008.iloc[:,1:]
car008

         ID           Name  Angle
0    car008  left-0001.ppm     63
1    car008  left-0013.ppm     63
2    car008  left-0025.ppm     63
3    car008  left-0037.ppm     62
4    car008  left-0049.ppm     59
..      ...            ...    ...
119  car008  left-1429.ppm     50
120  car008  left-1441.ppm     51
121  car008  left-1453.ppm     51
122  car008  left-1465.ppm     51
123  car008  left-1477.ppm     51

[124 rows x 3 columns]