<a href="https://colab.research.google.com/github/SupidchayaTangkidwanich/-prj/blob/main/testcar2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
import glob
import re

In [2]:
from google.colab import drive # เชื่อมเข้ากับ Drive
drive.mount('/content/drive')  # คลิกที่ลิงก์ -> เลือก E-mail -> ลงชื่อเข้าใช้ -> ก็อปโค้ด -> นำกลับมาวางในช่องว่าง -> กด enter

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
ls

car001.csv  car010.csv  car024.csv  car033.csv  car042.csv  car050.csv
car002.csv  car011.csv  car025.csv  car034.csv  car043.csv  car051.csv
car003.csv  car012.csv  car026.csv  car035.csv  car044.csv  car052.csv
car004.csv  car013.csv  car027.csv  car037.csv  car045.csv  DN.csv
car005.csv  car014.csv  car028.csv  car038.csv  car046.csv  drive/
car007.csv  car015.csv  car029.csv  car039.csv  car047.csv  DY.csv
car008.csv  car021.csv  car030.csv  car040.csv  car048.csv  sample_data/
car009.csv  car022.csv  car032.csv  car041.csv  car049.csv

# ตารางองศาแบบมีประตู

In [4]:
#create data
data = {'Part': ['p01', 'p02', 'p03', 'p04', 'p05','p06','p07','p08','p09','p10','p11','p12','p13','p14'],
        'Angle': ['63-115','63-115','116-135','46-62','143-180','358-30','136-142','31-45','181-225','311-357','226-250','291-310','251-290','251-290']
        }
DY = pd.DataFrame(data)
DY

   Part    Angle
0   p01   63-115
1   p02   63-115
2   p03  116-135
3   p04    46-62
4   p05  143-180
5   p06   358-30
6   p07  136-142
7   p08    31-45
8   p09  181-225
9   p10  311-357
10  p11  226-250
11  p12  291-310
12  p13  251-290
13  p14  251-290

# ตารางองศาแบบไม่มีประตู

In [5]:
#create data
data = {'Part': ['p01', 'p02', 'p03', 'p04', 'p05','p06','p07','p08','p11','p12','p13','p14'],
        'Angle': ['61-119','61-119','120-150','30-60','181-225','315-0','151-180','1-29','226-240','301-314','241-300','241-300']
        }
DN = pd.DataFrame(data)
DN

   Part    Angle
0   p01   61-119
1   p02   61-119
2   p03  120-150
3   p04    30-60
4   p05  181-225
5   p06    315-0
6   p07  151-180
7   p08     1-29
8   p11  226-240
9   p12  301-314
10  p13  241-300
11  p14  241-300

# car001

In [6]:
path = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/1_annot.txt'

In [7]:
car001 = pd.read_csv(path, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car001

                      all               X  Angle
0    car001/left-0001.ppm    3 65 886 346      3
1    car001/left-0017.ppm    1 63 874 341      3
2    car001/left-0033.ppm    1 56 845 330      4
3    car001/left-0049.ppm    6 81 849 361      7
4    car001/left-0065.ppm   20 96 859 380      9
..                    ...             ...    ...
117  car001/left-1873.ppm  123 93 899 390     17
118  car001/left-1889.ppm   97 62 888 346     17
119  car001/left-1905.ppm   36 71 843 329     17
120  car001/left-1921.ppm    1 76 812 333     16
121  car001/left-1937.ppm    1 72 838 321     16

[122 rows x 3 columns]

In [8]:
car001 = car001.iloc[:,::2]
car001

                      all  Angle
0    car001/left-0001.ppm      3
1    car001/left-0017.ppm      3
2    car001/left-0033.ppm      4
3    car001/left-0049.ppm      7
4    car001/left-0065.ppm      9
..                    ...    ...
117  car001/left-1873.ppm     17
118  car001/left-1889.ppm     17
119  car001/left-1905.ppm     17
120  car001/left-1921.ppm     16
121  car001/left-1937.ppm     16

[122 rows x 2 columns]

In [9]:
list_car = list(car001['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car001['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car001['Name'] = Name_list2
car001 = car001.iloc[:,[2,3,1]]
car001

         ID           Name  Angle
0    car001  left-0001.ppm      3
1    car001  left-0017.ppm      3
2    car001  left-0033.ppm      4
3    car001  left-0049.ppm      7
4    car001  left-0065.ppm      9
..      ...            ...    ...
117  car001  left-1873.ppm     17
118  car001  left-1889.ppm     17
119  car001  left-1905.ppm     17
120  car001  left-1921.ppm     16
121  car001  left-1937.ppm     16

[122 rows x 3 columns]

# car002

In [10]:
path2 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/2_annot.txt'

In [11]:
car002 = pd.read_csv(path2, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car002 = car002.iloc[:,::2]
car002

                      all  Angle
0    car002/left-0001.ppm    305
1    car002/left-0023.ppm    307
2    car002/left-0045.ppm    309
3    car002/left-0067.ppm    312
4    car002/left-0089.ppm    316
..                    ...    ...
117  car002/left-2575.ppm    329
118  car002/left-2597.ppm    333
119  car002/left-2619.ppm    336
120  car002/left-2641.ppm    336
121  car002/left-2663.ppm    337

[122 rows x 2 columns]

In [12]:
list_car = list(car002['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car002['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car002['Name'] = Name_list2
car002 = car002.iloc[:,[2,3,1]]
car002

         ID           Name  Angle
0    car002  left-0001.ppm    305
1    car002  left-0023.ppm    307
2    car002  left-0045.ppm    309
3    car002  left-0067.ppm    312
4    car002  left-0089.ppm    316
..      ...            ...    ...
117  car002  left-2575.ppm    329
118  car002  left-2597.ppm    333
119  car002  left-2619.ppm    336
120  car002  left-2641.ppm    336
121  car002  left-2663.ppm    337

[122 rows x 3 columns]

# car003

In [13]:
path3 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/3_annot.txt'

In [14]:
car003 = pd.read_csv(path3, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car003 = car003.iloc[:,::2]
car003

                      all  Angle
0    car003/left-0001.ppm    270
1    car003/left-0029.ppm    273
2    car003/left-0057.ppm    278
3    car003/left-0085.ppm    285
4    car003/left-0113.ppm    292
..                    ...    ...
119  car003/left-3333.ppm    308
120  car003/left-3361.ppm    309
121  car003/left-3389.ppm    309
122  car003/left-3417.ppm    311
123  car003/left-3445.ppm    313

[124 rows x 2 columns]

In [15]:
list_car = list(car003['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car003['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car003['Name'] = Name_list2
car003 = car003.iloc[:,[2,3,1]]
car003

         ID           Name  Angle
0    car003  left-0001.ppm    270
1    car003  left-0029.ppm    273
2    car003  left-0057.ppm    278
3    car003  left-0085.ppm    285
4    car003  left-0113.ppm    292
..      ...            ...    ...
119  car003  left-3333.ppm    308
120  car003  left-3361.ppm    309
121  car003  left-3389.ppm    309
122  car003  left-3417.ppm    311
123  car003  left-3445.ppm    313

[124 rows x 3 columns]

#car004

In [16]:
path4 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/4_annot.txt'

In [17]:
car004 = pd.read_csv(path4, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car004 = car004.iloc[:,::2]
car004

                      all  Angle
0    car004/left-0001.ppm    319
1    car004/left-0031.ppm    317
2    car004/left-0061.ppm    312
3    car004/left-0091.ppm    305
4    car004/left-0121.ppm    299
..                    ...    ...
116  car004/left-3481.ppm    331
117  car004/left-3511.ppm    327
118  car004/left-3541.ppm    324
119  car004/left-3571.ppm    320
120  car004/left-3601.ppm    317

[121 rows x 2 columns]

In [18]:
list_car = list(car004['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car004['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car004['Name'] = Name_list2
car004 = car004.iloc[:,[2,3,1]]
car004

         ID           Name  Angle
0    car004  left-0001.ppm    319
1    car004  left-0031.ppm    317
2    car004  left-0061.ppm    312
3    car004  left-0091.ppm    305
4    car004  left-0121.ppm    299
..      ...            ...    ...
116  car004  left-3481.ppm    331
117  car004  left-3511.ppm    327
118  car004  left-3541.ppm    324
119  car004  left-3571.ppm    320
120  car004  left-3601.ppm    317

[121 rows x 3 columns]

# car005

In [19]:
path5 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/5_annot.txt'

In [20]:
car005 = pd.read_csv(path5, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car005 = car005.iloc[:,::2]
car005

                      all  Angle
0    car005/left-0001.ppm     11
1    car005/left-0026.ppm     11
2    car005/left-0051.ppm     10
3    car005/left-0076.ppm     10
4    car005/left-0101.ppm     10
..                    ...    ...
116  car005/left-2901.ppm     12
117  car005/left-2926.ppm     12
118  car005/left-2951.ppm     12
119  car005/left-2976.ppm     12
120  car005/left-3001.ppm     12

[121 rows x 2 columns]

In [21]:
list_car = list(car005['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car005['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car005['Name'] = Name_list2
car005 = car005.iloc[:,[2,3,1]]
car005

         ID           Name  Angle
0    car005  left-0001.ppm     11
1    car005  left-0026.ppm     11
2    car005  left-0051.ppm     10
3    car005  left-0076.ppm     10
4    car005  left-0101.ppm     10
..      ...            ...    ...
116  car005  left-2901.ppm     12
117  car005  left-2926.ppm     12
118  car005  left-2951.ppm     12
119  car005  left-2976.ppm     12
120  car005  left-3001.ppm     12

[121 rows x 3 columns]

# car007

In [22]:
path7 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/7_annot.txt'

In [23]:
car007 = pd.read_csv(path7, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car007 = car007.iloc[:,::2]
car007

                      all  Angle
0    car007/left-0001.ppm    273
1    car007/left-0015.ppm    273
2    car007/left-0029.ppm    274
3    car007/left-0043.ppm    277
4    car007/left-0057.ppm    280
..                    ...    ...
118  car007/left-1653.ppm    298
119  car007/left-1667.ppm    298
120  car007/left-1681.ppm    298
121  car007/left-1695.ppm    297
122  car007/left-1709.ppm    297

[123 rows x 2 columns]

In [24]:
list_car = list(car007['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car007['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car007['Name'] = Name_list2
car007 = car007.iloc[:,[2,3,1]]
car007

         ID           Name  Angle
0    car007  left-0001.ppm    273
1    car007  left-0015.ppm    273
2    car007  left-0029.ppm    274
3    car007  left-0043.ppm    277
4    car007  left-0057.ppm    280
..      ...            ...    ...
118  car007  left-1653.ppm    298
119  car007  left-1667.ppm    298
120  car007  left-1681.ppm    298
121  car007  left-1695.ppm    297
122  car007  left-1709.ppm    297

[123 rows x 3 columns]

# car008

In [25]:
path8 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/8_annot.txt'

In [26]:
car008 = pd.read_csv(path8, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car008 = car008.iloc[:,::2]
car008

                      all  Angle
0    car008/left-0001.ppm     63
1    car008/left-0013.ppm     63
2    car008/left-0025.ppm     63
3    car008/left-0037.ppm     62
4    car008/left-0049.ppm     59
..                    ...    ...
119  car008/left-1429.ppm     50
120  car008/left-1441.ppm     51
121  car008/left-1453.ppm     51
122  car008/left-1465.ppm     51
123  car008/left-1477.ppm     51

[124 rows x 2 columns]

In [27]:
list_car = list(car008['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car008['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car008['Name'] = Name_list2
car008 = car008.iloc[:,[2,3,1]]
car008

         ID           Name  Angle
0    car008  left-0001.ppm     63
1    car008  left-0013.ppm     63
2    car008  left-0025.ppm     63
3    car008  left-0037.ppm     62
4    car008  left-0049.ppm     59
..      ...            ...    ...
119  car008  left-1429.ppm     50
120  car008  left-1441.ppm     51
121  car008  left-1453.ppm     51
122  car008  left-1465.ppm     51
123  car008  left-1477.ppm     51

[124 rows x 3 columns]

# car009

In [28]:
path9 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/9_annot.txt'

In [29]:
car009 = pd.read_csv(path9, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car009 = car009.iloc[:,::2]
car009

                      all  Angle
0    car009/left-0001.ppm     81
1    car009/left-0015.ppm     81
2    car009/left-0029.ppm     78
3    car009/left-0043.ppm     75
4    car009/left-0057.ppm     72
..                    ...    ...
120  car009/left-1681.ppm     58
121  car009/left-1695.ppm     54
122  car009/left-1709.ppm     52
123  car009/left-1723.ppm     52
124  car009/left-1737.ppm     52

[125 rows x 2 columns]

In [30]:
list_car = list(car009['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car009['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car009['Name'] = Name_list2
car009 = car009.iloc[:,[2,3,1]]
car009

         ID           Name  Angle
0    car009  left-0001.ppm     81
1    car009  left-0015.ppm     81
2    car009  left-0029.ppm     78
3    car009  left-0043.ppm     75
4    car009  left-0057.ppm     72
..      ...            ...    ...
120  car009  left-1681.ppm     58
121  car009  left-1695.ppm     54
122  car009  left-1709.ppm     52
123  car009  left-1723.ppm     52
124  car009  left-1737.ppm     52

[125 rows x 3 columns]

# car010

In [31]:
path10 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/10_annot.txt'

In [32]:
car010 = pd.read_csv(path10, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car010 = car010.iloc[:,::2]
car010

                      all  Angle
0    car010/left-0001.ppm    205
1    car010/left-0016.ppm    206
2    car010/left-0031.ppm    209
3    car010/left-0046.ppm    213
4    car010/left-0061.ppm    218
..                    ...    ...
118  car010/left-1771.ppm    326
119  car010/left-1786.ppm    329
120  car010/left-1801.ppm    332
121  car010/left-1816.ppm    336
122  car010/left-1831.ppm    340

[123 rows x 2 columns]

In [33]:
list_car = list(car010['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car010['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car010['Name'] = Name_list2
car010 = car010.iloc[:,[2,3,1]]
car010

         ID           Name  Angle
0    car010  left-0001.ppm    205
1    car010  left-0016.ppm    206
2    car010  left-0031.ppm    209
3    car010  left-0046.ppm    213
4    car010  left-0061.ppm    218
..      ...            ...    ...
118  car010  left-1771.ppm    326
119  car010  left-1786.ppm    329
120  car010  left-1801.ppm    332
121  car010  left-1816.ppm    336
122  car010  left-1831.ppm    340

[123 rows x 3 columns]

# car011

In [34]:
path11 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/11_annot.txt'

In [35]:
car011 = pd.read_csv(path11, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car011 = car011.iloc[:,::2]
car011

                      all  Angle
0    car011/left-0001.ppm     68
1    car011/left-0019.ppm     68
2    car011/left-0037.ppm     70
3    car011/left-0055.ppm     73
4    car011/left-0073.ppm     77
..                    ...    ...
118  car011/left-2125.ppm     81
119  car011/left-2143.ppm     85
120  car011/left-2161.ppm     89
121  car011/left-2179.ppm     94
122  car011/left-2197.ppm     98

[123 rows x 2 columns]

In [36]:
list_car = list(car011['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car011['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car011['Name'] = Name_list2
car011 = car011.iloc[:,[2,3,1]]
car011

         ID           Name  Angle
0    car011  left-0001.ppm     68
1    car011  left-0019.ppm     68
2    car011  left-0037.ppm     70
3    car011  left-0055.ppm     73
4    car011  left-0073.ppm     77
..      ...            ...    ...
118  car011  left-2125.ppm     81
119  car011  left-2143.ppm     85
120  car011  left-2161.ppm     89
121  car011  left-2179.ppm     94
122  car011  left-2197.ppm     98

[123 rows x 3 columns]

# car012

In [37]:
path12 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/12_annot.txt'

In [38]:
car012 = pd.read_csv(path12, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car012 = car012.iloc[:,::2]
car012

                      all  Angle
0    car012/left-0001.ppm    117
1    car012/left-0024.ppm    116
2    car012/left-0047.ppm    115
3    car012/left-0070.ppm    111
4    car012/left-0093.ppm    107
..                    ...    ...
119  car012/left-2738.ppm     86
120  car012/left-2761.ppm     81
121  car012/left-2784.ppm     77
122  car012/left-2807.ppm     72
123  car012/left-2830.ppm     68

[124 rows x 2 columns]

In [39]:
list_car = list(car012['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car012['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car012['Name'] = Name_list2
car012 = car012.iloc[:,[2,3,1]]
car012

         ID           Name  Angle
0    car012  left-0001.ppm    117
1    car012  left-0024.ppm    116
2    car012  left-0047.ppm    115
3    car012  left-0070.ppm    111
4    car012  left-0093.ppm    107
..      ...            ...    ...
119  car012  left-2738.ppm     86
120  car012  left-2761.ppm     81
121  car012  left-2784.ppm     77
122  car012  left-2807.ppm     72
123  car012  left-2830.ppm     68

[124 rows x 3 columns]

# car013

In [40]:
path13 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/13_annot.txt'

In [41]:
car013 = pd.read_csv(path13, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car013 = car013.iloc[:,::2]
car013

                      all  Angle
0    car013/left-0001.ppm     71
1    car013/left-0016.ppm     71
2    car013/left-0031.ppm     73
3    car013/left-0046.ppm     74
4    car013/left-0061.ppm     76
..                    ...    ...
118  car013/left-1771.ppm     72
119  car013/left-1786.ppm     74
120  car013/left-1801.ppm     76
121  car013/left-1816.ppm     78
122  car013/left-1831.ppm     80

[123 rows x 2 columns]

In [42]:
list_car = list(car013['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car013['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car013['Name'] = Name_list2
car013 = car013.iloc[:,[2,3,1]]
car013

         ID           Name  Angle
0    car013  left-0001.ppm     71
1    car013  left-0016.ppm     71
2    car013  left-0031.ppm     73
3    car013  left-0046.ppm     74
4    car013  left-0061.ppm     76
..      ...            ...    ...
118  car013  left-1771.ppm     72
119  car013  left-1786.ppm     74
120  car013  left-1801.ppm     76
121  car013  left-1816.ppm     78
122  car013  left-1831.ppm     80

[123 rows x 3 columns]

# car014

In [43]:
path14 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/14_annot.txt'

In [44]:
car014 = pd.read_csv(path14, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car014 = car014.iloc[:,::2]
car014

                      all  Angle
0    car014/left-0001.ppm    300
1    car014/left-0015.ppm    301
2    car014/left-0029.ppm    303
3    car014/left-0043.ppm    307
4    car014/left-0057.ppm    311
..                    ...    ...
120  car014/left-1681.ppm    147
121  car014/left-1695.ppm    149
122  car014/left-1709.ppm    151
123  car014/left-1723.ppm    154
124  car014/left-1737.ppm    156

[125 rows x 2 columns]

In [45]:
list_car = list(car014['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car014['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car014['Name'] = Name_list2
car014 = car014.iloc[:,[2,3,1]]
car014

         ID           Name  Angle
0    car014  left-0001.ppm    300
1    car014  left-0015.ppm    301
2    car014  left-0029.ppm    303
3    car014  left-0043.ppm    307
4    car014  left-0057.ppm    311
..      ...            ...    ...
120  car014  left-1681.ppm    147
121  car014  left-1695.ppm    149
122  car014  left-1709.ppm    151
123  car014  left-1723.ppm    154
124  car014  left-1737.ppm    156

[125 rows x 3 columns]

# car015

In [46]:
path15 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/15_annot.txt'

In [47]:
car015 = pd.read_csv(path15, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car015 = car015.iloc[:,::2]
car015

                      all  Angle
0    car015/left-0001.ppm    111
1    car015/left-0024.ppm    111
2    car015/left-0047.ppm    111
3    car015/left-0070.ppm    110
4    car015/left-0093.ppm    111
..                    ...    ...
118  car015/left-2715.ppm    126
119  car015/left-2738.ppm    130
120  car015/left-2761.ppm    136
121  car015/left-2784.ppm    139
122  car015/left-2807.ppm    142

[123 rows x 2 columns]

In [48]:
list_car = list(car015['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car015['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car015['Name'] = Name_list2
car015 = car015.iloc[:,[2,3,1]]
car015

         ID           Name  Angle
0    car015  left-0001.ppm    111
1    car015  left-0024.ppm    111
2    car015  left-0047.ppm    111
3    car015  left-0070.ppm    110
4    car015  left-0093.ppm    111
..      ...            ...    ...
118  car015  left-2715.ppm    126
119  car015  left-2738.ppm    130
120  car015  left-2761.ppm    136
121  car015  left-2784.ppm    139
122  car015  left-2807.ppm    142

[123 rows x 3 columns]

# car016

In [49]:
path16 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/16_annot.txt'

In [50]:
car016 = pd.read_csv(path16, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car016 = car016.iloc[:,::2]
car016

                      all  Angle
0    car016/left-0001.ppm    113
1    car016/left-0023.ppm    113
2    car016/left-0045.ppm    115
3    car016/left-0067.ppm    118
4    car016/left-0089.ppm    121
..                    ...    ...
116  car016/left-2553.ppm     63
117  car016/left-2575.ppm     68
118  car016/left-2597.ppm     74
119  car016/left-2619.ppm     79
120  car016/left-2641.ppm     84

[121 rows x 2 columns]

In [51]:
list_car = list(car016['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car016['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car016['Name'] = Name_list2
car016 = car016.iloc[:,[2,3,1]]
car016

         ID           Name  Angle
0    car016  left-0001.ppm    113
1    car016  left-0023.ppm    113
2    car016  left-0045.ppm    115
3    car016  left-0067.ppm    118
4    car016  left-0089.ppm    121
..      ...            ...    ...
116  car016  left-2553.ppm     63
117  car016  left-2575.ppm     68
118  car016  left-2597.ppm     74
119  car016  left-2619.ppm     79
120  car016  left-2641.ppm     84

[121 rows x 3 columns]

# car017

In [52]:
path17 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/17_annot.txt'

In [53]:
car017 = pd.read_csv(path17, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car017 = car017.iloc[:,::2]
car017

                      all  Angle
0    car017/left-0001.ppm     86
1    car017/left-0018.ppm     87
2    car017/left-0035.ppm     89
3    car017/left-0052.ppm     91
4    car017/left-0069.ppm     94
..                    ...    ...
117  car017/left-1990.ppm    113
118  car017/left-2007.ppm    115
119  car017/left-2024.ppm    119
120  car017/left-2041.ppm    121
121  car017/left-2058.ppm    124

[122 rows x 2 columns]

In [54]:
list_car = list(car017['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car017['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car017['Name'] = Name_list2
car017 = car017.iloc[:,[2,3,1]]
car017

         ID           Name  Angle
0    car017  left-0001.ppm     86
1    car017  left-0018.ppm     87
2    car017  left-0035.ppm     89
3    car017  left-0052.ppm     91
4    car017  left-0069.ppm     94
..      ...            ...    ...
117  car017  left-1990.ppm    113
118  car017  left-2007.ppm    115
119  car017  left-2024.ppm    119
120  car017  left-2041.ppm    121
121  car017  left-2058.ppm    124

[122 rows x 3 columns]

# car018

In [55]:
path18 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/18_annot.txt'

In [56]:
car018 = pd.read_csv(path18, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car018 = car018.iloc[:,::2]
car018

                      all  Angle
0    car018/left-0001.ppm    170
1    car018/left-0025.ppm    169
2    car018/left-0049.ppm    166
3    car018/left-0073.ppm    165
4    car018/left-0097.ppm    161
..                    ...    ...
117  car018/left-2809.ppm    139
118  car018/left-2833.ppm    136
119  car018/left-2857.ppm    133
120  car018/left-2881.ppm    132
121  car018/left-2905.ppm    132

[122 rows x 2 columns]

In [57]:
list_car = list(car018['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car018['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car018['Name'] = Name_list2
car018 = car018.iloc[:,[2,3,1]]
car018

         ID           Name  Angle
0    car018  left-0001.ppm    170
1    car018  left-0025.ppm    169
2    car018  left-0049.ppm    166
3    car018  left-0073.ppm    165
4    car018  left-0097.ppm    161
..      ...            ...    ...
117  car018  left-2809.ppm    139
118  car018  left-2833.ppm    136
119  car018  left-2857.ppm    133
120  car018  left-2881.ppm    132
121  car018  left-2905.ppm    132

[122 rows x 3 columns]

# car019

In [58]:
path19 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/19_annot.txt'

In [59]:
car019 = pd.read_csv(path19, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car019 = car019.iloc[:,::2]
car019

                      all  Angle
0    car019/left-0001.ppm     25
1    car019/left-0017.ppm     25
2    car019/left-0033.ppm     27
3    car019/left-0049.ppm     30
4    car019/left-0065.ppm     32
..                    ...    ...
120  car019/left-1921.ppm    160
121  car019/left-1937.ppm    165
122  car019/left-1953.ppm    169
123  car019/left-1969.ppm    174
124  car019/left-1985.ppm    177

[125 rows x 2 columns]

In [60]:
list_car = list(car019['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car019['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car019['Name'] = Name_list2
car019 = car019.iloc[:,[2,3,1]]
car019

         ID           Name  Angle
0    car019  left-0001.ppm     25
1    car019  left-0017.ppm     25
2    car019  left-0033.ppm     27
3    car019  left-0049.ppm     30
4    car019  left-0065.ppm     32
..      ...            ...    ...
120  car019  left-1921.ppm    160
121  car019  left-1937.ppm    165
122  car019  left-1953.ppm    169
123  car019  left-1969.ppm    174
124  car019  left-1985.ppm    177

[125 rows x 3 columns]

# car021

In [61]:
path21 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/21_annot.txt'

In [62]:
car021 = pd.read_csv(path21, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car021 = car021.iloc[:,::2]
car021

                      all  Angle
0    car021/left-0001.ppm     90
1    car021/left-0023.ppm     90
2    car021/left-0045.ppm     91
3    car021/left-0067.ppm     91
4    car021/left-0089.ppm     93
..                    ...    ...
120  car021/left-2641.ppm     67
121  car021/left-2663.ppm     73
122  car021/left-2685.ppm     78
123  car021/left-2707.ppm     84
124  car021/left-2729.ppm     90

[125 rows x 2 columns]

In [63]:
list_car = list(car021['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car021['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car021['Name'] = Name_list2
car021 = car021.iloc[:,[2,3,1]]
car021

         ID           Name  Angle
0    car021  left-0001.ppm     90
1    car021  left-0023.ppm     90
2    car021  left-0045.ppm     91
3    car021  left-0067.ppm     91
4    car021  left-0089.ppm     93
..      ...            ...    ...
120  car021  left-2641.ppm     67
121  car021  left-2663.ppm     73
122  car021  left-2685.ppm     78
123  car021  left-2707.ppm     84
124  car021  left-2729.ppm     90

[125 rows x 3 columns]

# car022

In [64]:
path22 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/22_annot.txt'

In [65]:
car022 = pd.read_csv(path22, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car022 = car022.iloc[:,::2]
car022

                      all  Angle
0    car022/left-0001.ppm    113
1    car022/left-0019.ppm    113
2    car022/left-0037.ppm    114
3    car022/left-0055.ppm    115
4    car022/left-0073.ppm    119
..                    ...    ...
118  car022/left-2125.ppm      2
119  car022/left-2143.ppm      6
120  car022/left-2161.ppm     10
121  car022/left-2179.ppm     14
122  car022/left-2197.ppm     15

[123 rows x 2 columns]

In [66]:
list_car = list(car022['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car022['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car022['Name'] = Name_list2
car022 = car022.iloc[:,[2,3,1]]
car022

         ID           Name  Angle
0    car022  left-0001.ppm    113
1    car022  left-0019.ppm    113
2    car022  left-0037.ppm    114
3    car022  left-0055.ppm    115
4    car022  left-0073.ppm    119
..      ...            ...    ...
118  car022  left-2125.ppm      2
119  car022  left-2143.ppm      6
120  car022  left-2161.ppm     10
121  car022  left-2179.ppm     14
122  car022  left-2197.ppm     15

[123 rows x 3 columns]

# car024

In [67]:
path24 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/24_annot.txt'

In [68]:
car024 = pd.read_csv(path24, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car024 = car024.iloc[:,::2]
car024

                      all  Angle
0    car024/left-0001.ppm     69
1    car024/left-0021.ppm     70
2    car024/left-0041.ppm     72
3    car024/left-0061.ppm     77
4    car024/left-0081.ppm     83
..                    ...    ...
118  car024/left-2361.ppm     81
119  car024/left-2381.ppm     85
120  car024/left-2401.ppm     89
121  car024/left-2421.ppm     93
122  car024/left-2441.ppm     97

[123 rows x 2 columns]

In [69]:
list_car = list(car024['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car024['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car024['Name'] = Name_list2
car024 = car024.iloc[:,[2,3,1]]
car024

         ID           Name  Angle
0    car024  left-0001.ppm     69
1    car024  left-0021.ppm     70
2    car024  left-0041.ppm     72
3    car024  left-0061.ppm     77
4    car024  left-0081.ppm     83
..      ...            ...    ...
118  car024  left-2361.ppm     81
119  car024  left-2381.ppm     85
120  car024  left-2401.ppm     89
121  car024  left-2421.ppm     93
122  car024  left-2441.ppm     97

[123 rows x 3 columns]

# car025

In [70]:
path25 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/25_annot.txt'

In [71]:
car025 = pd.read_csv(path25, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car025 = car025.iloc[:,::2]
car025

                      all  Angle
0    car025/left-0001.ppm     32
1    car025/left-0021.ppm     32
2    car025/left-0041.ppm     31
3    car025/left-0061.ppm     28
4    car025/left-0081.ppm     26
..                    ...    ...
120  car025/left-2401.ppm     36
121  car025/left-2421.ppm     35
122  car025/left-2441.ppm     35
123  car025/left-2461.ppm     34
124  car025/left-2481.ppm     34

[125 rows x 2 columns]

In [72]:
list_car = list(car025['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car025['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car025['Name'] = Name_list2
car025 = car025.iloc[:,[2,3,1]]
car025

         ID           Name  Angle
0    car025  left-0001.ppm     32
1    car025  left-0021.ppm     32
2    car025  left-0041.ppm     31
3    car025  left-0061.ppm     28
4    car025  left-0081.ppm     26
..      ...            ...    ...
120  car025  left-2401.ppm     36
121  car025  left-2421.ppm     35
122  car025  left-2441.ppm     35
123  car025  left-2461.ppm     34
124  car025  left-2481.ppm     34

[125 rows x 3 columns]

# car026

In [73]:
path26 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/26_annot.txt'

In [74]:
car026 = pd.read_csv(path26, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car026 = car026.iloc[:,::2]
car026

                      all  Angle
0    car026/left-0001.ppm     56
1    car026/left-0014.ppm     56
2    car026/left-0027.ppm     56
3    car026/left-0040.ppm     57
4    car026/left-0053.ppm     57
..                    ...    ...
116  car026/left-1509.ppm    134
117  car026/left-1522.ppm    140
118  car026/left-1535.ppm    147
119  car026/left-1548.ppm    153
120  car026/left-1561.ppm    159

[121 rows x 2 columns]

In [75]:
list_car = list(car026['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car026['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car026['Name'] = Name_list2
car026 = car026.iloc[:,[2,3,1]]
car026

         ID           Name  Angle
0    car026  left-0001.ppm     56
1    car026  left-0014.ppm     56
2    car026  left-0027.ppm     56
3    car026  left-0040.ppm     57
4    car026  left-0053.ppm     57
..      ...            ...    ...
116  car026  left-1509.ppm    134
117  car026  left-1522.ppm    140
118  car026  left-1535.ppm    147
119  car026  left-1548.ppm    153
120  car026  left-1561.ppm    159

[121 rows x 3 columns]

# car027

In [76]:
path27 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/27_annot.txt'

In [77]:
car027 = pd.read_csv(path27, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car027 = car027.iloc[:,::2]
car027

                      all  Angle
0    car027/left-0001.ppm    357
1    car027/left-0014.ppm    360
2    car027/left-0027.ppm      2
3    car027/left-0040.ppm      5
4    car027/left-0053.ppm      7
..                    ...    ...
120  car027/left-1561.ppm     21
121  car027/left-1574.ppm     23
122  car027/left-1587.ppm     26
123  car027/left-1600.ppm     27
124  car027/left-1613.ppm     29

[125 rows x 2 columns]

In [78]:
list_car = list(car027['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car027['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car027['Name'] = Name_list2
car027 = car027.iloc[:,[2,3,1]]
car027

         ID           Name  Angle
0    car027  left-0001.ppm    357
1    car027  left-0014.ppm    360
2    car027  left-0027.ppm      2
3    car027  left-0040.ppm      5
4    car027  left-0053.ppm      7
..      ...            ...    ...
120  car027  left-1561.ppm     21
121  car027  left-1574.ppm     23
122  car027  left-1587.ppm     26
123  car027  left-1600.ppm     27
124  car027  left-1613.ppm     29

[125 rows x 3 columns]

# car028

In [79]:
path28 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/28_annot.txt'

In [80]:
car028 = pd.read_csv(path28, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car028 = car028.iloc[:,::2]
car028

                      all  Angle
0    car028/left-0001.ppm     16
1    car028/left-0017.ppm     16
2    car028/left-0033.ppm     16
3    car028/left-0049.ppm     14
4    car028/left-0065.ppm     12
..                    ...    ...
121  car028/left-1937.ppm     17
122  car028/left-1953.ppm     16
123  car028/left-1969.ppm     15
124  car028/left-1985.ppm     14
125  car028/left-2001.ppm     12

[126 rows x 2 columns]

In [81]:
list_car = list(car028['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car028['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car028['Name'] = Name_list2
car028 = car028.iloc[:,[2,3,1]]
car028

         ID           Name  Angle
0    car028  left-0001.ppm     16
1    car028  left-0017.ppm     16
2    car028  left-0033.ppm     16
3    car028  left-0049.ppm     14
4    car028  left-0065.ppm     12
..      ...            ...    ...
121  car028  left-1937.ppm     17
122  car028  left-1953.ppm     16
123  car028  left-1969.ppm     15
124  car028  left-1985.ppm     14
125  car028  left-2001.ppm     12

[126 rows x 3 columns]

# car029

In [82]:
path29 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/29_annot.txt'

In [83]:
car029 = pd.read_csv(path29, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car029 = car029.iloc[:,::2]
car029

                      all  Angle
0    car029/left-0001.ppm    307
1    car029/left-0016.ppm    307
2    car029/left-0031.ppm    306
3    car029/left-0046.ppm    302
4    car029/left-0061.ppm    300
..                    ...    ...
122  car029/left-1831.ppm    211
123  car029/left-1846.ppm    205
124  car029/left-1861.ppm    199
125  car029/left-1876.ppm    193
126  car029/left-1891.ppm    188

[127 rows x 2 columns]

In [84]:
list_car = list(car029['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car029['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car029['Name'] = Name_list2
car029 = car029.iloc[:,[2,3,1]]
car029

         ID           Name  Angle
0    car029  left-0001.ppm    307
1    car029  left-0016.ppm    307
2    car029  left-0031.ppm    306
3    car029  left-0046.ppm    302
4    car029  left-0061.ppm    300
..      ...            ...    ...
122  car029  left-1831.ppm    211
123  car029  left-1846.ppm    205
124  car029  left-1861.ppm    199
125  car029  left-1876.ppm    193
126  car029  left-1891.ppm    188

[127 rows x 3 columns]

# car030

In [85]:
path30 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/30_annot.txt'

In [86]:
car030 = pd.read_csv(path30, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car030 = car030.iloc[:,::2]
car030

                      all  Angle
0    car030/left-0001.ppm     29
1    car030/left-0018.ppm     29
2    car030/left-0035.ppm     32
3    car030/left-0052.ppm     36
4    car030/left-0069.ppm     40
..                    ...    ...
116  car030/left-1973.ppm    282
117  car030/left-1990.ppm    289
118  car030/left-2007.ppm    296
119  car030/left-2024.ppm    302
120  car030/left-2041.ppm    302

[121 rows x 2 columns]

In [87]:
list_car = list(car030['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car030['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car030['Name'] = Name_list2
car030 = car030.iloc[:,[2,3,1]]
car030

         ID           Name  Angle
0    car030  left-0001.ppm     29
1    car030  left-0018.ppm     29
2    car030  left-0035.ppm     32
3    car030  left-0052.ppm     36
4    car030  left-0069.ppm     40
..      ...            ...    ...
116  car030  left-1973.ppm    282
117  car030  left-1990.ppm    289
118  car030  left-2007.ppm    296
119  car030  left-2024.ppm    302
120  car030  left-2041.ppm    302

[121 rows x 3 columns]

# car032

In [88]:
path32 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/32_annot.txt'

In [89]:
car032 = pd.read_csv(path32, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car032 = car032.iloc[:,::2]
car032

                      all  Angle
0    car032/left-0001.ppm    202
1    car032/left-0016.ppm    201
2    car032/left-0031.ppm    200
3    car032/left-0046.ppm    197
4    car032/left-0061.ppm    194
..                    ...    ...
116  car032/left-1741.ppm    114
117  car032/left-1756.ppm    108
118  car032/left-1771.ppm    102
119  car032/left-1786.ppm     97
120  car032/left-1801.ppm     93

[121 rows x 2 columns]

In [90]:
list_car = list(car032['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car032['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car032['Name'] = Name_list2
car032 = car032.iloc[:,[2,3,1]]
car032

         ID           Name  Angle
0    car032  left-0001.ppm    202
1    car032  left-0016.ppm    201
2    car032  left-0031.ppm    200
3    car032  left-0046.ppm    197
4    car032  left-0061.ppm    194
..      ...            ...    ...
116  car032  left-1741.ppm    114
117  car032  left-1756.ppm    108
118  car032  left-1771.ppm    102
119  car032  left-1786.ppm     97
120  car032  left-1801.ppm     93

[121 rows x 3 columns]

# car033

In [91]:
path33 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/33_annot.txt'

In [92]:
car033 = pd.read_csv(path33, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car033 = car033.iloc[:,::2]
car033

                      all  Angle
0    car033/left-0001.ppm    304
1    car033/left-0022.ppm    304
2    car033/left-0043.ppm    302
3    car033/left-0064.ppm    298
4    car033/left-0085.ppm    296
..                    ...    ...
120  car033/left-2521.ppm      5
121  car033/left-2542.ppm    360
122  car033/left-2563.ppm    356
123  car033/left-2584.ppm    357
124  car033/left-2605.ppm    358

[125 rows x 2 columns]

In [93]:
list_car = list(car033['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car033['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car033['Name'] = Name_list2
car033 = car033.iloc[:,[2,3,1]]
car033

         ID           Name  Angle
0    car033  left-0001.ppm    304
1    car033  left-0022.ppm    304
2    car033  left-0043.ppm    302
3    car033  left-0064.ppm    298
4    car033  left-0085.ppm    296
..      ...            ...    ...
120  car033  left-2521.ppm      5
121  car033  left-2542.ppm    360
122  car033  left-2563.ppm    356
123  car033  left-2584.ppm    357
124  car033  left-2605.ppm    358

[125 rows x 3 columns]

# car034

In [94]:
path34 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/34_annot.txt'

In [95]:
car034 = pd.read_csv(path34, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car034 = car034.iloc[:,::2]
car034

                      all  Angle
0    car034/left-0001.ppm    126
1    car034/left-0015.ppm    126
2    car034/left-0029.ppm    128
3    car034/left-0043.ppm    131
4    car034/left-0057.ppm    135
..                    ...    ...
120  car034/left-1681.ppm    234
121  car034/left-1695.ppm    238
122  car034/left-1709.ppm    242
123  car034/left-1723.ppm    247
124  car034/left-1737.ppm    250

[125 rows x 2 columns]

In [96]:
list_car = list(car034['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car034['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car034['Name'] = Name_list2
car034 = car034.iloc[:,[2,3,1]]
car034

         ID           Name  Angle
0    car034  left-0001.ppm    126
1    car034  left-0015.ppm    126
2    car034  left-0029.ppm    128
3    car034  left-0043.ppm    131
4    car034  left-0057.ppm    135
..      ...            ...    ...
120  car034  left-1681.ppm    234
121  car034  left-1695.ppm    238
122  car034  left-1709.ppm    242
123  car034  left-1723.ppm    247
124  car034  left-1737.ppm    250

[125 rows x 3 columns]

# car035

In [97]:
path35 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/35_annot.txt'

In [98]:
car035 = pd.read_csv(path35, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car035 = car035.iloc[:,::2]
car035

                      all  Angle
0    car035/left-0001.ppm    107
1    car035/left-0015.ppm    106
2    car035/left-0029.ppm    106
3    car035/left-0043.ppm    107
4    car035/left-0057.ppm    109
..                    ...    ...
117  car035/left-1639.ppm    231
118  car035/left-1653.ppm    234
119  car035/left-1667.ppm    238
120  car035/left-1681.ppm    241
121  car035/left-1695.ppm    245

[122 rows x 2 columns]

In [99]:
list_car = list(car035['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car035['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car035['Name'] = Name_list2
car035 = car035.iloc[:,[2,3,1]]
car035

         ID           Name  Angle
0    car035  left-0001.ppm    107
1    car035  left-0015.ppm    106
2    car035  left-0029.ppm    106
3    car035  left-0043.ppm    107
4    car035  left-0057.ppm    109
..      ...            ...    ...
117  car035  left-1639.ppm    231
118  car035  left-1653.ppm    234
119  car035  left-1667.ppm    238
120  car035  left-1681.ppm    241
121  car035  left-1695.ppm    245

[122 rows x 3 columns]

# car037

In [100]:
path37 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/37_annot.txt'

In [101]:
car037 = pd.read_csv(path37, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car037 = car037.iloc[:,::2]
car037

                      all  Angle
0    car037/left-0001.ppm     98
1    car037/left-0021.ppm     99
2    car037/left-0041.ppm     99
3    car037/left-0061.ppm    100
4    car037/left-0081.ppm    101
..                    ...    ...
116  car037/left-2321.ppm    180
117  car037/left-2341.ppm    186
118  car037/left-2361.ppm    190
119  car037/left-2381.ppm    192
120  car037/left-2401.ppm    192

[121 rows x 2 columns]

In [102]:
list_car = list(car037['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car037['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car037['Name'] = Name_list2
car037 = car037.iloc[:,[2,3,1]]
car037

         ID           Name  Angle
0    car037  left-0001.ppm     98
1    car037  left-0021.ppm     99
2    car037  left-0041.ppm     99
3    car037  left-0061.ppm    100
4    car037  left-0081.ppm    101
..      ...            ...    ...
116  car037  left-2321.ppm    180
117  car037  left-2341.ppm    186
118  car037  left-2361.ppm    190
119  car037  left-2381.ppm    192
120  car037  left-2401.ppm    192

[121 rows x 3 columns]

# car038

In [103]:
path38 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/38_annot.txt'

In [104]:
car038 = pd.read_csv(path38, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car038 = car038.iloc[:,::2]
car038

                      all  Angle
0    car038/left-0001.ppm     19
1    car038/left-0016.ppm     19
2    car038/left-0031.ppm     19
3    car038/left-0046.ppm     21
4    car038/left-0061.ppm     23
..                    ...    ...
118  car038/left-1771.ppm     43
119  car038/left-1786.ppm     48
120  car038/left-1801.ppm     53
121  car038/left-1816.ppm     57
122  car038/left-1831.ppm     60

[123 rows x 2 columns]

In [105]:
list_car = list(car038['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car038['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car038['Name'] = Name_list2
car038 = car038.iloc[:,[2,3,1]]
car038

         ID           Name  Angle
0    car038  left-0001.ppm     19
1    car038  left-0016.ppm     19
2    car038  left-0031.ppm     19
3    car038  left-0046.ppm     21
4    car038  left-0061.ppm     23
..      ...            ...    ...
118  car038  left-1771.ppm     43
119  car038  left-1786.ppm     48
120  car038  left-1801.ppm     53
121  car038  left-1816.ppm     57
122  car038  left-1831.ppm     60

[123 rows x 3 columns]

# car039

In [106]:
path39 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/39_annot.txt'

In [107]:
car039 = pd.read_csv(path39, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car039 = car039.iloc[:,::2]
car039

                      all  Angle
0    car039/left-0001.ppm     33
1    car039/left-0012.ppm     33
2    car039/left-0023.ppm     33
3    car039/left-0034.ppm     31
4    car039/left-0045.ppm     29
..                    ...    ...
123  car039/left-1354.ppm     14
124  car039/left-1365.ppm     11
125  car039/left-1376.ppm      8
126  car039/left-1387.ppm      5
127  car039/left-1398.ppm      4

[128 rows x 2 columns]

In [108]:
list_car = list(car039['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car039['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car039['Name'] = Name_list2
car039 = car039.iloc[:,[2,3,1]]
car039

         ID           Name  Angle
0    car039  left-0001.ppm     33
1    car039  left-0012.ppm     33
2    car039  left-0023.ppm     33
3    car039  left-0034.ppm     31
4    car039  left-0045.ppm     29
..      ...            ...    ...
123  car039  left-1354.ppm     14
124  car039  left-1365.ppm     11
125  car039  left-1376.ppm      8
126  car039  left-1387.ppm      5
127  car039  left-1398.ppm      4

[128 rows x 3 columns]

# car040

In [109]:
path40 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/40_annot.txt'

In [110]:
car040 = pd.read_csv(path40, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car040 = car040.iloc[:,::2]
car040

                      all  Angle
0    car040/left-0001.ppm    128
1    car040/left-0013.ppm    128
2    car040/left-0025.ppm    128
3    car040/left-0037.ppm    129
4    car040/left-0049.ppm    131
..                    ...    ...
124  car040/left-1489.ppm    176
125  car040/left-1501.ppm    179
126  car040/left-1513.ppm    182
127  car040/left-1525.ppm    184
128  car040/left-1537.ppm    186

[129 rows x 2 columns]

In [111]:
list_car = list(car040['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car040['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car040['Name'] = Name_list2
car040 = car040.iloc[:,[2,3,1]]
car040

         ID           Name  Angle
0    car040  left-0001.ppm    128
1    car040  left-0013.ppm    128
2    car040  left-0025.ppm    128
3    car040  left-0037.ppm    129
4    car040  left-0049.ppm    131
..      ...            ...    ...
124  car040  left-1489.ppm    176
125  car040  left-1501.ppm    179
126  car040  left-1513.ppm    182
127  car040  left-1525.ppm    184
128  car040  left-1537.ppm    186

[129 rows x 3 columns]

# car041

In [112]:
path41 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/41_annot.txt'

In [113]:
car041 = pd.read_csv(path41, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car041 = car041.iloc[:,::2]
car041

                      all  Angle
0    car041/left-0001.ppm      6
1    car041/left-0011.ppm      6
2    car041/left-0021.ppm      6
3    car041/left-0031.ppm      8
4    car041/left-0041.ppm     12
..                    ...    ...
125  car041/left-1251.ppm     40
126  car041/left-1261.ppm     43
127  car041/left-1271.ppm     45
128  car041/left-1281.ppm     48
129  car041/left-1291.ppm     51

[130 rows x 2 columns]

In [114]:
list_car = list(car041['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car041['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car041['Name'] = Name_list2
car041 = car041.iloc[:,[2,3,1]]
car041

         ID           Name  Angle
0    car041  left-0001.ppm      6
1    car041  left-0011.ppm      6
2    car041  left-0021.ppm      6
3    car041  left-0031.ppm      8
4    car041  left-0041.ppm     12
..      ...            ...    ...
125  car041  left-1251.ppm     40
126  car041  left-1261.ppm     43
127  car041  left-1271.ppm     45
128  car041  left-1281.ppm     48
129  car041  left-1291.ppm     51

[130 rows x 3 columns]

# car042

In [115]:
path42 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/42_annot.txt'

In [116]:
car042 = pd.read_csv(path42, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car042 = car042.iloc[:,::2]
car042

                      all  Angle
0    car042/left-0001.ppm     24
1    car042/left-0014.ppm     24
2    car042/left-0027.ppm     27
3    car042/left-0040.ppm     29
4    car042/left-0053.ppm     32
..                    ...    ...
118  car042/left-1535.ppm     95
119  car042/left-1548.ppm     98
120  car042/left-1561.ppm    101
121  car042/left-1574.ppm    104
122  car042/left-1587.ppm    107

[123 rows x 2 columns]

In [117]:
list_car = list(car042['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car042['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car042['Name'] = Name_list2
car042 = car042.iloc[:,[2,3,1]]
car042

         ID           Name  Angle
0    car042  left-0001.ppm     24
1    car042  left-0014.ppm     24
2    car042  left-0027.ppm     27
3    car042  left-0040.ppm     29
4    car042  left-0053.ppm     32
..      ...            ...    ...
118  car042  left-1535.ppm     95
119  car042  left-1548.ppm     98
120  car042  left-1561.ppm    101
121  car042  left-1574.ppm    104
122  car042  left-1587.ppm    107

[123 rows x 3 columns]

# car043

In [118]:
path43 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/43_annot.txt'

In [119]:
car043 = pd.read_csv(path43, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car043 = car043.iloc[:,::2]
car043

                      all  Angle
0    car043/left-0001.ppm     61
1    car043/left-0017.ppm     61
2    car043/left-0033.ppm     62
3    car043/left-0049.ppm     65
4    car043/left-0065.ppm     68
..                    ...    ...
118  car043/left-1889.ppm    306
119  car043/left-1905.ppm    310
120  car043/left-1921.ppm    316
121  car043/left-1937.ppm    322
122  car043/left-1953.ppm    329

[123 rows x 2 columns]

In [120]:
list_car = list(car043['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car043['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car043['Name'] = Name_list2
car043 = car043.iloc[:,[2,3,1]]
car043

         ID           Name  Angle
0    car043  left-0001.ppm     61
1    car043  left-0017.ppm     61
2    car043  left-0033.ppm     62
3    car043  left-0049.ppm     65
4    car043  left-0065.ppm     68
..      ...            ...    ...
118  car043  left-1889.ppm    306
119  car043  left-1905.ppm    310
120  car043  left-1921.ppm    316
121  car043  left-1937.ppm    322
122  car043  left-1953.ppm    329

[123 rows x 3 columns]

#car044

In [121]:
path44 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/44_annot.txt'

In [122]:
car044 = pd.read_csv(path44, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car044 = car044.iloc[:,::2]
car044

                      all  Angle
0    car044/left-0001.ppm     80
1    car044/left-0017.ppm     80
2    car044/left-0033.ppm     80
3    car044/left-0049.ppm     81
4    car044/left-0065.ppm     83
..                    ...    ...
122  car044/left-1953.ppm     71
123  car044/left-1969.ppm     77
124  car044/left-1985.ppm     82
125  car044/left-2001.ppm     87
126  car044/left-2017.ppm     91

[127 rows x 2 columns]

In [123]:
list_car = list(car044['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car044['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car044['Name'] = Name_list2
car044 = car044.iloc[:,[2,3,1]]
car044

         ID           Name  Angle
0    car044  left-0001.ppm     80
1    car044  left-0017.ppm     80
2    car044  left-0033.ppm     80
3    car044  left-0049.ppm     81
4    car044  left-0065.ppm     83
..      ...            ...    ...
122  car044  left-1953.ppm     71
123  car044  left-1969.ppm     77
124  car044  left-1985.ppm     82
125  car044  left-2001.ppm     87
126  car044  left-2017.ppm     91

[127 rows x 3 columns]

# car045

In [124]:
path45 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/45_annot.txt'

In [125]:
car045 = pd.read_csv(path45, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car045 = car045.iloc[:,::2]
car045

                      all  Angle
0    car045/left-0001.ppm     30
1    car045/left-0016.ppm     31
2    car045/left-0031.ppm     33
3    car045/left-0046.ppm     37
4    car045/left-0061.ppm     41
..                    ...    ...
116  car045/left-1741.ppm     37
117  car045/left-1756.ppm     43
118  car045/left-1771.ppm     49
119  car045/left-1786.ppm     55
120  car045/left-1801.ppm     60

[121 rows x 2 columns]

In [126]:
list_car = list(car045['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car045['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car045['Name'] = Name_list2
car045 = car045.iloc[:,[2,3,1]]
car045

         ID           Name  Angle
0    car045  left-0001.ppm     30
1    car045  left-0016.ppm     31
2    car045  left-0031.ppm     33
3    car045  left-0046.ppm     37
4    car045  left-0061.ppm     41
..      ...            ...    ...
116  car045  left-1741.ppm     37
117  car045  left-1756.ppm     43
118  car045  left-1771.ppm     49
119  car045  left-1786.ppm     55
120  car045  left-1801.ppm     60

[121 rows x 3 columns]

# car046

In [127]:
path46 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/46_annot.txt'

In [128]:
car046 = pd.read_csv(path46, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car046 = car046.iloc[:,::2]
car046

                      all  Angle
0    car046/left-0001.ppm    278
1    car046/left-0011.ppm    278
2    car046/left-0021.ppm    278
3    car046/left-0031.ppm    278
4    car046/left-0041.ppm    279
..                    ...    ...
120  car046/left-1201.ppm    311
121  car046/left-1211.ppm    314
122  car046/left-1221.ppm    317
123  car046/left-1231.ppm    320
124  car046/left-1241.ppm    323

[125 rows x 2 columns]

In [129]:
list_car = list(car046['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car046['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car046['Name'] = Name_list2
car046 = car046.iloc[:,[2,3,1]]
car046

         ID           Name  Angle
0    car046  left-0001.ppm    278
1    car046  left-0011.ppm    278
2    car046  left-0021.ppm    278
3    car046  left-0031.ppm    278
4    car046  left-0041.ppm    279
..      ...            ...    ...
120  car046  left-1201.ppm    311
121  car046  left-1211.ppm    314
122  car046  left-1221.ppm    317
123  car046  left-1231.ppm    320
124  car046  left-1241.ppm    323

[125 rows x 3 columns]

# car047

In [130]:
path47 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/47_annot.txt'

In [131]:
car047 = pd.read_csv(path47, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car047 = car047.iloc[:,::2]
car047

                      all  Angle
0    car047/left-0001.ppm    202
1    car047/left-0020.ppm    202
2    car047/left-0039.ppm    203
3    car047/left-0058.ppm    205
4    car047/left-0077.ppm    207
..                    ...    ...
121  car047/left-2300.ppm    327
122  car047/left-2319.ppm    333
123  car047/left-2338.ppm    338
124  car047/left-2357.ppm    341
125  car047/left-2376.ppm    344

[126 rows x 2 columns]

In [132]:
list_car = list(car047['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car047['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car047['Name'] = Name_list2
car047 = car047.iloc[:,[2,3,1]]
car047

         ID           Name  Angle
0    car047  left-0001.ppm    202
1    car047  left-0020.ppm    202
2    car047  left-0039.ppm    203
3    car047  left-0058.ppm    205
4    car047  left-0077.ppm    207
..      ...            ...    ...
121  car047  left-2300.ppm    327
122  car047  left-2319.ppm    333
123  car047  left-2338.ppm    338
124  car047  left-2357.ppm    341
125  car047  left-2376.ppm    344

[126 rows x 3 columns]

# car048

In [133]:
path48 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/48_annot.txt'

In [134]:
car048 = pd.read_csv(path48, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car048 = car048.iloc[:,::2]
car048

                      all  Angle
0    car048/left-0001.ppm     22
1    car048/left-0011.ppm     21
2    car048/left-0021.ppm     19
3    car048/left-0031.ppm     17
4    car048/left-0041.ppm     15
..                    ...    ...
126  car048/left-1261.ppm    354
127  car048/left-1271.ppm    351
128  car048/left-1281.ppm    348
129  car048/left-1291.ppm    344
130  car048/left-1301.ppm    341

[131 rows x 2 columns]

In [135]:
list_car = list(car048['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car048['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car048['Name'] = Name_list2
car048 = car048.iloc[:,[2,3,1]]
car048

         ID           Name  Angle
0    car048  left-0001.ppm     22
1    car048  left-0011.ppm     21
2    car048  left-0021.ppm     19
3    car048  left-0031.ppm     17
4    car048  left-0041.ppm     15
..      ...            ...    ...
126  car048  left-1261.ppm    354
127  car048  left-1271.ppm    351
128  car048  left-1281.ppm    348
129  car048  left-1291.ppm    344
130  car048  left-1301.ppm    341

[131 rows x 3 columns]

# car049

In [136]:
path49 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/49_annot.txt'

In [137]:
car049 = pd.read_csv(path49, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car049 = car049.iloc[:,::2]
car049

                      all  Angle
0    car049/left-0001.ppm     13
1    car049/left-0011.ppm     13
2    car049/left-0021.ppm     14
3    car049/left-0031.ppm     16
4    car049/left-0041.ppm     19
..                    ...    ...
116  car049/left-1161.ppm     38
117  car049/left-1171.ppm     41
118  car049/left-1181.ppm     44
119  car049/left-1191.ppm     46
120  car049/left-1201.ppm     48

[121 rows x 2 columns]

In [138]:
list_car = list(car049['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car049['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car049['Name'] = Name_list2
car049 = car049.iloc[:,[2,3,1]]
car049

         ID           Name  Angle
0    car049  left-0001.ppm     13
1    car049  left-0011.ppm     13
2    car049  left-0021.ppm     14
3    car049  left-0031.ppm     16
4    car049  left-0041.ppm     19
..      ...            ...    ...
116  car049  left-1161.ppm     38
117  car049  left-1171.ppm     41
118  car049  left-1181.ppm     44
119  car049  left-1191.ppm     46
120  car049  left-1201.ppm     48

[121 rows x 3 columns]

#car050

In [139]:
path50 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/50_annot.txt'

In [140]:
car050 = pd.read_csv(path50, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car050 = car050.iloc[:,::2]
car050

                      all  Angle
0    car050/left-0001.ppm    300
1    car050/left-0011.ppm    300
2    car050/left-0021.ppm    301
3    car050/left-0031.ppm    303
4    car050/left-0041.ppm    306
..                    ...    ...
125  car050/left-1251.ppm    322
126  car050/left-1261.ppm    325
127  car050/left-1271.ppm    327
128  car050/left-1281.ppm    329
129  car050/left-1291.ppm    329

[130 rows x 2 columns]

In [141]:
list_car = list(car050['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car050['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car050['Name'] = Name_list2
car050 = car050.iloc[:,[2,3,1]]
car050

         ID           Name  Angle
0    car050  left-0001.ppm    300
1    car050  left-0011.ppm    300
2    car050  left-0021.ppm    301
3    car050  left-0031.ppm    303
4    car050  left-0041.ppm    306
..      ...            ...    ...
125  car050  left-1251.ppm    322
126  car050  left-1261.ppm    325
127  car050  left-1271.ppm    327
128  car050  left-1281.ppm    329
129  car050  left-1291.ppm    329

[130 rows x 3 columns]

# car051

In [142]:
path51 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/51_annot.txt'

In [143]:
car051 = pd.read_csv(path51, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car051 = car051.iloc[:,::2]
car051

                      all  Angle
0    car051/left-0001.ppm     34
1    car051/left-0012.ppm     35
2    car051/left-0023.ppm     36
3    car051/left-0034.ppm     37
4    car051/left-0045.ppm     39
..                    ...    ...
120  car051/left-1321.ppm    114
121  car051/left-1332.ppm    118
122  car051/left-1343.ppm    121
123  car051/left-1354.ppm    124
124  car051/left-1365.ppm    127

[125 rows x 2 columns]

In [144]:
list_car = list(car051['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car051['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car051['Name'] = Name_list2
car051 = car051.iloc[:,[2,3,1]]
car051

         ID           Name  Angle
0    car051  left-0001.ppm     34
1    car051  left-0012.ppm     35
2    car051  left-0023.ppm     36
3    car051  left-0034.ppm     37
4    car051  left-0045.ppm     39
..      ...            ...    ...
120  car051  left-1321.ppm    114
121  car051  left-1332.ppm    118
122  car051  left-1343.ppm    121
123  car051  left-1354.ppm    124
124  car051  left-1365.ppm    127

[125 rows x 3 columns]

# car052

In [145]:
path52 = r'/content/drive/My Drive/unsup-car-dataset/freiburg_static_cars_52_v1.1/annotations/52_annot.txt'

In [146]:
car052 = pd.read_csv(path52, delimiter = '\t', names=['all', 'X', 'Angle'],header=None)
car052 = car052.iloc[:,::2]
car052

                      all  Angle
0    car052/left-0001.ppm    291
1    car052/left-0011.ppm    292
2    car052/left-0021.ppm    294
3    car052/left-0031.ppm    297
4    car052/left-0041.ppm    300
..                    ...    ...
126  car052/left-1261.ppm    332
127  car052/left-1271.ppm    336
128  car052/left-1281.ppm    339
129  car052/left-1291.ppm    342
130  car052/left-1301.ppm    343

[131 rows x 2 columns]

In [147]:
list_car = list(car052['all']) # เก็บที่อยู่ของภาพในรูปแบบตาราง โดยชื่อว่า list_path2 ซึ่ง list(ชื่อตาราง['ชื่อคอลัมน์'])
ID_list2 = list() # สร้างตัวแปร class_list มาเก็บ angle ว่าง
Name_list2 = list()
for i in list_car: # วนลูปใน list_path2
    res = i.split('/') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    ID_list2.append(res[0]) # append  คำสั่งเพิ่มข้อมูลลงใน List
    Name_list2.append(res[1])
car052['ID'] = ID_list2 # ตั้งชื่อคอลัมน์ว่า Angle ในตาราง pathname โดยนำค่าใน angle_list2 มาใส่
car052['Name'] = Name_list2
car052 = car052.iloc[:,[2,3,1]]
car052

         ID           Name  Angle
0    car052  left-0001.ppm    291
1    car052  left-0011.ppm    292
2    car052  left-0021.ppm    294
3    car052  left-0031.ppm    297
4    car052  left-0041.ppm    300
..      ...            ...    ...
126  car052  left-1261.ppm    332
127  car052  left-1271.ppm    336
128  car052  left-1281.ppm    339
129  car052  left-1291.ppm    342
130  car052  left-1301.ppm    343

[131 rows x 3 columns]

# save file .csv

In [148]:
DY.to_csv('DY.csv')

In [149]:
DN.to_csv('DN.csv')

In [150]:
car001.to_csv('car001.csv')

In [151]:
car002.to_csv('car002.csv')

In [152]:
car003.to_csv('car003.csv')

In [153]:
car004.to_csv('car004.csv')

In [154]:
car005.to_csv('car005.csv')

In [155]:
car007.to_csv('car007.csv')

In [156]:
car008.to_csv('car008.csv')

In [157]:
car009.to_csv('car009.csv')

In [158]:
car010.to_csv('car010.csv')

In [159]:
car011.to_csv('car011.csv')

In [160]:
car012.to_csv('car012.csv')

In [161]:
car013.to_csv('car013.csv')

In [162]:
car014.to_csv('car014.csv')

In [163]:
car015.to_csv('car015.csv')

In [164]:
car016.to_csv('car016.csv')

In [165]:
car017.to_csv('car017.csv')

In [166]:
car018.to_csv('car018.csv')

In [167]:
car019.to_csv('car019.csv')

In [168]:
car021.to_csv('car021.csv')

In [169]:
car022.to_csv('car022.csv')

In [170]:
car024.to_csv('car024.csv')

In [171]:
car025.to_csv('car025.csv')

In [172]:
car026.to_csv('car026.csv')

In [173]:
car027.to_csv('car027.csv')

In [174]:
car028.to_csv('car028.csv')

In [175]:
car029.to_csv('car029.csv')

In [176]:
car030.to_csv('car030.csv')

In [177]:
car032.to_csv('car032.csv')

In [178]:
car033.to_csv('car033.csv')

In [179]:
car034.to_csv('car034.csv')

In [180]:
car035.to_csv('car035.csv')

In [181]:
car037.to_csv('car037.csv')

In [182]:
car038.to_csv('car038.csv')

In [183]:
car039.to_csv('car039.csv')

In [184]:
car040.to_csv('car040.csv')

In [185]:
car041.to_csv('car041.csv')

In [186]:
car042.to_csv('car042.csv')

In [187]:
car043.to_csv('car043.csv')

In [188]:
car044.to_csv('car044.csv')

In [189]:
car045.to_csv('car045.csv')

In [190]:
car046.to_csv('car046.csv')

In [191]:
car047.to_csv('car047.csv')

In [192]:
car048.to_csv('car048.csv')

In [193]:
car049.to_csv('car049.csv')

In [194]:
car050.to_csv('car050.csv')

In [195]:
car051.to_csv('car051.csv')

In [196]:
car052.to_csv('car052.csv')

# test

In [ ]:
set(car052['Angle'])

{2,
 5,
 8,
 11,
 15,
 18,
 21,
 24,
 28,
 31,
 34,
 37,
 39,
 42,
 45,
 47,
 50,
 53,
 56,
 59,
 62,
 65,
 67,
 70,
 73,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 97,
 100,
 104,
 107,
 111,
 114,
 117,
 121,
 124,
 127,
 131,
 134,
 138,
 141,
 145,
 148,
 151,
 154,
 157,
 161,
 165,
 168,
 171,
 173,
 175,
 177,
 179,
 181,
 184,
 186,
 189,
 193,
 197,
 200,
 203,
 207,
 211,
 214,
 218,
 221,
 224,
 228,
 230,
 233,
 237,
 240,
 241,
 242,
 245,
 248,
 251,
 254,
 256,
 260,
 262,
 265,
 268,
 271,
 273,
 276,
 278,
 281,
 285,
 289,
 291,
 292,
 293,
 294,
 297,
 300,
 301,
 304,
 305,
 308,
 309,
 312,
 313,
 316,
 317,
 321,
 325,
 326,
 329,
 330,
 332,
 334,
 336,
 338,
 339,
 342,
 343,
 346,
 349,
 353,
 356,
 359}

In [ ]:
car052.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      131 non-null    object
 1   Name    131 non-null    object
 2   Angle   131 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.2+ KB

In [ ]:
for i in range(len(car052)):
    ang = car052['Angle'][i]
    if 251 <= ang <= 290 :
        car052.loc[car052.index[i], 'P'] = 'p13, p14'   ## if ',' in car052['p'] , split(',')  
    if 291 >= ang < 311 :
        car052.loc[car052.index[i], 'P'] = 'p12' 
    elif 358 >= ang < 361 or ang <= 30 :
        car052.loc[car052.index[i], 'P'] = 'p06'

In [ ]:
car052

         ID           Name  Angle    P
0    car052  left-0001.ppm    291  p12
1    car052  left-0011.ppm    292  p06
2    car052  left-0021.ppm    294  p06
3    car052  left-0031.ppm    297  p06
4    car052  left-0041.ppm    300  p06
..      ...            ...    ...  ...
126  car052  left-1261.ppm    332  p06
127  car052  left-1271.ppm    336  p06
128  car052  left-1281.ppm    339  p06
129  car052  left-1291.ppm    342  p06
130  car052  left-1301.ppm    343  p06

[131 rows x 4 columns]

In [ ]:
lst_p = list()

car052['P'] = ''
for i in range(len(car052)):
    ang = car052['Angle'][i]
    if 291 >= ang < 311 :
        lst_p.append('p12') 
    elif 358 >= ang < 366 or ang <= 30 :
        lst_p.append('p12')